<div class="student-dtls">


    <div class="row">
        <div class="col-12">
            <div class="student-information-mian">
                <h1>{{studentDetails.name}}</h1>
                <div class="student_image">
                    <!-- <div class="photo">
                        <img [src]="imagePath">
                    </div> -->
                    <div class="photo">
                        <img [src]="imagePath">
                    </div>
                </div>

                <div class="information">
                    <ul>
                        <li> <strong>DOB :</strong> {{studentDetails.dob? (studentDetails.dob | date) : ' - ' }} </li>
                        <li> <strong>Email :</strong> {{studentDetails.email ? studentDetails.email : ' - '}}</li>
                        <li> <strong>Gender :</strong>
                            {{studentDetails.gender ?( studentDetails.gender | titlecase) : ' - '}}</li>
                        <li> <strong>Grade :</strong> {{studentDetails.grade ? studentDetails.grade : '  '}} -
                            {{studentDetails.section ? studentDetails.section : '  '}}</li>
                        <li> <strong>Enrollment Year :</strong>
                            {{studentDetails.yearOfEnrolment ? studentDetails.yearOfEnrolment : ' - '}}</li>
                    </ul>

                </div>

            </div>
            <div class="guardian-information">
                <h3>Guardians :
                </h3>

                <div class="card" *ngFor="let sd of studentDetails['guardianResponseList']">
                    <div class="card-body">
                        <h5 class="card-title">{{sd.relationship}}</h5>
                        <p class="card-text">{{sd.name}}</p>
                        <p class="card-text">{{sd.mobileNumber}}</p>
                        <p class="card-text">{{sd.email}}</p>
                    </div>
                </div>
            </div>
            <div class="btns">

                <button class="btn clubs-socities-btn btn-dark" (click)="setShowClub(true)">Show Clubs/Socities</button>
            </div>


        </div>
        <div class="col-12" *ngIf="showClub">
            <div class="clubs-socity-main">
                <h3>List of Enrolled Club/Society <button class="btn btn-danger" (click)="setShowClub(false)"> <i
                            class="fa fa-close"></i> </button>
                </h3>
                <div *ngIf="club_loader">
                    <div class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="clubs" *ngIf="studentEnrolledClubArr.length">
                    <h4>Clubs</h4>
                    <ul>
                        <li *ngFor="let club of studentEnrolledClubArr; let i = index">{{i+1}}. {{club.name}}</li>
                    </ul>


                </div>
                <div class="society" *ngIf="studentEnrolledSociArr.length">
                    <h4>Society</h4>
                    <ul>
                        <li *ngFor="let club of studentEnrolledSociArr; let i = index">{{i+1}}. {{club.name}}</li>
                    </ul>

                </div>
                <div *ngIf="!club_loader && !(studentEnrolledSociArr.length && studentEnrolledClubArr.length)">
                    <br>
                    <h5><b>No Enrolled Club/Society</b></h5>
                </div>
            </div>
        </div>
    </div>
</div>
