<div [ngClass]="modalClass">
  <div [ngClass]="" class="student_act_details_main ">
    <!----------------------------------List of supervisor------------------------>
    <div class="supervisor-header">
      <div class="title">
        <h1> {{clubObject['name']}} - List of Supervisor </h1>
        <button [disabled]="!(supervisorId)" class="register_act btn btn-primary btn-sm" (click)="clubRegBtn()">
          Register
        </button>
      </div>
    </div>

    <div class="content-main">
    <div class="sidenav">
      <!-- <h2> Supervisors </h2> -->
      <div class="supervisor_profile">
        <div class="container-fluid">
          <div class="row flex-row flex-nowrap">
              <div class="col-3 mt-3" *ngFor="let c of coaches; let i = index" [ngClass]="{'active':supervisorId==c.id}" (click)="getSupervisorSession(c)">
                <div class="supervisor-card">
                  <div class="supervisor_photo"> 
                    <img *ngIf="c.pmagePath" [attr.src]="BASE_URL + c.imagePath">
                    <img *ngIf="!c.pmagePath" src="assets/images/maleteacher.jpg"></div>
                  <div class="teachername" >
                    {{c.name}} </div>
                  <div class="brief">
                    {{c.profileBrief}}
                  </div>
                </div>
              </div>
          </div>
          
        </div>
        
        <div *ngIf="coaches.length==0" id="null">
          <div class="spinner-border text-secondary" role="status" *ngIf="sup_loader">
          </div>{{sup_loader ? '  Loading...' : 'No Supervisor'}}
        </div>
      </div>
    </div>
    <div class="content_container">
      

      <!----------------------------------- List of Students----------------------->
        <div *ngIf="supervisorId">
      <div class="content mt-3">
      
        <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <div class="student-card">
                  <div class="content_box">
                    <div class="content_title">
                      <h2> Students </h2>
                      <select name="grade" [disabled]="stu_loader" (ngModelChange)="filterStudent($event)" [(ngModel)]="gradeId">
                        <option value="" selected>Select Grade</option>
                        <option *ngFor="let g of grades" value={{g.id}}>{{g.grade}} {{g.section}}</option>
                        <option disbaled *ngIf="!grades.length">No Grades Available</option>
                      </select>
                    </div>
                    <ul class="student_list">
                      <li *ngFor="let s of studentsArr; let i = index"> {{i+1}}. {{s.name}} - {{s.grade}} {{s.section}}</li>
                      <li *ngIf="studentsArr.length==0" id="null">
                        <div class="text-secondary" role="status" *ngIf="stu_loader">
                        </div> 
                        
                        <div class="blank">
                          {{stu_loader ? ' Loading...' : 'No Students'}}
                        </div> 
                      </li>
                    </ul>
                  </div>
                </div>
                
              </div>
              <div class="col-8">
                <div class="sessions-card">
        <div class="content_box">
          <div class="content_title">
            <h2> Sessions </h2>
            <select name="status" [disabled]="enrollSch_loader" (ngModelChange)="filterSession($event)"
              [(ngModel)]="filterVal">
              Filter :
              <option value="" selected>All</option>
              <option value="upcoming">Upcoming</option>
              <option value="ended">Ended</option>
            </select>
          </div>
          <div class="day_post">
            <div class="row">
                <div class="col-6 mb-3" *ngFor="let club of clubSchedule; let i = index;">
                  <div class="day" >
                    <h3>{{club.criterionValue | date}} - {{club.criterionValue | date:'EEEE'}} </h3>
                    <ul *ngFor="let res of club.responses; let i = index;">
                      <li id="session_title"> {{i+1}}. {{res.title}}
                        <span *ngIf="res.status=='upcoming'" style="color: green;
                        position: absolute;
                        top: 8px;
                        right: 5px;
                        font-size: 14px;
                        font-weight: bold;">({{res.status | uppercase}})</span>
                        <span *ngIf="res.status=='ended'" style="color: red;
                        position: absolute;
                        top: 8px;
                        right: 5px;
                        font-size: 14px;
                        font-weight: bold;">({{res.status | uppercase}})</span>
                      </li>
                      <li>{{res.club.name}} - {{res.startDate | date:"HH:mm"}}hrs - {{res.endDate | date:"HH:mm"}}hrs
                      </li>
                      <li> <strong>Description : </strong> {{res.description}}</li>
                      <li *ngIf="res.fileResponses.length"><strong>Attachment : </strong><a [attr.href]="BASE_URL + res.fileResponses[0].url">
                        {{res.fileResponses[0].name}}</a></li>  
                    </ul>
                  </div>
                </div>
            </div>
          </div>
          <div *ngIf="enrollSch_loader" class="student_list">
            <!-- <div class="spinner-border text-secondary" role="status" *ngIf="enrollSch_loader">
            </div> -->
            <div class="text-secondary" role="status" *ngIf="enrollSch_loader">
            </div>
            <div class="blank">
              {{enrollSch_loader?'  Loading...':''}}
            </div>
          </div> 
          {{clubSchedule.length==0&&!enrollSch_loader?'No Session Available !': ''}}
           
        </div>
      </div> 
              </div>

            </div>
        </div>

        
        

        <!----------------------------------- Schedule of Sessions------------------>
               

      </div>
    </div>
    </div>
  </div>

  </div>


</div>