.student_act_details_main{
    width: 100%;
    display: inline-block;
}
.schedule-main {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 15px;
    box-shadow: 0 0 3px #ddd;
    background: white;
}
.content_dashboard{
    width: 100%;
    display: inline-block;
}
.sidenav h2{
    font-size: 28px;
    font-weight: 500;
    color: #ccc;
    margin: 12px 0 0 0;
    padding-left: 50px;
}
.supervisor_profile{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    text-align: center;
}
.supervisor_profile img{
    width: 100%;
}
.sidenav .teacherschedule {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.teacherschedule ul {
    padding: 0;
    margin: 0;
}
.teacherschedule li {
    color: #333;
    font-size: 18px;
}
.title{
    width: 100%;
    display: inline-block;
    background: #9fbb73;
    margin: 0;
    padding: 15px 0 0 0;
}
h1 {
    color: #fafafa;
    font-size: 29px;
    text-align: center;
    float: left;
    font-weight: 300;
    word-spacing: 5px;
    padding: 0 10px;
}
button.register_act.btn.btn-primary.btn-sm, .teacherschedule select {
    background: #fff;
    color: black;
    z-index: 1;
    opacity: 1;
    font-size: 16px;
    padding: 5px 15px;
    margin-right: 10px;
    float: right;
    border-radius: 3px !important;
}
.teacherschedule select{
    background: #ccc !important;
}
.middle-content {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.content{
    margin: 0;
    box-shadow: 0 0 3px #ddd;
    padding: 15px;
    width: 100%;
    display: inline-block;
}

.content_title{
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 8px 15px;
    background: #fafafa;
    box-shadow: 0 0 3px #ddd;
}

.content_box select {
    float: right;
    width: auto;
    font-size: 14px;
    background: white;
    color: #555;
    border: solid 1px #ddd;
    padding: 5px 10px;
    height: 31px;
}
li {
    font-size: 17px;
    line-height: 35px;
}
.schedule {
    width: 100%;
    display: inline-block;
    margin: 10px 0;
    background: none;
    box-shadow: 0 0 10px #aaa;
    padding: 10px;
}

.request_box {
    width: 100%;
    display: inline-block;
    background: none;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 0 10px #aaa;
    border-radius: 5px;
}
.name {
    float: left;
    font-size: 19px;
    line-height: 27px;
}
.action {
    float: right;
}
button.confirm {
    background: #156e96;
    float: left;
    margin: 10px;
    font-size: 12px;
    padding: 10px;
    color: #fafafa;
}
button.delete {
    background: #9fbb73;
    margin: 10px;
    color: #fafafa;
}
h5 {
    color: #333;
}
.day_post {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
}
.content_box ul{
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    padding: 0;

}
li#requestbox, #student_list li{
    border: solid 1px #ddd;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 16px;
    height: 45px;
}
li#requestbox ul#actionbuttons {
    float: right;
    margin-top: 0;
}
li#requestbox ul {
    margin: 5px 0 0 0;
    display: inline-block;
    width: auto;
}
ul#studentname li span, #student_list li span {
    color: #4bafa5;
    margin-left: 5px;
}

/*          MODAL REFERENCE          */

.sportmodal {
    border: 5px solid #4bafa5;
}
.skillmodal {
    border: 5px solid #b4d673;
}
.servicemodal {
    border: 5px solid #d86ea3;
}
.studymodal {
    border: 5px solid #1f69ad;
}
.sportmodal h3, .sportmodal h5 {
    color: #4bafa5;
}
.skillmodal h3, .skillmodal h5 {
    color: #b4d673;
}
.servicemodal h3, .servicemodal h5 {
    color: #d86ea3;
}
.studymodal h3, .studymodal h5 {
    color: #1f69ad;
}
.schedule-header {
    background: #fafafa;
    padding:10px 15px;
    box-shadow: 0 0 3px #ddd;
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.schedule-header select {
    float: right;
    border: solid 1px #ddd;
    color: #555;
    padding: 0 10px;
    height: 30px;
}
.schedule-main .teacherschedule {
    margin-top: 40px;
}
.schedule-header > h2 {
    font-size: 20px;
    margin: 5px 0 0 0;
    color: #555;
    display: inline-block;
}
.day {
    box-shadow: 0 0 3px #ddd;
    padding: 15px 15px 5px;
    width: 100%;
    min-height: 100%;
    display: inline-block;
}
.day h3 {
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    background: #fafafa;
    padding: 10px;
    box-shadow: 0 0 3px #ddd;
    font-size: 16px;
    font-weight: bold;
    color: #4bafa5;
}
.day ul li{
    font-size: 14px;
    line-height: normal;
    margin-bottom: 5px;
}
.day .btns .btn {
    margin-right: 5px;
    border-radius: 3px !important;
    font-size: 14px;
    padding: 5px 10px;
}
.day_post li#session_title {
    color: #555 !important;
    font-size: 15px;
    font-weight: bold;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px;
    border-bottom: solid 1px rgba(221, 221, 221, 0.52);
}
.btns {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
.schedule-header .btn {
    float: right;
    border-radius: 3px !important;
    margin-right: 20px;
}
.content_title h2{
    font-size: 18px;
    color: #555;
    display: inline-block;
    margin: 5px 0 0 0;
}

.middle-content .content_box {
    width: 100%;
    display: inline-block;
    box-shadow: 0 0 3px #ddd;
    padding: 15px;
    min-height: 100%;
    height: 100%;
    position: relative;
}
.schedule-main.schedules .schedule-header h2 {
    font-size: 18px;
}
.schedule-main.schedules .schedule-header {
    padding: 8px 10px;
}
input.form-control.time-s, input.form-control.time-e {
    margin-right:10px;
    display: inline-block;
    width: 35% !important;
}

.choose-file{
    display: inline-block;
    padding: 5px 10px;
    border: solid 1px #ddd;
    position: relative;
    width: 300px;
}

.choose-file input + label:after {
    content: "Browse";
    position: absolute;
    right: 0;
    height: 100%;
    background: rgba(0,0,0,0.08);
    top: 0;
    padding: 0 10px;
    line-height: 36px;
    border-left: solid 1px #ddd;
}
.choose-file input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.choose-file input + label {
    float: left;
    margin: 0;
}
.form-group.choosed-file {
    border: solid 1px #ddd;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.file-img {
    max-width: 170px;
    display: inline-block;
    width: auto;
    float: left;
}
.file-name {
    display: inline-block;
    margin-top: 40px;
    float: right;
}
.file-name button.reviewed.icon_button {
    margin-left: 10px;
    border: solid 1px #ddd;
    padding: 0;
    color: #dd343d;
}

ul#studentname li {
    font-size: 16px;
    color: #555;
    line-height: normal;
    overflow: hidden;
}
ul#studentname li p {
    margin: 0;
    font-size: 15px;
    padding: 0 15px;
    line-height: normal;
}
#actionbuttons button.btn {
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 3px !important;
}
.schedule-main .content_box ul {
    max-height: 270px;
    overflow-y: auto;
}

.day li.grades {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}
.day li.des {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 45px;
}
.teacherschedule .day ul {
    border: solid 1px rgba(221, 221, 221, 0.52);
    padding: 10px !important;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px !important;
    margin-top: 5px !important;
}

span.member-statuss {
    color: #555 !important;
    margin-left: 10px !important;
    border: solid 1px #ddd;
    padding: 0 5px;
    font-size: 12px;
    background: #fafafa;
}