<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">S no.</th>
            <th scope="col">Activity</th>
            <th scope="col">Activity Date</th>
            <th scope="col">Activity Details</th>
            <th scope="col">Activity Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let savedactivitiesarr of savedActivitiesArr ; let i = index;" >
            <td>{{i+1}}</td>
            <td>{{savedactivitiesarr}}</td>
            <td>dd/mm/yyyy</td>
            <td>
                <div>Activity Details Here</div>
            </td>
            <td>Activity Status</td>
            <td>
                <button>Submit</button>
            </td>
            <td>
                <button (click)="showSelectedActivities(i)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
