@import '../../../../app.component.scss';

.form {
    margin: 0;
}
.upload.input-field{
    position: relative;
}
span.choosefile.choosefile-custom {
    position: absolute;
    content: "";
    background: none;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 40px;
    right: 0;
    height: 50px;
    left: inherit;
    top: 0;
    text-align: center;
    box-shadow: 0 0 10px $light;
    border-radius: 0;
}

.upload img {
    max-width: 200px;
}
.upload {
    margin-top: 10px;
}
.upload_main {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px;
}

.collapse-td{
    padding: 0;
}

select{
    background: none;
    border: none;
    color: #333;
    height: 40px;
    border-radius: 0 !important;
    width: 120px;
}

button.submit {
    background: green;
}
.submitted{
    color: green;
}
.saved{
    color: #f3cc08;
}
.reviewed{
    color: firebrick;
} 

button.icon_button {
    padding: 5px;
    margin: 0 5px;
    border: none !important;
    background: none !important;
    cursor: pointer;
    box-shadow: none !important;
}
.attachment i.fa {
    font-size: 20px;
    position: relative;
}

/*
i.fa.fa-file-audio:hover span#audio, i.fa.fa-image:hover span#image, i.fa.fa-video-camera:hover span#video{
    visibility: visible;
}
span#audio{
    visibility: visible;
    background: hotpink;
    padding: 5px 10px;
    position: absolute;
    left: 50px;
    bottom: 0;
    border-radius: 5px;
}
span#video{
    visibility: visible;
    background: hotpink;
    padding: 5px 10px;
    position: absolute;
    left: 50px;
    bottom: 0;
    border-radius: 5px;
}
span#image{
    visibility: visible;
    background: hotpink;
    padding: 5px 10px;
    position: absolute;
    left: 50px;
    bottom: 0;
    border-radius: 5px;
}
*/





/*------------------------------------POPUP FORM----------------------------------*/

@import '../../../../app.component.scss';

.upload.input-field{
    position: relative;
}
span.choosefile.choosefile-custom {
    position: absolute;
    content: "";
    background: none;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 40px;
    right: 0;
    height: 50px;
    left: inherit;
    top: 0;
    text-align: center;
    box-shadow: 0 0 10px $light;
    border-radius: 0px;
}
.input-field{
    position: relative;
}
textarea.form-control.add.ng-untouched.ng-pristine.ng-valid {
    padding: 5px !important;
    line-height: 15px !important;
    font-size: 17px !important;
    text-align: left !important;
}
.choosefile_box {
    width: 100%;
    display: inline-block;
    text-align: center;
}
form.add_activity_form .register-form {
    background: white;
    border-radius: 5px;
    position: relative;
    top: 160px;
    // transform: translateY(-50%);
    
    padding: 20px;
    width: 100%;
    max-width: 500px;
}
form.add_activity_form{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}
button.btn.cancel {
    margin: 0 10px;
    background: firebrick !important;
    padding: 12px;
    outline: none !important
}
.action-buttons{
    display: inline-block;
    float: right;
}
button.btn.saved.btnSubmit.btn-success{
    margin-top: 0;
    color: #fafafa;
}
.action-buttons i.fa{
    font-size: 15px;
    margin: 5px;
}
.add_activity_form h4{
    text-align: center;
}
.edit_activity_buttons{
    float: right;
}

tbody tr{
cursor: pointer;
}

.add_activity{
    background: #5f9fd2;
    padding: 5px 15px;
    text-align: center;
    border-radius: 0px;
    margin: 20px;
    color: $light;
    border: none !important;
    box-shadow: 0 0 10px #999;
}
button.add_activity{
    position: fixed;
    bottom: 0;
    right: 0;
}



span.tooltip_text{
    background-color: #888;
    color: #fafafa;
    text-align: center;
    border-radius: 5px;
    padding: 8px 20px;
    position: absolute;
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    display: inline-block;
    width: auto;
    visibility: hidden;
    font-size: 18px;
    font-weight: 00;
    left: 0;
    top: 35px;
  }

  .attachment i.fa:hover span.tooltip_text {
    visibility: visible;
}
  
  span.tooltip_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #888 transparent transparent transparent;
  }