<div class="sortby"> PSD :
    <select style="border: 1px solid #ddd">
        <option value="" disabled hidden> Choose here </option>
        <option>Personal Development</option>
        <option>Social Development</option>
    </select>
</div>
<div class="sortby"> Focus Area :
    <select style="border: 1px solid #ddd">
        <option value="" disabled hidden> Choose here </option>
        <option>Personal Development</option>
        <option>Social Development</option>
    </select>
</div>
<div class="sortby"> 4S :
    <select style="border: 1px solid #ddd">
        <option value="" disabled hidden> Choose here </option>
        <option>Personal Development</option>
        <option>Social Development</option>
    </select>
</div>

<div class="sortby" style="float: right"> Filter by:
    <select style="border: 1px solid #ddd" (ngModelChange)="activityView($event)" ngModel>
        <option value="" disabled hidden> Choose here </option>
        <option value="All" selected> All</option>
        <option value="Saved">Saved</option>
        <option value="Submitted">Submitted</option>
        <option value="Reviewed">Reviewed</option>
    </select>
</div>

<div *ngIf="activityType === 'All'">
    <div *ngIf="loader" class="spinner-border text-dark" role="status">
        <span class="sr-only">Data Loading</span>
    </div>
    <div class="content_main_com">
        <div class="table_main">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Date</th>
                        <th scope="col">Teacher</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="accordionExample">
                    <ng-container *ngFor="let allActi of allActivitiesArr ; let i = index;">
                        <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                            <td>{{i+1}}</td>
                            <td>{{allActi.activityName}}</td>
                            <td>{{getDate(allActi.dateOfActivity) | date}}</td>
                            <td>{{allActi.coachName}}</td>
                            <td>
                                <div *ngIf="allActi.activityStatus === 'SubmittedByStudent'" class="submitted">Submitted
                                </div>
                                <div *ngIf="allActi.activityStatus === 'SavedByStudent'" class="saved">Saved</div>
                                <div *ngIf="allActi.activityStatus === 'Reviewed'" class="reviewed">Reviewed
                                </div>
                            </td>
                            <td>
                                <div>
                                    <button [disabled]="!(allActi.activityStatus === 'SavedByStudent')"
                                        (click)="editSavedActivity($event,allActi)" class="saved icon_button">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button [disabled]="!(allActi.activityStatus === 'SavedByStudent')"
                                        (click)="submitSavedActivity($event,i)" class="submitted icon_button">
                                        <i class="fa fa-paper-plane"></i>
                                    </button>
                                    <button [disabled]="!(allActi.activityStatus === 'SavedByStudent')"
                                        (click)="deleteSavedActivity($event,allActi,i)" class="reviewed icon_button">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="collapse-td" colspan="6">
                                <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">
                                    <div
                                        *ngIf=" (allActi.activityStatus === 'SavedByStudent') || (allActi.activityStatus === 'SubmittedByStudent')">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="description">
                                                    <p><strong>Name : </strong>{{allActi.activityName}}</p>
                                                    <p><strong>Description : </strong>{{allActi.description}}</p>
                                                    <p><strong>Teacher : </strong>{{allActi.coachName}}</p>
                                                    <p><strong>Focus Area : </strong>{{allActi.focusAreas}}</p>
                                                    <p><strong>PSD Area : </strong>{{allActi.psdAreas}}</p>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="attachment">

                                                    <p><strong>Attachments : </strong></p>
                                                    <div *ngFor="let file of allActi.fileResponses">
                                                        <div class="audio" *ngIf="file.extension == 'mp3'"> <i
                                                                class="fa fa-file-audio"></i> {{file.name}} </div>
                                                        <div class="image" *ngIf="file.extension=='jpg'"> <i
                                                                class="fa fa-image"></i> {{file.name}} </div>
                                                        <div class="video" *ngIf="file.extension=='video'"> <i
                                                                class="fa fa-video-camera"
                                                                aria-hidden="true"></i>{{file.name}} </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf=" allActi.activityStatus === 'Reviewed'">
                                        <div class="row">
                                            <div class="col-6">
                                                <p><strong>Participation Score :</strong>{{allActi.participationScore}}
                                                </p>
                                                <p><strong>Initiative Score :</strong>{{allActi.initiativeScore}}</p>
                                                <p><strong>Achievement Score :</strong>{{allActi.achievementScore}}</p>
                                            </div>
                                            <div class="col-6">
                                                <p><strong>Star : </strong>{{allActi.star}}</p>
                                                <p><strong>Remark :</strong>{{allActi.coachRemark}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="activityType === 'Submitted'">
    <div *ngIf="loader" class="spinner-border text-dark" role="status">
        <span class="sr-only">Data Loading</span>
    </div>
    <div class="content_main_com">
        <div class="table_main">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Date</th>
                        <th scope="col">Teacher</th>
                        <th scope="col">Status</th>

                    </tr>
                </thead>
                <tbody id="accordionExample">
                    <ng-container *ngFor="let sa of submittedActivitiesArr ; let i = index;">
                        <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                            <td>{{i+1}}</td>
                            <td>{{sa.activityName}}</td>
                            <td>{{getDate(sa.dateOfActivity) | date}}</td>
                            <td>{{sa.coachName}}</td>
                            <td class="submitted">Submitted</td>

                        </tr>
                        <tr>
                            <td class="collapse-td" colspan="5">
                                <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="description">
                                                <p><strong>Name : </strong>{{sa.activityName}}</p>
                                                <p><strong>Description : </strong>{{sa.description}}</p>
                                                <p><strong>Teacher : </strong>{{sa.coachName}}</p>
                                                <p><strong>Four S : </strong>{{sa.fourS}}</p>
                                                <p><strong>Focus Area : </strong>{{sa.focusAreas}}</p>
                                                <p><strong>PSD Area : </strong>{{sa.psdAreas}}</p>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="attachment">

                                                <p><strong>Attachments : </strong></p>
                                                <div *ngFor="let file of sa.fileResponses">
                                                    <div class="audio" *ngIf="file.extension == 'mp3'"> <i
                                                            class="fa fa-file-audio"></i> {{file.name}} </div>
                                                    <div class="image" *ngIf="file.extension=='jpg'"> <i
                                                            class="fa fa-image"></i> {{file.name}} </div>
                                                    <div class="video" *ngIf="file.extension=='video'"> <i
                                                            class="fa fa-video-camera"
                                                            aria-hidden="true"></i>{{file.name}} </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="activityType === 'Saved'">
    <div *ngIf="loader" class="spinner-border text-dark" role="status">
        <span class="sr-only">Data Loading</span>
    </div>
    <div class="content_main_com">
        <div class="table_main">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Date</th>
                        <th scope="col">Teacher</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="accordionExample">
                    <ng-container *ngFor="let sa of savedActivitiesArr ; let i = index;">
                        <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                            <td>{{i+1}}</td>
                            <td>{{sa.activityName}}</td>
                            <td>{{getDate(sa.dateOfActivity) | date}}</td>
                            <td>{{sa.coachName}}</td>
                            <td> Saved </td>
                            <td>
                                <div>
                                    <button (click)="editSavedActivity($event,sa)" class="saved icon_button">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button (click)="submitSavedActivity($event,i)" class="submitted icon_button">
                                        <i class="fa fa-paper-plane"></i>
                                    </button>
                                    <button (click)="deleteSavedActivity($event,sa,i)" class="reviewed icon_button">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr style="border: none">
                            <td class="collapse-td" colspan="6">
                                <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="description">
                                                <p><strong>Name : </strong> {{sa.activityName}}</p>
                                                <p><strong>Description : </strong>{{sa.description}}</p>
                                                <p><strong>Teacher : </strong>{{sa.coachName}}</p>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div>
                                                <p><strong>Attachments : </strong></p>
                                                <div *ngFor="let file of sa.fileResponses">
                                                    <div class="audio" *ngIf="file.extension == 'mp3'"> <i
                                                            class="fa fa-file-audio"></i> {{file.name}} </div>
                                                    <div class="image" *ngIf="file.extension=='jpg'"> <i
                                                            class="fa fa-image"></i> {{file.name}} </div>
                                                    <div class="video" *ngIf="file.extension=='video'"> <i
                                                            class="fa fa-video-camera"
                                                            aria-hidden="true"></i>{{file.name}} </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="activityType === 'Reviewed'">
    <div *ngIf="loader" class="spinner-border text-dark" role="status">
        <span class="sr-only">Data Loading</span>
    </div>
    <div class="content_main_com">
        <div class="table_main">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Date</th>
                        <th scope="col">Teacher</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody id="accordionExample">
                    <ng-container *ngFor="let ra of reviewedActivitiesArr ; let i = index;">
                        <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                            <td>{{i+1}}</td>
                            <td>{{ra.activityName}}</td>
                            <td>{{getDate(ra.dateOfActivity) | date}}</td>
                            <td>{{ra.coachName}}</td>
                            <td>Reviewed</td>
                        </tr>
                        <tr styole="border : none">
                            <td class="collapse-td" colspan="5">
                                <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">
                                    <div class="row">
                                        <div class="col-6">
                                            <p><strong>Participation Score :</strong>{{ra.participationScore}}</p>
                                            <p><strong>Initiative Score :</strong>{{ra.initiativeScore}}</p>
                                            <p><strong>Achievement Score :</strong>{{ra.achievementScore}}</p>
                                        </div>
                                        <div class="col-6">
                                            <p><strong>Star : </strong>{{ra.star}}</p>
                                            <p><strong>Remark :</strong>{{ra.coachRemark}}</p>
                                            <p><strong>Date : </strong>{{ra.remarkDate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Edit Activity Form  -->
<div *ngIf="editActivityShow">
    <form class="add_activity_form" [formGroup]="savedActivityForm" (ngSubmit)="updateActivity()">
        <div class="container register-form">
            <div class="form">
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h4> Edit Activity </h4>
                            <div class="form-group">Activity :
                                <select class="form-control" (ngModelChange)="getStudentCoach($event)"
                                    formControlName="activityId">
                                    <option value="" selected>{{activityName}}</option>
                                    <option *ngFor="let activity of activities; let i = index" value={{activity.id}}>
                                        {{activity.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">Teacher/Coach :
                                <select class="form-control" formControlName="coachId">
                                    <option value="" selected>{{activityTeacher}}</option>
                                    <option *ngFor="let coach of coaches; let i = index;" value={{coach.id}}>
                                        {{coach.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">Description :
                                <textarea class="form-control add" formControlName="description"></textarea>
                            </div>
                            <div class="form-group">Date :
                                <input type="date" class="form-control" formControlName="dateOfActivity" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="choosefile_box">
                                <div class="form-group"> Select File :
                                    <div class="input-field">
                                        <input class="choosefile" type="file" name="selectedFile"
                                            (change)="onFileSelect($event)" multiple />
                                        <span class="choosefile choosefile-custom"> <i class="fa fa-file"></i> </span>
                                    </div>
                                    <div *ngFor="let sf of file">
                                        <p>{{sf.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="edit_activity_buttons">
                                <button class="btn cancel" type="button" (click)="onCancel()">Cancel</button>
                                <button class="btn saved btnSubmit btn-success" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>