.stu_certi{
    width: 100%;
    display: inline-block;
}
.container {
    width: 100%;
    max-width: 1470px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.row{
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
    display: block;
}
.col-3{
    width: 25%;
    display: inline-block;
    padding: 0 15px;
}
.certi_box {
    width: 100%;
    margin: 0;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 5px #ddd;
    transition: 0.5s;
    cursor: pointer;
    min-height: 100%;
    background: #fff;
    vertical-align: top;
}
.certi_box:hover{
    transform: scale(1.02);
}
.card_box {
    text-align: center;
    margin: 0;
    width: 100%;
}
.card_box img{
    width: 100%;
}
.card_box h2{
    font-size: 24px;
    text-align: center;
    color: #8dc33a;
    margin: 10px 0;
}
.card_box p{
    font-size: 15px;
    color: #333;
    margin-bottom: 8px;

}

.certi_text {
    padding: 10px;
}
button#add_certi{
    background: #8dc33a !important;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 3% !important;
    padding: 8px 10px;
    margin: 20px;
    font-size: 16px;
}
.form-group h2 {
    color: crimson;
    font-size: 15px;
}
.form-control:disabled, .form-control[readonly]{
    background: gainsboro !important;
}
.form-group{
    margin-bottom: 10px !important;
}
// .modal-footer{
//     padding: 5px 0 0 0 !important;
// }
.modal-header{
    padding: 10px 20px;
}
.modal-content{
    position: relative;
    top: 0;
    outline: none !important;
    // border: 5px solid #808080;
    border-radius: 0;
}

.add-act.choosefile_box {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 0;
    margin-top: 20px;
}
.add-act.choosefile_box span.choosefile.choosefile-custom {
    position: absolute;
    content: "";
    background: none;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 45px;
    left: 0;
    top: 0;
    // box-shadow: 0 0 10px white;
    border-radius: 0px;
    border: 1px solid #ddd;
}
.add-act.choosefile_box span.choosefile.choosefile-custom:after {
    content: "Choose file...";
    position: absolute;
    width: 60%;
    left: 0;
    padding: 10px 0;
    color: #333;
    z-index: 1;
}
.modal-footer button.btn {
    border-radius: 3px !important;
}

span.choosefile.choosefile-custom:before {
    content: "Browse";
    position: absolute;
    background: gainsboro;
    width: 35%;
    padding: 9px 0px;
    color: #333;
    border-radius: 0px;
    top: 0;
    right: 0;
}
.add-act.choosefile_box i.fa.fa-file {
    float: left;
    position: absolute;
    left: 12px;
    top: 15px;
    font-size: 15px;
}
// .btn-success.disabled, .btn-success:disabled{
//     background: #8dc33a !important;
// }
.reviewed{
    color: firebrick;
}
button.icon_button {
    padding: 5px;
    margin: 0 5px;
    border: none !important;
    background: none !important;
    cursor: pointer;
    box-shadow: none !important;
} 

.nocerti {
    width: 500px;
    height: 150px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    margin: 0 auto;
    top: 100px;
    padding: 15px;
    border: 3px solid #8dc33a;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
}
.nocerti h3 {
    font-size: 45px;
    font-family: initial !important;
}
.nocerti h5 {
    font-size: 27px;
    font-family: initial !important;
    margin-top: 20px;
}
.certificate-img {
    width: 120px;
    margin-top: 0;
    float: left;
}
.certificate-img img{
    width: 100%;
}
.certificate-img-main {
    display: inline-block;
    width: 100%;
    border: solid 1px #ddd;
    margin-top: 30px;
    padding: 0;
}
.certificate-img-main > p {
    display: inline-block;
    width: auto;
    float: right;
    margin-top: 15px;
    margin-bottom: 0;
}
.stu_certi .row{
    display: flex;
}