
.certi_box {
    width: 100%;
    display: inline-flex;
    margin: 0 auto;
    position: relative;
}
.card_box {
    background: #d0c5ae;
    text-align: center;
    opacity: 0.8;
    margin: 0 auto;
    width: 90%;
    min-height: 420px;
    max-width: 500px;
}
.card_box img{
    width: 100%;
}
.card_box h2{
    font-size: 24px;
    text-align: center;
}
.card_box p{
    font-size: 17px;
}
.card_box:hover{
    opacity: 1.0;
    box-shadow: 0 0 5px #ddd;
    transition: 0.5s;
    transform: scale(1.02);
    cursor: pointer;
}
.certi_text {
    padding: 10px;
}
button#add_certi{
    background: #8dc33a !important;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50% !important;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}
.form-group h2 {
    color: crimson;
    font-size: 15px;
}
.form-control:disabled, .form-control[readonly]{
    background: gainsboro !important;
}
.form-group{
    margin-bottom: 10px !important;
}
.modal-footer{
    padding: 5px 0 0 0 !important;
}
.modal-header{
    padding: 10px 20px;
}
.modal-content{
    position: relative;
    top: 50px;
    outline: none !important;
    border: 5px solid #808080;
}

.add-act.choosefile_box {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    margin-top: 20px;
}
.add-act.choosefile_box span.choosefile.choosefile-custom {
    position: absolute;
    content: "";
    background: none;
    z-index: 1;
    opacity: 1;
    width: 75%;
    height: 44px;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px white;
    border-radius: 0px;
    border: 1px solid gainsboro;
}
.add-act.choosefile_box span.choosefile.choosefile-custom:after {
    content: "Choose file...";
    position: absolute;
    width: 60%;
    left: 0;
    padding: 10px 0;
    color: #333;
    z-index: 1;
}
span.choosefile.choosefile-custom:before {
    content: "Browse";
    position: absolute;
    background: gainsboro;
    width: 35%;
    padding: 9px 0px;
    color: #333;
    border-radius: 0px;
    top: 0;
    right: 0;
}
.add-act.choosefile_box i.fa.fa-file {
    float: left;
    position: absolute;
    left: 12px;
    top: 15px;
    font-size: 15px;
}
.btn-success.disabled, .btn-success:disabled{
    background: #8dc33a !important;
}
.reviewed{
    color: firebrick;
}
button.icon_button {
    padding: 5px;
    margin: 0 5px;
    border: none !important;
    background: none !important;
    cursor: pointer;
    box-shadow: none !important;
} 