<div class="stu_certi">
    <div class="container">
        <div class="row">
            <div class="col-12" *ngIf=" !certificate_loader &&!(certificatesArr.length)">
                <div class="nocerti">
                    <h3> OOPS! </h3>
                    <h5> You Have Not Added Any Certificate.</h5>
                </div>
            </div>
            <div *ngFor="let certi of certificatesArr; let i = index" class="col-4 mb-4">
                <div class="certi_box">
                    <div class="card_box">
                        <div class="certi-img">
                            <img [attr.src]="BASE_URL + certi.imageUrl">
                        </div>
                        <div class="certi_text">
                            <h2>{{certi.title}}</h2>
                            <p class="des"> {{certi.description}}</p>
                            <p> <span *ngIf="certi.fourS=='Skill'" style="color: #4bafa5;"> {{certi.fourS}}
                                </span>
                                <span *ngIf="certi.fourS=='Sport'" style="color: #e04090;">
                                    {{certi.fourS}}
                                </span>
                                <span *ngIf="certi.fourS=='Study'" style="color: #1f69ad; font-size: 16px;">
                                    {{certi.fourS}}
                                </span>
                                <span *ngIf="certi.fourS=='Service'" style="color: #8dc33a;">
                                    {{certi.fourS}}
                                </span>
                            </p>
                            <p>{{certi.certificationAuthority}}</p>
                            <div class="btns-certifivates">
                                <button class="btn btn-primary" (click)="editCertificatebtn(certi,i)">Edit</button>
                                <button class="btn btn-success"><a
                                        [attr.href]="BASE_URL + certi.imageUrl">Download</a></button>
                                <button class="btn btn-danger" (click)="deleteCertificate(certi,i)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="add_certi" type="button" class="btn btn-primary" data-toggle="modal" data-target="#certificateModal"
        (click)="addCertificatebtn()">
        <i class="fa fa-plus"></i> Certificate
    </button>

    <!--------------------------------- Modal ------------------------------------->
    <div class="modal fade" id="certificateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{certiModalType}} Certificate</h5>
                    <button type="button" name="close" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="resetForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="certificateForm" (ngSubmit)="addCertificate()">
                        <div class="form-group">
                            <!-- <h2> Note : All Fields Are Mandatory </h2> -->
                            <label for="recipient-name" class="col-form-label">Title <span>*</span> </label>
                            <input type="text" class="form-control" name="name" formControlName="title">
                            <small class="text-danger"
                                *ngIf="!certificateForm.get('title').valid && certificateForm.get('title').touched">
                                Title Required
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Description <span>*</span> </label>
                            <textarea class="form-control add" name="description" formControlName="description"
                                rows="3"></textarea>
                            <small class="text-danger"
                                *ngIf="!certificateForm.get('description').valid && certificateForm.get('description').touched">
                                Description Required
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">4S <span>*</span> </label>
                            <select class="form-control" name="fourS" formControlName="fourS">
                                <option value="" Selected Disabled>Choose One</option>
                                <option *ngFor="let fourS of fourSArr" value={{fourS}}>{{fourS}}
                                </option>
                            </select>
                            <small class="text-danger"
                                *ngIf="!certificateForm.get('fourS').valid && certificateForm.get('fourS').touched">
                                4S Required
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Authority <span>*</span> </label>
                            <input type="text" name="certificationAuthority" class="form-control"
                                formControlName="certificationAuthority">
                            <small class="text-danger"
                                *ngIf="!certificateForm.get('certificationAuthority').valid && certificateForm.get('certificationAuthority').touched">
                                Authority Required
                            </small>
                        </div>

                        <div class="form-group">
                            <div class="add-act choosefile_box">
                                <label for="recipient-name" class="col-form-label"></label>
                                <input class="choosefile" type="file" accept="image/*,application/pdf"
                                    formControlName="image" name="selectedFile" accept=".png, .jpg, .jpeg"
                                    (change)="onFileSelect($event)">

                                <span class="choosefile choosefile-custom"> <i class="fa fa-file"> </i> </span>
                                <!-- <img class="certificate-img" *ngIf="path" [src]="path"> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <label for="recipient-name" class="col-form-label"> </label>
                            <small class="text-danger"
                                *ngIf="!certificateForm.get('image').valid && certificateForm.get('image').touched">
                                Image Required
                            </small> -->
                            <div class="certificate-img-main" *ngIf="path">
                                <div class="certificate-img">
                                    <img [src]="path">
                                </div>
                                <p>
                                    <button type="button" name="removeFile" (click)="removeFile()"
                                        class="reviewed icon_button">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" *ngIf="certiModalType=='Add'"
                                [disabled]="certificateForm.invalid">
                                <div *ngIf="add_loader" class="spinner-border text-dark" role="status">
                                </div>{{add_loader ? 'Loading...' : 'Add'}}
                            </button>
                            <button type="submit" class="btn btn-success" *ngIf="certiModalType=='Edit'"
                                [disabled]="certificateForm.invalid">
                                <div *ngIf="add_loader" class="spinner-border text-dark" role="status">
                                </div>{{add_loader ? 'Loading...' : 'Update'}}
                            </button>
                            <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>



<!-- <div *ngFor="let certi of certificatesArr">
                            <div class="certi_box">
                                <div class="card_box">
                                    <img src="assets/images/award.jpg">
                                    <div class="certi_text">
                                        <h2>{{certi.title}}</h2>
                                        <p>{{certi.description}}</p>
                                        <p>
                                            <span *ngIf="certi.fourS=='Skill'" style="color: #4bafa5;">
                                                {{certi.fourS}}
                                            </span>
                                            <span *ngIf="certi.fourS=='Sport'" style="color: #e04090;">
                                                {{certi.fourS}}
                                            </span>
                                            <span *ngIf="certi.fourS=='Study'" style="color: #1f69ad;">
                                                {{certi.fourS}}
                                            </span>
                                            <span *ngIf="certi.fourS=='Service'" style="color: #8dc33a;">
                                                {{certi.fourS}}
                                            </span>
                                        </p>
                                        <p>{{certi.certificationAuthority}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>-->