
.certi_box {
    width: 100%;
    display: inline-flex;
    margin: 0 auto;
}
.card_box {
    background: #ccc;
    text-align: center;
    opacity: 0.8;
    margin: 0 auto;
    max-width: 400px;
    width: 90%;
    min-height: 420px;
}
.card_box img{
    width: 100%;
}
.card_box h2{
    font-size: 24px;
    text-align: center;
}
.card_box p{
    font-size: 17px;
}
.card_box:hover{
    opacity: 1.0;
    box-shadow: 0 0 5px #ddd;
    transition: 0.5s;
    transform: scale(1.02);
    cursor: pointer;
}
.certi_text {
    padding: 10px;
}
button#add_certi{
    background: #8dc33a !important;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border-radius: 50% !important;
}

