<h2> Create New User</h2>

<form [formGroup]="createUserForm" (ngSubmit)="addUser()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name : </label>
                    <input type="text" class="form-control add" name="name" placeholder="Add Name Here"
                        formControlName="name">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Email : </label>
                    <input type="email" class="form-control add" name="email" placeholder="Add Email Here"
                        formControlName="email">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Contact No. : </label>
                    <input type="Number" class="form-control add" name="contactNumber"
                        placeholder="Add Contact Number Here" formControlName="contactNumber">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Username : </label>
                    <input type="text" class="form-control add" name="username" placeholder="Add Username Here"
                        formControlName="username">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Role : </label>
                    <select class="form-control" name="role" formControlName="roleIds">
                        <option [ngValue]='null' selected disabled>Select One</option>
                        <option *ngFor="let role of rolesArr" value={{role.id}}>
                            {{role.name}}
                        </option>
                    </select>
                </div>
                <!-- <div class="form-group">
                    <label for="recipient-name" class="col-form-label">School : </label>
                    <select class="form-control" name="schoolId">
                        <option [ngValue]=null selected disabled>Select One</option>
                    </select>
                </div> -->
            </div>

            <div>

            </div>
        </div>
    </div>
    <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
    <button type="submit" class="btn btn-success" [disabled]="this.createUserForm.invalid">Create </button>
</form>