.staff-list-main {
    padding: 15px 0;
    display: inline-block;
    width: 100%;
}
.active{
    column-span: 6;
}
.student-list-card-main {
    padding: 15px 0;
    display: inline-block;
    width: 100%;
}
.student-list {
    padding: 15px;
    box-shadow: 0 0 5px #ddd;
    background: white;
    width: 100%;
    display: inline-block;
    overflow-x: auto;
}
.student-list .table tbody tr:nth-child(odd) {
    background-color: transparent;
}
.student-list .table tbody tr:nth-child(even) {
    background: rgba(0,0,0,.03);
}

.student-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 222;
    background: rgba(0,0,0,0.2);
}
.popup-box {
    box-shadow: 0 0 5px #ddd;
    background: white;
    padding: 10px 15px;
    position: relative;
    min-height: 100%;
}
 button.btn.btn-close {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 333;
    // background: rgba(0,0,0,0.8);
    padding: 5px;
}
.popup-box h1 {
    font-size: 24px;
}


.sortby {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    margin-right: 0;
}
.selects-field{
    display: inline-block;
    width: auto;
    margin-right: 15px;
}

.selects-field input, .selects-field select {
    font-size: 15px;
    border: solid 1px #ddd;
    padding: 2px 10px;
    margin: 0 10px;
    height: 35px;
}

.staff-list-main button.btn.btn-danger {
    position: absolute;
    right: 14px;
    z-index: 2;
    top: 0;
    padding: 5px;
}
li.head {
    color: #8dc33a;
}
li.coordinator {
    color: #1f69ad;
}
li.supervisor {
    color: #e04090;
}
li.schooladmin {
    color: #4bafa5;
}
.student-list tr td li {
    background: rgba(0,0,0,0.08);
    width: 100%;
    padding: 2px 5px;
    border-radius: 5px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    max-width: 90px;
}
