@import '../../app.component.scss';

.main_box{
    width: 100%;
    display: inline-block
}
.content_box{
    width: 80%;
    display: inline-block;
}

.sidebar{
    float: left;
}
.main .content_main {
    display: inline-block;
    width: calc(100% - 295px);
    float: right;
}
.sidebar_main {
    width: 295px;
    float: left;
    display: inline-block;
    background: $sidebar;
    height: 100vh;
    position: fixed;
}

.navbar {
    background: $navbar;
    color: #fafafa;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    vertical-align: bottom;
}
.navbar .left{
    float: left;
}
.navbar .right{
    float: right;
}

.navbar i.fa {
    font-size: 20px;
    margin: 0 10px;
}
.divider {
    height: 0;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid $light;
}
.navbar ul li a{
    color: #fafafa !important;
    margin: 15px;
    font-size: 18px;
}
a.navbar:hover{
    color: $light !important;
}
.navbar img {
    filter: invert(1);
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: $btn;
    min-width: 200px;
    z-index: 1;
    transition: transform 0.6s;
    top: 34px;
  }
  
  .dropdown-content a {
    color: $light;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {color: $black;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown i.fa:hover{
      color: #ddd;
  }
  
  i.fa.fa-sign-out {
    font-size: 20px;
    margin: 5px 10px;
}
a.logout {
    color: #fafafa;
}
.navbar i.fa.fa-sign-out:hover {
    color: dimgray;
}


