
<div class="main">
  <div class="sidebar_main">
    <app-sidebar></app-sidebar>
  </div>

  <div class="content_main">
    <div class="navbar">
      <div class="left">
          <i class="fa fa-bars"></i>
      </div>
      <div class="right">
        <div class="dropdown">
            <i class="fa fa-user-circle"></i>
          <div class="dropdown-content">
            <a href=""> <i class="fa fa-user"></i> My Profile </a>
            <a href=""> <i class="fa fa-tasks"></i> My Activities </a>
            <a href=""> <i class="fa fa-trophy"> </i> My Achievements </a>
            <div class="divider"></div>
            <a routerLink='../../login' class="logout" (click)="authService.logoutUser();"> 
              <i class="fa fa-sign-out-alt"></i>Logout </a>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>


</div>
