
<div class="main">
  <div class="sidebar_main">
    <app-sidebar></app-sidebar>
  </div>

  <div class="content_main">
    <div class="nav-bar">
      <div class="left">        
      </div>
      <div class="right">
        <div class="dropdown">
          <img src="assets/images/user.png">
          <div class="dropdown-content">
            <a href=""> My Profile </a>
            <a href=""> My Activities </a>
            <a href=""> Logout </a>
          </div>
        </div>
        <span> <a routerLink='../../login' class="logout" (click)="authService.logoutUser();"> <i
              class="fa fa-sign-out"> </i>
          </a> </span>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>


</div>
