
.cands{
    display: inline-flex;
    border: none;
}
.club_main {
    background: gainsboro;
    margin: 0 10px;
}
.club_main ul li {
    font-size: 17px;
    line-height: 45px;
    border-bottom: 1px solid grey;
    width: 40%;
    margin: 0 auto;
}
.club_main ul {
    padding: 0;
    margin: 0;
}
button.btn.register.btn-primary{
    background: #8dc33a;
}
.modal-content {
    border: 5px solid #b4d673;
    top: 50px;
}
.modal-header {
    padding: 5px 10px;
}