<!--
    <div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Student Name & Grade</th>
                <th scope="col">Club/Society</th>
                <th scope="col">Name</th>
                <th scope="col">Applied Date</th>
                <th scope="col">Status
                    <button (click)="sortByStatus()"></button>
                </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let c of clubReqArr; let i = index;">
            <tr>
                <td>{{i+1}}</td>
                <td>{{c.student.name}} {{c.student.grade}}-{{c.student.section}}</td>
                <td>{{c.club.clubOrSociety}}</td>
                <td>{{c.club['name']}}</td>
                <td>{{c.appliedOn | date}}</td>
                <td>
                    <div *ngIf="c.membershipStatus=='PENDING'" class="pending">PENDING</div>
                    <div *ngIf="c.membershipStatus=='VERIFIED'" class="verified">VERIFIED</div>
                    <div *ngIf="c.membershipStatus=='REJECTED'" class="rejected">REJECTED</div>
                </td>
                <td *ngIf="c.membershipStatus=='PENDING'">
                    <button type="button" class="btn btn-success" (click)="setClubReq(c,i,'true')">VERIFY</button>
                    <button type="button" class="btn btn-danger" (click)="setClubReq(c,i,'false')">REJECT</button>
                </td>
                <td *ngIf="!(c.membershipStatus=='PENDING')">NA</td>
            </tr>
        </tbody>
        <tfoot *ngIf="clubReqArr.length==0">
            <tr>
                <td colspan="7">
                    <div *ngIf="clubReqLoader" class="spinner-border text-info" role="status">

                    </div>{{clubReqLoader?'Loading....':'No request available'}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
-->
<div class="teacher_home">
    <div class="welcome">
        <h2> Welcome to My Good School , {{teacherName}} ! </h2>
        <div class="en_button">
            <button data-toggle="modal" data-target="#registrationModal" class="enrollment_button">Create New
                Session</button>
        </div>
    </div>
    <div class="left_col">
        <div class="schedule">
            <h2> My Schedule </h2>
            <div class="day" *ngFor="let s of sessionsArr; let i = index;">
                <h3>{{s.criterionValue | date}} - {{s.criterionValue | date:'EEEE'}} </h3>
                <ul *ngFor="let res of s.responses; let i = index;">
                    <li id="session_title"> {{i+1}}. {{res.title}}</li>
                    <li>{{res.club.name}} </li>
                    <li> {{res.startDate | date:"HH:mm"}}hrs - {{res.endDate | date:"HH:mm"}}hrs </li>
                    <li>Grades - <span *ngFor="let g of res.grades; let i = index">
                        {{ (i === res.grades.length-1) ? g.grade+" "+g.section : g.grade+" "+g.section + "," + ' '}}</span></li>
                    <li><button (click)="editSessionBtn(res,i)">Edit</button> <button
                            (click)="deleteSession(res,i)">Delete</button></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="cands">
        <div class="club_main">
            <h2> Clubs </h2>
            <ul *ngFor="let c of assignedClubsArr">
                <li (click)="clubDetails(c)">{{c.name}}</li>
            </ul>
        </div>

        <div class="club_main">
            <h2> Societies </h2>
            <ul *ngFor="let s of assignedSocietyArr">
                <li (click)="clubDetails(s)">{{s.name}}</li>
            </ul>
        </div>
    </div>

</div>


<!-- Create Session Modal -->
<div class="modal fade" id="createSessionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Session Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createSessionForm" (ngSubmit)="createSession()">
                    <div class="form-group">
                        <h5 style="color: red"> Note : All Fields Are Mandatory </h5>
                        <label for="recipient-name" class="col-form-label">Session Number : </label>
                        <input type="number" class="form-control add" name="sessionNumber"
                            placeholder="Enter Session Number Here" formControlName="number">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Date : </label>
                        <input type="date" class="form-control" name="startDate" formControlName="startDate">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Timing : </label>
                        <input type="time" class="form-control" name="startTime" [(ngModel)]="startTime"
                            [ngModelOptions]="{standalone: true}">
                        <input type="time" class="form-control" name="endTime" [(ngModel)]="endTime"
                            [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name of Session : </label>
                        <input type="text" class="form-control add" name="title" placeholder="Add Title Here"
                            formControlName="title">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Club/Society : </label>
                        <select class="form-control" name="activityId" formControlName="clubId">
                            <option [ngValue]=null selected disabled>Select One</option>
                            <option *ngFor="let acti of allAssignedActi" value={{acti.id}}>
                                {{acti.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Grades : </label>
                        <select class="form-control" name="gradeId" formControlName="gradeIds" multiple>
                            <option value=null selected disabled>Select Grades</option>
                            <option *ngFor="let grade of schoolGrades" value={{grade.id}}>
                                {{grade.grade}} {{grade.section}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
                <button type="submit" class="btn btn-primary" [disabled]="createSessionForm.invalid"
                    (click)="createSession()">Create</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="clubDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">{{clubName}} Details</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="conatiner-fluid">
              <div class="row">
                  <div class="col-md-6">
                      <h5>List of Students :</h5>
                    Under Development
                  </div>
                  <div class="col-md-6">
                      <h5>Requests :</h5>
                      Under Development
                </div>

              </div><hr>
              <div class="row">
                  <div class="col-md-12">
                    <h5>Session Schedule :</h5>

                    <select name="status" [disabled]="clubSch_loader" (ngModelChange)="filterSession($event)" [(ngModel)]="filterVal"> Filter : 
                        <option value="" selected>ALL</option>
                        <option value="upcoming">UPCOMIMG</option>
                        <option value="ended">ENDED</option>
                      </select>

                    <div *ngIf="clubSch_loader">
                        <div class="spinner-border text-secondary" role="status" *ngIf="clubSch_loader">
                        </div>{{clubSch_loader?'  Loading...':''}}
                      </div>{{clubSchedule.length==0&&!clubSch_loader?'No Session Available !': ''}}
                    
                    <div class="day_post">
                        <div class="day" *ngFor="let club of clubSchedule; let i = index;">
                          <h3>{{club.criterionValue | date}} - {{club.criterionValue | date:'EEEE'}} </h3>
                          <ul *ngFor="let res of club.responses; let i = index;">
                            <li id="session_title"> {{i+1}}. {{res.title}}
                              <span *ngIf="res.status=='upcoming'" style="color: red">({{res.status | uppercase}})</span>
                              <span *ngIf="res.status=='ended'" style="color: green">({{res.status | uppercase}})</span>
                            <li>
                            <li>{{res.startDate | date:"HH:mm"}}hrs - {{res.endDate | date:"HH:mm"}}hrs </li>
                            <li>Grades - <span *ngFor="let g of res.grades; let i = index">
                                {{ (i === res.grades.length-1) ? g.grade+" "+g.section : g.grade+" "+g.section + "," + ' '}}</span></li>
                          </ul>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>