<div class="main">
  <div [ngClass]="{'sidebar_close': showSidebar}" class="content_main">
    <div class="navbar">
      <ul class="logo">
        <li routerLinkActive='active'>
          <a routerLink='./home'>
            <img src="assets/images/logo.jpg"> </a>
        </li>
      </ul>
      <div class="menu">
        <ul>
          <!-- List for Users -->
          <li class="cb">
            <a class="menu_link" data-toggle="collapse" data-target="#usersList">
              <i class="fa fa-address-card-o"> </i> Users </a>
            <div id="usersList" class="collapse">
              <li class="" routerLinkActive='active'>
                <a routerLink='./student-list' class=" menu_link">
                  <i class="fa fa-child"> </i> Students </a>
              </li>
              <li class="" routerLinkActive='active'>
                <a routerLink='./staff-list' class=" menu_link">
                  <i class="fa fa-users"> </i> Staff </a>
              </li>
              <li class="" routerLinkActive='active'>
                <a routerLink='./add-user' class=" menu_link">
                  <i class="fa fa-address-book-o"> </i> Add Users </a>
              </li>
            </div>
          </li>

          <!-- List of Uploads -->
          <!-- <li class="pink" routerLinkActive='active'>
            <a class="menu_link" data-toggle="collapse" data-target="#uploadList">
              <i class="fa fa-upload"> </i> Upload </a>
            <div id="uploadList" class="collapse">
              <li class="" routerLinkActive='active'>
                <a routerLink='./student-upload' class=" menu_link">
                  <i class="fa fa-child"> </i> Student Upload </a>
              </li>
              <li class="" routerLinkActive='active'>
                <a routerLink='./supervisor-upload' class=" menu_link">
                  <i class="fa fa-users"> </i> Staff Upload </a>
              </li>
            </div>
          </li> -->

          <!-- List of Clubs/Societies -->
          <li class="blue" routerLinkActive='active'>
            <a routerLink='./club-society'  class="menu_link">
              <i class="fa fa-tasks"> </i> Clubs/Societies </a>
            <div id="clubList" class="collapse">
              <!-- <li class="" routerLinkActive='active'>
                <a routerLink='./student-upload' class=" menu_link">
                  <i class="fa fa-child"> </i> Student Upload </a>
              </li> -->
              <!-- <li class="" routerLinkActive='active'>
                <a routerLink='./supervisor-upload' class=" menu_link">
                  <i class="fa fa-users"> </i> Staff Upload </a>
              </li> -->
            </div>
          </li>

        </ul>
      </div>
    </div>
    <div class="content_main_com">
      <div class="header">
        <div class="menu_toggle">
          <i class="fa fa-bars" (click)="setShowSidebar()"></i>
        </div>
        <div class="profile_right">
          <a routerLink='login' class="logout menu_link" (click)="authService.logoutUser();">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--
              <div class="dropdown">
                <i class="fa fa-user-circle"></i>
                <div class="dropdown-content">
                  <a routerLink='./profile'>
                    <i class="fa fa-user"></i> My Profile </a>
                  <a routerLink='./activity'>
                    <i class="fa fa-tasks"></i> My Activities </a>
                  <a routerLink='./awards-achievement'>
                    <i class="fa fa-trophy"> </i> My Achievements </a>
                  <div class="divider"></div>
                  <a routerLink='login' class="logout" (click)="authService.logoutUser();">
                    <i class="fa fa-sign-out-alt"></i>Logout </a>
                </div>
            </div>
            -->