

@import '../../app.component.scss';


ul.navbar-nav {
    float: left;
    display: -webkit-inline-box;
}
a.navbar-brand {
    float: right;
    color: $light !important;
    margin-top: 8px;
}
a.nav-link{
    color: $light;
    background: $btn;
    font-size: 19px;
}

nav.navbar .navbar-nav li a {
    padding: 16px !important;
    display: inline-block;
}
nav.navbar ul.navbar-nav li.nav-item.active .nav-link {
    background: $active;
}

button.btn.btnSubmit.btn-success{
    background: #333 !important;
}

button.btnSubmit {
    background: #7b7b7b;
    border-radius: 0px;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
}

