

@import '../../app.component.scss';


ul.navbar-nav {
    float: left;
}
a.navbar-brand {
    float: right;
    color: $light !important;
    margin-top: 8px;
}
a.nav-link{
    color: $light;
    background: $active;
    font-size: 19px;
}

li.nav-item.active .nav-link {
    background: #333;
}
nav.navbar .navbar-nav li a {
    padding: 15px 25px !important;
    display: inline-block;
}
