<div class="wrapper">
    <div class="login_form_container">
        <div class="login_form">
             <img src="assets/images/logo.png">
            <h2>My Good School</h2>
            <form name="Login_Form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <fieldset class="forms_fieldset">
                    <div class="forms_field">
                        <input type="text" name="username" class="loginform forms_field-input" placeholder="Username"
                            formControlName="username">
                        <small class="text-danger"
                            *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                            Username or email required
                        </small>

                    </div>
                    <div class="forms_field">
                        <input type="password" name="password" formControlName="password" placeholder="Password"
                            class="loginform forms_field-input">
                        <small class="text-danger"
                            *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                            Password required
                        </small>
                    </div>
                </fieldset>
                <div class="forms_buttons">
                    <a (click)="forgetPassword()"> Forgot Password ? </a>
                    <button [ngClass]="{'active':loginForm.valid}" class="forms_buttons-action inactive"  name="Submit_Button" type="submit"> Login 
                        <span *ngIf="loader">
                            <div class="spinner-border" role="status"> </div>
                        </span>
                    </button>
                </div>

                <!-- <div class="err-msg" *ngIf="errorMsg">
                                                <p>{{errorMsg}}</p>
                                              </div> -->
            </form>
            <div class="signup_button">
                <!-- <button class="forms_buttons-action login-btn " routerLink='/signup'>Signup</button> -->
                <i class='fa fa-restroom'></i>
                <i class="fa fa-school"></i>
            </div>
        </div>
    </div>
</div>