@import "../app.component.scss";

.wrapper {
  width: 100%;
  height: calc(100vh - 10px);
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding: 100px 250px;
}
.login_form_container{
  width: 100%;
  display: inline-block;
  float: left;
  height: 100%;
  padding: 10px;
}
.login_form{
  width: 100%;
  position: absolute;
  background: none;
  padding: 30px;
  max-width: 550px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  box-shadow: 0 0 20px #ddd;
  border-left: 7px solid #71cec4;
  border-top: 7px solid #e04090;
  border-right: 7px solid #0d5ea9;
  border-bottom: 7px solid #8dc33a;
  background: white;
  transform: translateY(-50%);
}
.login-logo{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  img{
    width: 100%;
    height: auto;
    max-width: 200px;
  }
  label{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    font-family: arial !important;
  }
}

input.loginform.forms_field-input {
  background: #b3b3b3 !important;
  border: 1px solid lightgray;
  padding: 5px 10px;
}
form {
  padding: 10px 0;
  position: relative;
  z-index: 2;
}
  .forms {
    &_field {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
    &_field-input {
      width: 100%;
      border-bottom: 1px solid lightgray;
      padding: 6px 20px 6px 0;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      font-weight: 300;
      color: darken(gray, 30%);
      letter-spacing: .1rem;
      transition: border-color .2s ease-in-out;
      &:focus {
        border-bottom: 1px solid #795548;
      }
    }
  }
  .forms_buttons-action {
    background: #a36ea5bf;
    border-radius: 3px;
    padding: 10px 35px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease-in-out;
  }
  input {
    padding: 0;
    border: 0;
    outline: 0;
  }
  .forms_buttons {
    text-align: right;
    justify-content: flex-end;
    flex-direction: column;
    a{
    margin-top: 30px;
    float: left;
    color: #333;
    text-decoration: underline;
    background-color: transparent;
    }
    .login-btn{
      cursor: pointer;
    } 
  }
  .forms_buttons-action {
    border: 0;
    margin-top: 15px;
  }
  .err-msg {
    color: red;
  }
  .forms_buttons-action:hover {
    background: #513652bf;
  }








@media only screen and (max-width: 768px) {
  .user_options-forms {
    position: absolute;
    top: 50%;
    left: 50% !important;
    padding: 34px !important;
    width: calc(100% - 30px) !important;
    min-height: 420px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%);
  }
  .user_options-text {
    display: none;
  }
  .forms_buttons {
    text-align: center !important;
  }
  .user_forms-login {
    margin-top: 43px; //  text-align: center;
  }
  .forms_title {
    font-size: 1.2rem !important;
  }
  .logoImage {
    width: 150px;
    margin-bottom: 6px;
  }
  .forms_title {
    margin-bottom: 0px !important;
  }
}

.forget_pwd{
  width: 600px;
  margin: auto;
  background: white;
  height: 300px;
}
.selectOption{
  border: 0px;
  border-bottom: 1px solid lightgray !important;
  outline: 0!important;
}
.Register{
  margin-bottom: 0px !important;
}
.add-user{
  padding: 27px!important;
}
.back-btn{
  float: left;
  margin-top: 30px;
  color: gray;
  text-decoration: underline;
}

button.forms_buttons-action.inactive {
    background: gainsboro;
    color: #333;
}

button.forms_buttons-action.inactive.active {
    background: #a36ea5bf;
    color: #fafafa;
}