<!-- <p>teacher-sidebar works!</p>
<div class="sidenav">
    <a routerLink='./home'>Home</a>
    <a routerLink='./profile'>Profile</a>
    <a routerLink='./activity'>Activity</a>
    <a routerLink='./awards'>Awards and Achievements</a>
  </div>
   -->
   


<div id="myDIV" class="sidebar">
  <div class="logo">
       <img src="assets/images/logo.jpg">
      <a href=""> My Good School </a>
  </div>
  <div class="menu">
      <ul>
          <li> <a routerLink='./home' class="menu_link"> <i class="fa fa-home"> </i> Home </a> </li>
          <li> <a routerLink='./profile' class="menu_link"> <i class="fa fa-id-badge"> </i> Profile </a> </li>
          <li> <a routerLink='./activity' class="meny_link"> <i class="fa fa-bar-chart"> </i> Activity</a></li>
          <li>
              <a routerLink='./awards-achievment' class="menu_link"> <i class="fa fa-trophy"> </i> Awards and
                  Achievements </a>
          </li>
      </ul>
  </div>