<div class="card-club-details">
    <div class="club-details">
        <div class="header-club">
            <h1>{{clubObj.name}} Details</h1>
        </div>

        <ul>
            <li><strong>Club/Society :</strong> {{clubObj.clubOrSociety}}</li>
            <li><strong>Description : </strong>{{clubObj.description}}</li>
            <li><strong>Focus Areas : </strong><span *ngFor="let fs of clubObj.focusAreaResponses; let i = index">
                {{ (i === clubObj.focusAreaResponses.length-1) ? fs.name  : fs.name + "," + ' '}}
            </span></li>
            <li><b>Four S : </b>{{clubObj.fourS}}</li>
        </ul>
        <button class="btn btn-primary">Edit Details</button><br>
    </div>
</div>
