<div class="card-club-details">
    <div class="club-details">
        <div class="header-club">
            <h2>{{clubObj.name}} Details</h2>
        </div>

        <ul>
            <li><strong>Club/Society :</strong> {{clubObj.clubOrSociety}}</li>
            <!-- <li><strong>Description : </strong>{{clubObj.description}}</li> -->
            <li><strong>Focus Areas : </strong><span *ngFor="let fs of clubObj.focusAreaResponses; let i = index">
                    {{ (i === clubObj.focusAreaResponses.length-1) ? fs.name  : fs.name + "," + ' '}}
                </span></li>
            <li><b>Four S : </b>{{clubObj.fourS}}</li>
            <li><strong>PSD Areas : </strong><span *ngFor="let psd of clubObj.psdAreas; let i = index">
                    {{ (i === clubObj.psdAreas.length-1) ? psd  : psd + "," + ' '}}
                </span></li>
        </ul>
        <button class="btn btn-success" (click)="showEditModal()">Edit Details</button>
    </div>
</div>


<!-- Edit Club / Society Modal -->
<div class="modal fade bd-example-modal-lg" id="editClubModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Session Details</h5> -->

                <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editClubForm" (ngSubmit)="updateClub()">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name :</label>
                        <input type="text" class="form-control add" name="name" placeholder="Add Name Here"
                            formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">FourS : </label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="fourS" formControlName="fourS"
                                value="Sports">Sports<br>
                            <input class="form-check-input" type="radio" name="fourS" formControlName="fourS"
                                value="Skill">Skill<br>
                            <input class="form-check-input" type="radio" name="fourS" formControlName="fourS"
                                value="Study">Study<br>
                            <input class="form-check-input" type="radio" name="fourS" formControlName="fourS"
                                value="Service">Service
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Club/Society :</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="clubOrSociety"
                                formControlName="clubOrSociety" value="Club">Club<br>
                            <input class="form-check-input" type="radio" name="clubOrSociety"
                                formControlName="clubOrSociety" value="Society">Society<br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Focus Area :</label>
                        <div class="form-check" *ngFor="let fa of focusAreaArr;">
                            <label class="form-check-label" for="exampleCheck1">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="focusareaIds[fa.id]"
                                    [ngModelOptions]="{standalone: true}">
                                <span>{{fa.name}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Update</button>
                        <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>