.card-club-details{

    display: inline-block;
    width: 100%;
}

.club-details{
    background: white;
    box-shadow: 0 0 3px #ddd;
    display: inline-block;
    width: 100%;
    padding: 15px;
}