<div class="school_profile">
    <div class="container">
        <div class="row">
            <div class="col-4 ml-auto">
                <div class="school_activity">
                    <h4> Clubs </h4>
                    <ul>
                        <li> Yoga </li>
                        <li> Yoga </li>
                        <li> Yoga </li>
                    </ul>
                    <ul *ngFor="let club of schoolDetails['activities']">
                        <li *ngIf="club['clubOrSociety']=='Club'">{{club.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-4 ml-auto">
                <div class="school_activity">
                    <h4> Societies </h4>
                    <ul>
                        <li> Yoga </li>
                        <li> Yoga </li>
                        <li> Yoga </li>
                    </ul>
                    <ul *ngFor="let society of schoolDetails['activities']">
                        <li *ngIf="society['clubOrSociety']=='Society'">{{society.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 ml-auto">
                <div class="school_activity">
                    <h4> School Profile </h4>
                    <p>Name - <input type="text" [disabled]="setDisabled" [(ngModel)]="name"></p>
                    <p>Contact - {{schoolDetails['contactNumber']}}</p>
                    <p>Address - <textarea [disabled]="setDisabled" [(ngModel)]="address" row="4" cols="40"></textarea>
                    </p>
                    <p>Email - {{schoolDetails['email']}}</p>
                    <h5>List of Grades :</h5>
                    <ul *ngFor="let grade of schoolDetails['grades']">
                        <li>{{grade.grade}} - {{grade.section}}</li>
                    </ul>
                </div>
                <button (click)="updateProfile()" class="update">
                    {{setDisabled ? 'Update Profile' :'Save'}}</button>
            </div>
        </div>
    </div>
</div>
