<br>
<div *ngIf="editForm == 'Student Profile'">
    <!-- <div *ngFor="let detail of studentDetailsArr">
        <label>detail</label><br> -->
        <label>Gender : </label> {{studentProfile.value.studentGender}}<br>
        <label>Email : </label> {{studentProfile.value.studentEmail}}<br>
        <label>Mob : </label>  {{studentProfile.value.studentDob}}<br>
    <!-- </div> -->
    <button (click)="setEditForm('Edit Profile')">Edit</button>
</div>


<div *ngIf="editForm == 'Edit Profile'">
    <form [formGroup]="studentProfile" (ngSubmit)="updateProfile()">
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p><b>Student Profile</b></p>
                </div>
    
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">Enter Name :
                                <input type="text" class="form-control" placeholder="Your Name" formControlName="studentName" />
                            </div>
                            <div class="form-group">Enter DOB :
                                <input type="date" class="form-control" placeholder="Date of Birth" formControlName="studentDob" />
                            </div>
                            <div class="form-group">Enter Email :
                                <input type="email" class="form-control" placeholder="Your Email" formControlName="studentEmail" />
                            </div>
                            <div class="form-group">Enter Mobile no. :
                                <input type="number" class="form-control" placeholder="Your Mobile Number"
                                    formControlName="studentMob" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">Select Gender :
                                <select class="form-control" placeholder="Select one" formControlName="studentGender">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <!-- <div class="form-group">Select School :
                                <select class="form-control" formControlName="schoolId">
                                    <option value="" disabled selected>Select School </option>
                                    <option *ngFor="let school of schoolsList; let i = index;" value={{school.id}}>
                                        {{school.name}}</option>
                                </select>
                            </div> 
                            <div class="form-group">Session Start Date :
                                <input type="date" class="form-control" placeholder="Session Start Date"
                                    formControlName="" />
                            </div> -->
                            <div class="form-group">Subscription End Date :
                                <input type="date" class="form-control" placeholder="Subscription end"
                                    formControlName="studentSubscriptionEndDate" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="button" (click)="cancelEditForm()">Cancel</button>
            <button type="submit" (click)="setEditForm('Student Profile')">Submit</button>
        </div>
    </form>
</div>
