@import '../../../app.component.scss';

.profile_main{
    width: 100%;
    display: inline-block;
    height: calc(100vh - 145px);
}
.student_main {
    width: 25%;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 0;
    height: 100%;
    border-right: 2px solid #999;
    margin-right: 20px;
}
button.edit_profile {
    color: #555;
    margin-top: 15px;
    background: #adadad;
    padding: 5px;
    border-radius: 2px;
}

.student_image {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.student_image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.9;
}
.student_image p {
    font-size: 21px;
    color: #159487;
    margin: 15px 0 0px 0;
}
.student_content{
    display: inline-block;
    margin: 0;
    text-align: left;
    border-top: 2px solid #999;
    padding: 20px 0 0 0;
    line-height: 30px;
}
.student_content p {
    margin: 5px 0;
    font-size: 18px;
    color: #555;
}
.student_content h3{
    font-size: 22px;
    color: #159487;
    margin: 0px 0 15px 0;
}
.student_content i.fa {
    margin: 0 18px 0 0;
    font-size: 15px;
}
.guardian_main i.fa {
    margin: 0 8px 0 0;
    font-size: 15px;
}
.guardian_main p {
    margin: 15px 0;
    font-size: 18px;
    color: #555;
}
.guardian_main {
    margin: 0 10px;
    width: 43%;
    float: left;
    padding: 0;
    display: inline-block;
    padding: 0;
    text-align: left;
    padding: 0 15px;
}
.guardian_profile_card {
    width: 100%;
    padding: 35px 10px 0px 10px;
    float: left;
    margin: 20px 0 40px 0;
    position: relative;
    background: #adadad;
    box-shadow: 0 0 10px #555;
}
.guardian_profile_card h3 {
    font-size: 22px;
    color: #444;
    position: absolute;
    width: 100px;
    background: #3f9487;
    height: 35px;
    top: -18px;
    padding: 5px 10px;
    border-radius: 2px;
}
.clubs_main{
    width: 25%;
    float: left;
    display: inline-block;
    text-align: left;
    padding: 5px 15px;
    height: 100%;
    border-left: 2px solid #999;
    margin-left: 20px;
}
.clubs_main h2, .guardian_main h2{
    font-size: 25px;
    color: #159487;
    margin-bottom: 20px;
}
.clubs_main li {
    font-size: 20px;
    line-height: 35px;
    color: #555;
}
.clubs_main ul {
    padding: 0;
    margin: 0;
    text-align: left;
}



















ul.breadcrumb {
    background: none;
    margin: 0 20px;
    position: relative;
}
ul.breadcrumb li{
    font-size: 17px;
    display: inline;
}

ul.breadcrumb li:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -23px;
    width: 0;
    margin: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 12px solid #666;
    border-bottom: 6px solid transparent;
}

.tab_buttons:first-child{
    ul.breadcrumb li:before{
        display: none;
    }
}
