<div class="main">
    <div class="content_main">
        <div class="content_main_com">
            <div class="profile_main">
                <div class="student_main">
                    <div class="student_image">
                        <img [src]="path">
                        <button class="edit_profile" (click)="photoInput.click()"> <i class="fa fa-edit" title="Edit">
                            </i> Edit Profile Photo </button>
                        <p> <label> {{studentDetails['name']}}</label> </p>
                    </div>
                    <div class="student_content">
                        <h3> Basic Info </h3>
                        <p> <i class='fa fa-restroom'></i> <label> {{studentDetails['gender']}}</label> </p>
                        <p> <i class="fa fa-chalkboard-teacher"></i><label> {{studentDetails['grade']}}
                                {{studentDetails['section']}}</label> </p>
                        <p> <i class="fa fa-school"></i><label> {{studentDetails['schoolName']}}</label> </p>
                        <p> <i class="fa fa-calendar" aria-hidden="true"></i><label> {{studentDetails['dob'] | date}}
                            </label> </p>
                        <p> <i class="fa fa-envelope"></i><label> {{studentDetails['email']}}</label> </p>
                        <p> <i class="fa fa-phone-alt"></i><label> {{studentDetails['mobileNumber']}}</label> </p>
                    </div>
                </div>

                <div class="guardian_main">
                        <h2> GUARDIAN PROFILE </h2>
                    <div *ngFor="let sd of studentDetails['guardianResponseList']; let i = index">
                        <div class="guardian_profile_card">
                            <h3> {{sd['relationship']}}</h3>
                            <p> <label> <i class="fa fa-user"></i>
                                    {{sd['name']}}</label> </p>
                            <p> <label> <i class="fa fa-envelope"></i>
                                    {{sd['email']}}</label> </p>
                            <p> <label> <i class="fa fa-phone-alt"></i>
                                    {{sd['mobileNumber']}}</label> </p>
                        </div>
                    </div>
                </div>
                <div class="clubs_main">
                    <div>
                        <h2> Enrolled Clubs and Societies : </h2>
                        <ul *ngFor="let ec of enrolledClubsArr; let i = index;">
                            <li>{{i+1}}. {{ec.name}} - ({{ec.clubOrSociety}})</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input style="display : none" name="profilePhoto" type="file" accept=".png, .jpg, .jpeg" #photoInput
    (change)="onFileSelect($event)">

<!-- list of enrolled clubs and societies -->


<!-- <br>
<div *ngIf="editForm == 'Student Profile'">
    <div *ngFor="let detail of studentDetailsArr">
        <label>detail</label><br>
        <label>Name : </label> {{studentProfile.value.studentName}}<br>
        <label>Email : </label> {{studentProfile.value.studentEmail}}<br>
        <label>Mob : </label>  {{studentProfile.value.studentDob}}<br>
     </div> 
    <button (click)="setEditForm('Edit Profile')">Edit</button>
</div>


<div *ngIf="editForm == 'Edit Profile'">
    <form [formGroup]="studentProfile" (ngSubmit)="updateProfile()">
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p><b>Student Profile</b></p>
                </div>
    
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">Enter Name :
                                <input type="text" class="form-control" placeholder="Your Name" formControlName="studentName" />
                            </div>
                            <div class="form-group">Enter DOB :
                                <input type="date" class="form-control" placeholder="Date of Birth" formControlName="studentDob" />
                            </div>
                            <div class="form-group">Enter Email :
                                <input type="email" class="form-control" placeholder="Your Email" formControlName="studentEmail" />
                            </div>
                            <div class="form-group">Enter Mobile no. :
                                <input type="number" class="form-control" placeholder="Your Mobile Number"
                                    formControlName="studentMob" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">Select Gender :
                                <select class="form-control" placeholder="Select one" formControlName="studentGender">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="form-group">Select School :
                                <select class="form-control" formControlName="schoolId">
                                    <option value="" disabled selected>Select School </option>
                                    <option *ngFor="let school of schoolsList; let i = index;" value={{school.id}}>
                                        {{school.name}}</option>
                                </select>
                            </div> 
                            <div class="form-group">Session Start Date :
                                <input type="date" class="form-control" placeholder="Session Start Date"
                                    formControlName="" />
                            </div>
                            <div class="form-group">Subscription End Date :
                                <input type="date" class="form-control" placeholder="Subscription end"
                                    formControlName="studentSubscriptionEndDate" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="button" (click)="cancelEditForm()">Cancel</button>
            <button type="submit" (click)="setEditForm('Student Profile')">Submit</button>
        </div>
    </form>
</div>  -->