<form class="add_activity_form" [formGroup]="addActivityForm" (ngSubmit)="saveActivity()">
    <div class="container register-form">
        <div class="form">
            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"> Select Activity :
                            <select class="form-control" (ngModelChange)="getStudentCoach($event)"
                                formControlName="activityId">
                                <option value="" disabled selected>Select Activity </option>
                                <option *ngFor="let activity of activities; let i = index;" value={{activity.id}}>
                                    {{activity.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">Enter Description :
                                <textarea class="form-control add" placeholder="Details"
                                    formControlName="description"></textarea>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">Select Teacher/Coach :
                            <select class="form-control" formControlName="coachId">
                                <option value="" disabled selected>Select Teacher/Coach </option>
                                <option *ngFor="let coach of coaches; let i = index;" value={{coach.id}}>
                                    {{coach.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">Enter Date :
                                <input type="date" class="form-control" placeholder="Date of Activity"
                                    formControlName="dateOfActivity" />
                            </div>

                    </div>
                    <div class="col-md-12">
                        <div class="choosefile_box">
                            <div class="form-group"> Select File :
                                <div class="input-field">
                                    <input class="choosefile" type="file" name="selectedFile"
                                        (change)="onFileSelect($event)" multiple />
                                    <span class="choosefile choosefile-custom"> <i class="fa fa-file"></i> </span>
                                </div>
                                <div *ngFor="let sf of file">
                                    <p>{{sf.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="action-buttons">
                                <button class="btn saved btnSubmit btn-success" type="submit"> 
                                    <i class="fa fa-save"></i> Save 
                                </button>
                                <button class="btn cancel" type="reset"> 
                                    <i class="fa fa-window-close"></i> Cancel 
                                </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>