<div class="main">
    <div class="content_main">
        <div class="content_main_com">
            <div class="teacher_activity_main">
                <div class="sortby"> Filter by:
                    <select style="border: 1px solid #ddd" (ngModelChange)="activityView($event)" [(ngModel)]="activityType">
                        <option value="" disabled hidden> Choose here </option>
                        <option value="All"> All</option>
                        <option value="Pending" selected>Pending</option>
                        <option value="Saved">Saved</option>
                        <option value="Reviewed">Reviewed</option>
                    </select>
                    <div *ngIf="loader" class="spinner-border text-dark" role="status">
                        <span class="sr-only">Data Loading</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="activityType === 'All'">
    <div class="table_main">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="accordionExample">
                <ng-container *ngFor="let allacti of allActivitiesArr; let i = index;">
                    <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                        <td>{{i+1}}</td>
                        <td>{{allacti.studentName}}</td>
                        <td>{{getDate(allacti.dateOfActivity) | date}}</td>
                        <td>
                            <div *ngIf="allacti.activityStatus === 'SubmittedByStudent'">Pending</div>
                            <div *ngIf="allacti.activityStatus === 'SavedByTeacher'">Saved</div>
                            <div *ngIf="allacti.activityStatus === 'Reviewed'">Reviewed</div>
                        </td>
                        <td>
                            <button [disabled]="!(allacti.activityStatus === 'SavedByTeacher')" (click)="submitSavedActivity($event,i,'All')" >Submit</button>      
                            <button [disabled]="!(allacti.activityStatus === 'SavedByTeacher')" data-toggle="modal" data-target="#reviewModal"
                                    (click)="editSavedActivity(allacti)">Edit</button>
                            <button [disabled]="!(allacti.activityStatus === 'SubmittedByStudent')" data-toggle="modal" data-target="#reviewModal"
                                    (click)="reviewActivity(allacti)">Review</button>                            
                        </td>
                    </tr>
                    <tr>
                        <td class="collapse-td" colspan="5">
                            <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">

                                <div *ngIf="allacti.activityStatus === 'Reviewed'">
                                    <div class="row">
                                        <div class="col-6">
                                            <p><strong>Participation Score :</strong>{{allacti.participationScore}}</p>
                                            <p><strong>Initiative Score :</strong>{{allacti.initiativeScore}}</p>
                                            <p><strong>Achievement Score :</strong>{{allacti.achievementScore}}</p>
                                        </div>
                                        <div class="col-6">
                                            <p><strong>Activity : </strong>{{allacti.activityName}}</p>
                                            <p><strong>Star : </strong>{{allacti.star}}</p>
                                            <p><strong>Remark : </strong>{{allacti.coachRemark}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="allacti.activityStatus === 'SavedByTeacher'">
                                    <div class="row">
                                        <div class="col-6">
                                            <p><strong>Description :
                                                </strong>{{allacti.description}}</p>
                                        </div>
                                        <div class="col-6">
                                            <div>
                                                <p><strong>Attachments : </strong></p>
                                                <p *ngFor="let file of allacti.fileResponses">
                                                    {{file.name}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="allacti.activityStatus === 'SubmittedByStudent'">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="description">
                                                <p><strong>Description : </strong>{{allacti.description}}</p>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="attachment">
                                                <p><strong>Attachments : </strong></p>
                                                <p *ngFor="let file of allacti.fileResponses">{{file.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
            <tfoot *ngIf="allActivitiesArr.length == 0">
                <tr>
                    <td colspan="6">No Activities</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div *ngIf="activityType === 'Pending'">
    <div class="table_main">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="accordionExample">
                <ng-container *ngFor="let pa of pendingActivitiesArr; let i = index;">
                    <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                        <td>{{i+1}}</td>
                        <td>{{pa.studentName}}</td>
                        <td>{{getDate(pa.dateOfActivity) | date}}</td>
                        <td>
                            <div *ngIf="pa.activityStatus === 'SubmittedByStudent'">Pending</div>
                        </td>
                        <td>
                            <div>
                                <button data-toggle="modal" data-target="#reviewModal"
                                    (click)="reviewActivity(pa)">Review</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapse-td" colspan="5">
                            <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="description">
                                            <p><strong>Description : </strong>{{pa.description}}</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="attachment">
                                            <p><strong>Attachments : </strong></p>
                                            <p *ngFor="let file of pa.fileResponses">{{file.name}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
            <tfoot *ngIf="pendingActivitiesArr.length == 0">
                <tr>
                    <td colspan="6">No Pending Activities</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div *ngIf="activityType === 'Saved'">

    <div class="table_main">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="accordionExample">
                <ng-container *ngFor="let sa of savedActivitiesArr; let i = index;">
                    <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                        <td>{{i+1}}</td>
                        <td>{{sa.studentName}}</td>
                        <td>{{getDate(sa.dateOfActivity) | date}}</td>
                        <td>
                            <div *ngIf="sa.activityStatus === 'SavedByTeacher'">Saved
                            </div>
                        </td>
                        <td>
                            <div>
                                <button (click)="submitSavedActivity($event,i)">Submit</button>
                                <button data-toggle="modal" data-target="#reviewModal"
                                    (click)="editSavedActivity(sa)">Edit</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapse-td" colspan="5">
                            <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">
                                <div class="row">
                                    <div class="col-6">
                                        <p><strong>Description :
                                            </strong>{{sa.description}}</p>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <p><strong>Attachments : </strong></p>
                                            <p *ngFor="let file of sa.fileResponses">
                                                {{file.name}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
                <tfoot *ngIf="savedActivitiesArr.length == 0">
                    <tr>
                        <td colspan="6">No Saved Activities</td>
                    </tr>
                </tfoot>
        </table>
    </div>
</div>

<div *ngIf="activityType === 'Reviewed'">

    <div class="table_main">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody id="accordionExample">
                <ng-container *ngFor="let ra of reviewedActivitiesArr; let i = index;">
                    <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                        <td>{{i+1}}</td>
                        <td>{{ra.studentName}}</td>
                        <td>{{ra.coachRemarkDate | date}}</td>
                        <td>Reviewed</td>
                    </tr>
                    <tr>
                        <td class="collapse-td" colspan="5">
                            <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">
                                <div class="row">
                                    <div class="col-6">
                                        <p><strong>Participation Score :</strong>{{ra.participationScore}}</p>
                                        <p><strong>Initiative Score :</strong>{{ra.initiativeScore}}</p>
                                        <p><strong>Achievement Score :</strong>{{ra.achievementScore}}</p>
                                    </div>
                                    <div class="col-6">
                                        <p><strong>Activity : </strong>{{ra.activityName}}</p>
                                        <p><strong>Star : </strong>{{ra.star}}</p>
                                        <p><strong>Remark :</strong>{{ra.coachRemark}}</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
            <tfoot *ngIf="reviewedActivitiesArr.length == 0">
                <tr>
                    <td colspan="6">No Reviewed Activities</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Review Activity Modal-->
<div>
    <div class="modal" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Review Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="reviewForm" (ngSubmit)="saveReview()">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Achievement Score :</label>
                            <input type="number" class="form-control" formControlName="achievementScore">
                            <small class="text-danger" *ngIf="reviewForm.controls.achievementScore.errors">*Between
                                0-5 Sonly</small>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Participation Score :</label>
                            <input type="number" class="form-control" formControlName="participationScore">
                            <small class="text-danger" *ngIf="reviewForm.controls.participationScore.errors">*Between
                                0-10 only</small>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Initiative Score :</label>
                            <input type="number" class="form-control" min="1" max="5" formControlName="initiativeScore">
                            <small class="text-danger" *ngIf="reviewForm.controls.initiativeScore.errors">*Between
                                0-10 only</small>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Star : </label>
                            <input type="radio" name="star" value="1" formControlName="star">1
                            <input type="radio" name="star" value="2" formControlName="star">2
                            <input type="radio" name="star" value="3" formControlName="star">3
                            <input type="radio" name="star" value="4" formControlName="star">4
                            <input type="radio" name="star" value="5" formControlName="star">5
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Remark :</label>
                            <textarea class="form-control" formControlName="coachRemark"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                (click)="resetForm()">Reset</button>
                            <button class="btn btn-primary" type="submit" [disabled]="reviewForm.invalid">Save
                                changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



