<div class="main">
    <div class="content_main">
        <div class="content_main_com">
            <div class="teacher_activity_main">
                <div class="sortby"> Filter by:
                    <select style="border: 1px solid #ddd" (ngModelChange)="activityView($event)"
                        [(ngModel)]="activityType">
                        <option value="" disabled hidden> Choose here </option>
                        <option value="All"> All</option>
                        <option value="Pending" selected>Pending</option>
                        <option value="Saved">Saved</option>
                        <option value="Reviewed">Reviewed</option>
                    </select>
                </div>
            </div>

            <div *ngIf="activityType">
                <div class="table_main">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Performed Activity</th>
                                <th scope="col">Description</th>
                                <th scope="col">Performed Activity Date</th>
                                <th scope="col">Status
                                    <button *ngIf="activityType === 'All'" class="icon_button" (click)="sortByStatus()">
                                        <i class="fa fa-sort"></i>
                                    </button>
                                </th>
                                <th *ngIf="!(activityType === 'Reviewed')">Action</th>
                            </tr>
                        </thead>
                        <tbody id="accordionExample">
                            <ng-container *ngFor="let activity of activitiesArr; let i = index;">
                                <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                                    <td>{{i+1}}</td>
                                    <td>{{activity.studentName}} </td>
                                    <td>{{activity.grade}}</td>
                                    <td>{{activity.activityName}}</td>
                                    <td>{{activity.description}}</td>
                                    <td>{{getDate(activity.dateOfActivity) | date}}</td>
                                    <td>
                                        <div *ngIf="activity.activityStatus === 'SubmittedByStudent'">Pending</div>
                                        <div *ngIf="activity.activityStatus === 'SavedByTeacher'">Saved</div>
                                        <div *ngIf="activity.activityStatus === 'Reviewed'">Reviewed</div>
                                    </td>
                                    <td *ngIf="!(activityType === 'Reviewed')">
                                        <div
                                            *ngIf="(activityType === 'All') && (activity.activityStatus !== 'Reviewed')">
                                            <button [disabled]="!(activity.activityStatus === 'SavedByTeacher')"
                                                (click)="submitSavedActivity($event,i,'All')"
                                                class="submitted icon_button">
                                                <i class="fa fa-paper-plane" title="Submit"> </i> </button>
                                            <button [disabled]="!(activity.activityStatus === 'SavedByTeacher')"
                                                (click)="editSavedActivity(activity, $event)" class="saved icon_button">
                                                <i class="fa fa-edit" title="Edit"> </i> </button>
                                            <button [disabled]="!(activity.activityStatus === 'SubmittedByStudent')"
                                                (click)="reviewActivity(activity, $event)" class="pending icon_button">
                                                <i class="fa fa-comments" title="Review"></i> </button>
                                        </div>

                                        <div *ngIf="activityType === 'Pending'">
                                            <button (click)="reviewActivity(activity, $event)"
                                                class="pending icon_button"> <i class="fa fa-comments"
                                                    title="Review"></i> </button>
                                        </div>

                                        <div *ngIf="activityType === 'Saved'">
                                            <button (click)="submitSavedActivity($event,i,'All')"
                                                class="submitted icon_button">
                                                <i class="fa fa-paper-plane" title="Submit"> </i> </button>
                                            <button (click)="editSavedActivity(activity, $event)"
                                                class="saved icon_button"> <i class="fa fa-edit" title="Edit">
                                                </i> </button>
                                        </div>

                                        <div
                                            *ngIf="(activityType === 'All') && (activity.activityStatus === 'Reviewed')">
                                            NA
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapse-td" colspan="8">
                                        <div [attr.id]="'collapse' + i " class="collapse"
                                            data-parent="#accordionExample">
                                            <div *ngIf="(activity.activityStatus != 'SubmittedByStudent')">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="description">
                                                            <p>
                                                                <strong>Participation Score
                                                                    :</strong>{{activity.participationScore}}</p>
                                                            <p>
                                                                <strong>Initiative Score
                                                                    :</strong>{{activity.initiativeScore}}</p>
                                                            <p>
                                                                <strong>Achievement Score
                                                                    :</strong>{{activity.achievementScore}}</p>
                                                            <p>
                                                                <strong>Star : </strong>{{activity.star}}</p>
                                                            <p>
                                                                <strong>Remarks :</strong>{{activity.coachRemark}}</p>
                                                            <p>
                                                                <strong>Date :
                                                                </strong>{{activity.coachRemarkDate | date }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="description">
                                                            <p>
                                                                <strong>Focus Area : </strong>{{activity.focusAreas}}
                                                            </p>
                                                            <p>
                                                                <strong>PSD Area : </strong>{{activity.psdAreas}}</p>
                                                            <p *ngIf="activity.fourS" id="fourSkills">
                                                                <strong>4's: </strong>
                                                                <span *ngIf="activity.fourS=='Skill'"
                                                                    style="color: #4bafa5;">
                                                                    {{activity.fourS}}
                                                                </span>
                                                                <span *ngIf="activity.fourS=='Sport'"
                                                                    style="color: #e04090;">
                                                                    {{activity.fourS}}
                                                                </span>
                                                                <span *ngIf="activity.fourS=='Study'"
                                                                    style="color: #1f69ad;">
                                                                    {{activity.fourS}}
                                                                </span>
                                                                <span *ngIf="activity.fourS=='Service'"
                                                                    style="color: #8dc33a;">
                                                                    {{activity.fourS}}
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="attachment">
                                                            <p>
                                                                <strong>Attachments : </strong>
                                                            </p>
                                                            <div *ngFor="let file of activity.fileResponses">
                                                                <div>
                                                                    <i class="fa fa-file-audio"
                                                                        *ngIf="file.extension == 'mp3'"></i>
                                                                    <i class="fa fa-image"
                                                                        *ngIf="file.extension=='jpg'"></i>
                                                                    <i class="fa fa-video-camera"
                                                                        *ngIf="file.extension=='video'"></i>
                                                                    {{file.name}}
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div *ngIf="(activity.activityStatus === 'SubmittedByStudent')">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="description">
                                                            <p *ngIf="activity.focusAreas">
                                                                <strong>Focus Area : </strong>{{activity.focusAreas}}
                                                            </p>
                                                            <p *ngIf="activity.psdAreas">
                                                                <strong>PSD Area : </strong>{{activity.psdAreas}}</p>
                                                            <p *ngIf="activity.fourS" id="fourSkills">
                                                                <strong>4's: </strong>
                                                                <span *ngIf="activity.fourS=='Skill'"
                                                                    style="color: #4bafa5;">
                                                                    {{activity.fourS}}
                                                                </span>
                                                                <span *ngIf="activity.fourS=='Sport'"
                                                                    style="color: #e04090;">
                                                                    {{activity.fourS}}
                                                                </span>
                                                                <span *ngIf="activity.fourS=='Study'"
                                                                    style="color: #1f69ad;">
                                                                    {{activity.fourS}}
                                                                </span>
                                                                <span *ngIf="activity.fourS=='Service'"
                                                                    style="color: #8dc33a;">
                                                                    {{activity.fourS}}
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="attachment">
                                                            <p *ngIf="activity.coachName">
                                                                <strong>Teacher : </strong>{{activity.coachName}}</p>
                                                            <p>
                                                                <strong>Attachments : </strong>
                                                            </p>
                                                            <div *ngFor="let file of activity.fileResponses">
                                                                <div>
                                                                    <i class="fa fa-file-audio"
                                                                        *ngIf="file.extension == 'mp3'"></i>
                                                                    <i class="fa fa-image"
                                                                        *ngIf="file.extension=='jpg'"></i>
                                                                    <i class="fa fa-video-camera"
                                                                        *ngIf="file.extension=='video'"></i>
                                                                    {{file.name}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tfoot *ngIf="activitiesArr.length == 0">
                            <tr>
                                <td colspan="8">
                                    <div *ngIf="loader" class="spinner-border text-dark" role="status">
                                    </div>{{loader ? 'Loading...' : 'No Activities'}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>


            <!-- <div *ngIf="activityType === 'All'">
                <div class="table_main">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Performed Activity</th>
                                <th scope="col">Description</th>
                                <th scope="col">Performed Activity Date</th>
                                <th scope="col">Status
                                    <button class="icon_button" (click)="sortByStatus()">
                                        <i class="fa fa-sort"></i>
                                    </button>
                                </th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="accordionExample">
                            <ng-container *ngFor="let allActi of allActivitiesArr; let i = index;">
                                <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                                    <td>{{i+1}}</td>
                                    <td>{{allacti.studentName}} </td>
                                    <td>{{allacti.grade}}</td>
                                    <td>{{allacti.activityName}}</td>
                                    <td>{{allacti.description}}</td>
                                    <td>{{getDate(allacti.dateOfActivity) | date}}</td>
                                    <td>
                                        <div *ngIf="allacti.activityStatus === 'SubmittedByStudent'">Pending</div>
                                        <div *ngIf="allacti.activityStatus === 'SavedByTeacher'">Saved</div>
                                        <div *ngIf="allacti.activityStatus === 'Reviewed'">Reviewed</div>
                                    </td>
                                    <td>
                                        <button [disabled]="!(allacti.activityStatus === 'SavedByTeacher')"
                                            (click)="editSavedActivity(allacti, $event)" class="saved icon_button"> <i
                                                class="fa fa-edit" title="Edit"> </i> </button>
                                        <button [disabled]="!(allacti.activityStatus === 'SavedByTeacher')"
                                            (click)="submitSavedActivity($event,i,'All')" class="submitted icon_button">
                                            <i class="fa fa-paper-plane" title="Submit"> </i> </button>

                                        <button [disabled]="!(allacti.activityStatus === 'SubmittedByStudent')"
                                            (click)="reviewActivity(allacti, $event)" class="pending icon_button">
                                            <i class="fa fa-comment" title="Review"></i> </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapse-td" colspan="8">
                                        <div [attr.id]="'collapse' + i" class="collapse"
                                            data-parent="#accordionExample">

                                            <div *ngIf="allacti.activityStatus === 'Reviewed'">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="description">
                                                            <p>
                                                                <strong>Participation Score
                                                                    :</strong>{{allacti.participationScore}}</p>
                                                            <p>
                                                                <strong>Initiative Score
                                                                    :</strong>{{allacti.initiativeScore}}</p>
                                                            <p>
                                                                <strong>Achievement Score
                                                                    :</strong>{{allacti.achievementScore}}</p>
                                                            <p>
                                                                <strong>Star : </strong>{{allacti.star}}</p>
                                                            <p>
                                                                <strong>Remarks :</strong>{{allacti.coachRemark}}</p>
                                                            <p>
                                                                <strong>Date :
                                                                </strong>{{allacti.coachRemarkDate | date }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="description">
                                                            <p>
                                                                <strong>Four S : </strong>{{allacti.fourS}}</p>
                                                            <p>
                                                                <strong>Focus Area : </strong>{{allacti.focusAreas}}</p>
                                                            <p>
                                                                <strong>PSD Area : </strong>{{allacti.psdAreas}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="attachment">
                                                            <p>
                                                                <strong>Attachments : </strong>
                                                            </p>
                                                            <div *ngFor="let file of allacti.fileResponses">
                                                                <div>
                                                                    <i class="fa fa-file-audio"
                                                                        *ngIf="file.extension == 'mp3'"></i>
                                                                    <i class="fa fa-image"
                                                                        *ngIf="file.extension=='jpg'"></i>
                                                                    <i class="fa fa-video-camera"
                                                                        *ngIf="file.extension=='video'"></i>
                                                                    {{file.name}}
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div *ngIf="allacti.activityStatus === 'SavedByTeacher'">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="description">
                                                            <p>
                                                                <strong>Participation Score
                                                                    :</strong>{{allacti.participationScore}}</p>
                                                            <p>
                                                                <strong>Initiative Score
                                                                    :</strong>{{allacti.initiativeScore}}</p>
                                                            <p>
                                                                <strong>Achievement Score
                                                                    :</strong>{{allacti.achievementScore}}</p>
                                                            <p>
                                                                <strong>Star : </strong>{{allacti.star}}</p>
                                                            <p>
                                                                <strong>Remarks :</strong>{{allacti.coachRemark}}</p>
                                                            <p>
                                                                <strong>Date :
                                                                </strong>{{allacti.coachRemarkDate | date }}
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-4">
                                                        <div class="description">
                                                            <p>
                                                                <strong>Four S : </strong>{{allacti.fourS}}</p>
                                                            <p>
                                                                <strong>Focus Area : </strong>{{allacti.focusAreas}}</p>
                                                            <p>
                                                                <strong>PSD Area : </strong>{{allacti.psdAreas}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="attachment">
                                                            <p>
                                                                <strong>Attachments : </strong>
                                                            </p>
                                                            <div *ngFor="let file of allacti.fileResponses">
                                                                <div>
                                                                    <i class="fa fa-file-audio"
                                                                        *ngIf="file.extension == 'mp3'"></i>
                                                                    <i class="fa fa-image"
                                                                        *ngIf="file.extension=='jpg'"></i>
                                                                    <i class="fa fa-video-camera"
                                                                        *ngIf="file.extension=='video'"></i>
                                                                    {{file.name}}
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                            <div *ngIf="allacti.activityStatus === 'SubmittedByStudent'">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="description">
                                                            <p *ngIf="allacti.focusAreas">
                                                                <strong>Focus Area : </strong>{{allacti.focusAreas}}</p>
                                                            <p *ngIf="allacti.psdAreas">
                                                                <strong>PSD Area : </strong>{{allacti.psdAreas}}</p>
                                                            <p *ngIf="allacti.fourS">
                                                                <strong>Four S : </strong>{{allacti.fourS}}</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="attachment">
                                                            <p *ngIf="allacti.coachName">
                                                                <strong>Teacher : </strong>{{allacti.coachName}}</p>
                                                            <p>
                                                                <strong>Attachments : </strong>
                                                            </p>
                                                            <div *ngFor="let file of allacti.fileResponses">
                                                                <div>
                                                                    <i class="fa fa-file-audio"
                                                                        *ngIf="file.extension == 'mp3'"></i>
                                                                    <i class="fa fa-image"
                                                                        *ngIf="file.extension=='jpg'"></i>
                                                                    <i class="fa fa-video-camera"
                                                                        *ngIf="file.extension=='video'"></i>
                                                                    {{file.name}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tfoot *ngIf="allActivitiesArr.length == 0">
                            <tr>
                                <td colspan="8">
                                    <div *ngIf="loader" class="spinner-border text-dark" role="status">
                                    </div>{{loader ? 'Loading...' : 'No Activities'}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div *ngIf="activityType === 'Pending'">
                <div class="table_main">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Performed Activity</th>
                                <th scope="col">Description</th>
                                <th scope="col">Performed Activity Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="accordionExample">
                            <ng-container *ngFor="let pa of pendingActivitiesArr; let i = index;">
                                <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                                    <td>{{i+1}}</td>
                                    <td>{{pa.studentName}} </td>
                                    <td>{{pa.grade}}</td>
                                    <td>{{pa.activityName}}</td>
                                    <td>{{pa.description}}</td>
                                    <td>{{getDate(pa.dateOfActivity) | date}}</td>
                                    <td>
                                        <div *ngIf="pa.activityStatus === 'SubmittedByStudent'">Pending</div>
                                    </td>
                                    <td>
                                        <div>
                                            <button data-toggle="modal" data-target="#reviewModal"
                                                (click)="reviewActivity(pa, $event)" class="pending icon_button">
                                                <i class="fa fa-comments" title="pending"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapse-td" colspan="8">
                                        <div [attr.id]="'collapse' + i" class="collapse"
                                            data-parent="#accordionExample">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p *ngIf="pa.focusAreas">
                                                        <strong>Focus Area : </strong>{{pa.focusAreas}}</p>
                                                    <p *ngIf="pa.psdAreas">
                                                        <strong>PSD Area : </strong>{{pa.psdAreas}}</p>
                                                    <p *ngIf="pa.fourS">
                                                        <strong>Four S : </strong>{{pa.fourS}}</p>
                                                </div>

                                                <div class="col-6">
                                                    <div class="attachment">
                                                        <p *ngIf="pa.coachName">
                                                            <strong>Teacher : </strong>{{pa.coachName}}</p>
                                                        <p>
                                                            <strong>Attachments : </strong>
                                                        </p>
                                                        <div *ngFor="let file of pa.fileResponses">
                                                            <div>
                                                                <i class="fa fa-file-audio"
                                                                    *ngIf="file.extension == 'mp3'"></i>
                                                                <i class="fa fa-image"
                                                                    *ngIf="file.extension=='jpg'"></i>
                                                                <i class="fa fa-video-camera"
                                                                    *ngIf="file.extension=='video'"></i>
                                                                {{file.name}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tfoot *ngIf="pendingActivitiesArr.length == 0">
                            <tr>
                                <td colspan="8">
                                    <div *ngIf="loader" class="spinner-border text-dark" role="status">
                                    </div>{{loader ? 'Loading...' : 'No Activities'}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div *ngIf="activityType === 'Saved'">

                <div class="table_main">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Performed Activity</th>
                                <th scope="col">Description</th>
                                <th scope="col">Performed Activity Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="accordionExample">
                            <ng-container *ngFor="let sa of savedActivitiesArr; let i = index;">
                                <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                                    <td>{{i+1}}</td>
                                    <td>{{sa.studentName}}</td>
                                    <td> {{sa.grade}}</td>
                                    <td>{{sa.activityName}}</td>
                                    <td>{{sa.description}}</td>
                                    <td>{{getDate(sa.dateOfActivity) | date}}</td>
                                    <td>
                                        <div *ngIf="sa.activityStatus === 'SavedByTeacher'">Saved
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <button (click)="submitSavedActivity($event,i)"
                                                class="submitted icon_button">
                                                <i class="fa fa-paper-plane" title="Submit"> </i> </button>
                                            <button data-toggle="modal" data-target="#reviewModal"
                                                (click)="editSavedActivity(sa)" class="saved icon_button"> <i
                                                    class="fa fa-edit" title="Edit"> </i> </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="collapse-td" colspan="8">
                                        <div [attr.id]="'collapse' + i" class="collapse"
                                            data-parent="#accordionExample">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="description">
                                                        <p>
                                                            <strong>Participation Score
                                                                :</strong>{{sa.participationScore}}
                                                        </p>
                                                        <p>
                                                            <strong>Initiative Score :</strong>{{sa.initiativeScore}}
                                                        </p>
                                                        <p>
                                                            <strong>Achievement Score :</strong>{{sa.achievementScore}}
                                                        </p>
                                                        <p>
                                                            <strong>Star : </strong>{{sa.star}}</p>
                                                        <p>
                                                            <strong>Remarks :</strong>{{sa.coachRemark}}</p>
                                                        <p>
                                                            <strong>Date : </strong>{{sa.coachRemarkDate | date }}</p>

                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="description">

                                                        <p>
                                                            <strong>Four S : </strong>{{sa.fourS}}</p>
                                                        <p>
                                                            <strong>Focus Area : </strong>{{sa.focusAreas}}</p>
                                                        <p>
                                                            <strong>PSD Area : </strong>{{sa.psdAreas}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="attachment">
                                                        <p>
                                                            <strong>Attachments : </strong>
                                                        </p>
                                                        <div *ngFor="let file of sa.fileResponses">
                                                            <div>
                                                                <i class="fa fa-file-audio"
                                                                    *ngIf="file.extension == 'mp3'"></i>
                                                                <i class="fa fa-image"
                                                                    *ngIf="file.extension=='jpg'"></i>
                                                                <i class="fa fa-video-camera"
                                                                    *ngIf="file.extension=='video'"></i>
                                                                {{file.name}}
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tfoot *ngIf="savedActivitiesArr.length == 0">
                            <tr>
                                <td colspan="8">
                                    <div *ngIf="loader" class="spinner-border text-dark" role="status">
                                    </div>{{loader ? 'Loading...' : 'No Activities'}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div *ngIf="activityType === 'Reviewed'">

                <div class="table_main">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Performed Activity</th>
                                <th scope="col">Description</th>
                                <th scope="col">Performed Activity Date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody id="accordionExample">
                            <ng-container *ngFor="let ra of reviewedActivitiesArr; let i = index;">
                                <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                                    <td>{{i+1}}</td>
                                    <td>{{ra.studentName}}</td>
                                    <td> {{ra.grade}}</td>
                                    <td>{{ra.activityName}}</td>
                                    <td>{{ra.description}}</td>
                                    <td>{{ra.coachRemarkDate | date}}</td>
                                    <td>Reviewed</td>
                                </tr>
                                <tr>
                                    <td class="collapse-td" colspan="8">
                                        <div [attr.id]="'collapse' + i" class="collapse"
                                            data-parent="#accordionExample">
                                            <div class="row">

                                                <div class="col-3">
                                                    <div class="description">

                                                        <p>
                                                            <strong>Four S : </strong>{{ra.fourS}}</p>
                                                        <p>
                                                            <strong>Focus Area : </strong>{{ra.focusAreas}}</p>
                                                        <p>
                                                            <strong>PSD Area : </strong>{{ra.psdAreas}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="attachment">
                                                        <p>
                                                            <strong>Attachments : </strong>
                                                        </p>
                                                        <div *ngFor="let file of ra.fileResponses">
                                                            <div>
                                                                <i class="fa fa-file-audio"
                                                                    *ngIf="file.extension == 'mp3'"></i>
                                                                <i class="fa fa-image"
                                                                    *ngIf="file.extension=='jpg'"></i>
                                                                <i class="fa fa-video-camera"
                                                                    *ngIf="file.extension=='video'"></i>
                                                                {{file.name}}
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <p>
                                                        <strong>Participation Score :</strong>{{ra.participationScore}}
                                                    </p>
                                                    <p>
                                                        <strong>Initiative Score :</strong>{{ra.initiativeScore}}</p>
                                                    <p>
                                                        <strong>Achievement Score :</strong>{{ra.achievementScore}}</p>
                                                    <p>
                                                        <strong>Star : </strong>{{ra.star}}</p>
                                                    <p>
                                                        <strong>Remarks :</strong>{{ra.coachRemark}}</p>
                                                    <p>
                                                        <strong>Date : </strong>{{ra.coachRemarkDate | date }}</p>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tfoot *ngIf="reviewedActivitiesArr.length == 0">
                            <tr>
                                <td colspan="7">
                                    <div *ngIf="loader" class="spinner-border text-dark" role="status">
                                    </div>{{loader ? 'Loading...' : 'No Activities'}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div> -->

            <!-- Review Activity Modal-->
            <div>
                <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Review Activity</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="reviewForm" (ngSubmit)="saveReview()">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Achievement Score :</label>
                                        <input type="number" class="form-control" formControlName="achievementScore">
                                        <small class="text-danger"
                                            *ngIf="reviewForm.controls.achievementScore.errors">*Between 0-5
                                            Sonly</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Participation Score :</label>
                                        <input type="number" class="form-control" formControlName="participationScore">
                                        <small class="text-danger"
                                            *ngIf="reviewForm.controls.participationScore.errors">*Between 0-10
                                            only</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Initiative Score :</label>
                                        <input type="number" class="form-control" min="1" max="5"
                                            formControlName="initiativeScore">
                                        <small class="text-danger"
                                            *ngIf="reviewForm.controls.initiativeScore.errors">*Between 0-10
                                            only</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Remarks :</label>
                                        <textarea class="form-control" formControlName="coachRemark"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            (click)="resetForm()">Reset</button>
                                        <button class="btn btn-primary" type="submit"
                                            [disabled]="reviewForm.invalid">Save changes
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>