@import '../../../app.component.scss';

nav.navbar {
    background: $sidebar !important;
    padding: 0px;
    margin: 0px;
}

.add_activity{
    background: $navbar;
    padding: 5px 15px;
    text-align: center;
    border-radius: 0px;
    margin: 20px;
    color: #fafafa;
}
button.add_activity{
    position: fixed;
    bottom: 0;
    right: 0;
}