.teacher_profile_main{
    width: 100%;
    display: inline-block;
    padding: 20px 10px;
}

.leftprofile{
    width: 22%;
    display: inline-block;
    float: left;
    position: relative;
    z-index: 1;
    padding: 10px;
    border-right: 1px solid #ddd;
}
.teacher_image {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.teacher_image img {
    opacity: 1;
    width: 180px;
    height: 180px;
    z-index: 2;
}
.leftprofiletext{
    width: 100%;
    display: inline-block;
}
.teacher_image h4 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 10px;
}
.number {
    width: fit-content;
    margin: 10px auto;
    text-align: center;
}
.number input{
    background: none;
    color: black;
    border: none;
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 3px;
}
.leftprofiletext textarea {
    max-width: 280px;
    padding: 7px;
    overflow: hidden;
    min-height: 250px;
    font-size: 16px;
    line-height: 32px;
    background: none;
    color: black;
    border: none;
}
.rightprofile{
    width: 75%;
    display: grid;
    float: right;
}
.edit_buttons{
    width: 100%;
    display: inline-block;
    margin: 10px 0;
}
button:hover {
    background: #c191b3 !important;
    color: #fafafa;
}
button.update {
    float: right;
    background: #cfc1cb;
    padding: 3px 7px;
    border: none;
}
.edit_buttons button  {
    margin: 5px 0;
    background: #cfc1cb;
    border: none;
}
.rightprofile .heading{
    width: 100%;
    height: auto;
    background: #c191b3;
    padding: 0px 10px;
    color: #fafafa;
    margin-top: 10px;
}
.rightprofiletext{
    width: 100%;
    display: inline-flex;
}
.rightprofiletext ul {
    padding: 0;
}
.basic-info, .teacher_activities_main {
    background: #cfc1cb;
    padding: 5px 10px;
    width: 33.33%;
    border-right: 1px solid;
}
.rightprofiletext h3 {
    margin-bottom: 25px;
    border-bottom: 1px solid;
    width: 40%;
}
textarea.ng-untouched.ng-pristine.ng-valid {
    background: #c191b3;
}
input.ng-untouched.ng-pristine.ng-valid {
    background: #c191b3;
}