.teacher_profile_main{
    width: 100%;
    display: inline-block;
    padding: 15px;
}

.leftprofile{
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
    box-shadow: 0 0 5px #ddd;
    background: white;
    padding: 15px;
}
.teacher_image {
    width: 160px;
    display: inline-block;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: relative;
}
.name input {
    text-align: center;
    border: solid 1px #ddd;
    padding: 3px 5px;
}
.teacher_image img {
    opacity: 1;
    width: 270px;
    z-index: 2;
    margin-left: -30px;
}
.leftprofiletext{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.teacher_image h4 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 10px;
    color: #e04090;
}
.number {
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}
.name {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.teacher_about{
    display: inline-block;
    width: calc(100% - 400px);
    float: right;

}
.teacher_activities_main ol {
    padding-left: 15px;
}
.teacher_activities_main ol li {
    list-style: inherit;
    padding-left: 10px;
}
.teacher_about textarea{
    padding: 15px;
    text-align: left;
    width: 100%;
}
.number input{
    color: #333;
    border: solid 1px #ddd;
    font-size: 16px;
    text-align: center;
    padding: 3px 5px;
}
.leftprofiletext textarea {
    font-size: 16px;
    border: none;
    width: 100%;
    color: #333;
    padding: 15px;
    height: 100px;
}
.rightprofile{
    width: 100%;
    display: inline-block;
    box-shadow: 0 0 5px #ddd;
    margin-top: 20px;
    padding: 0;
    background: white;
}
.edit_buttons{
    width: auto;
    display: inline-block;
    margin-top: 5px;
}
button:hover {
    background: #e04090 !important;
    color: #fafafa;
}
button.update {
    float: right;
    background: #e6dce3;
    padding: 3px 7px;
    border: none;
}
.edit_buttons button  {
    margin: 0;
    background: #e04090;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
}
.rightprofile .heading{
    width: 100%;
    color: #333;
}
.rightprofiletext{
    width: 100%;
    display: inline-flex;
}
.rightprofiletext ul {
    padding: 0;
}
.basic-info, .teacher_activities_main {
    padding: 10px;
    width: 33.33%;
    border-right: 1px solid #ddd;
}
.rightprofiletext h3 {
    border-bottom: 1px solid #ddd;
    margin-top: -10px;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    background: rgba(0,0,0,0.03);
    font-size: 18px;
    color: #333;
}
.rightprofiletext ol li, .rightprofiletext ul li {
    margin-bottom: 5px;
}
.rightprofiletext ol li label, .rightprofiletext ul li label{
    margin: 0;
}
textarea.ng-untouched.ng-pristine.ng-valid {
    background: #e6dce3;
}
input.ng-untouched.ng-pristine.ng-valid {
    background: #e6dce3;
}

.profile_details {
    display: inline-block;
    width: 350px;
    text-align: center;
    padding-right: 40px;
    border-right: solid 1px #ddd;
}
.teacher_image button.edit_profile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 10px;
}