<div class="main">
    <div class="content_main">
        <div class="profile_main">
            <div class="profile_image">
                <img src="assets/images/teacherprofile.jpg">
            </div>
            <div class="profile_text_main">
                <div class="profile_text">
                        <h2> Teacher Profile </h2>
                        <p><label>Name : {{teacherDetails['name']}}</label></p>
                        <p> <label>Mobile Number : {{teacherDetails['mobileNumber']}}</label> </p>
                        <p> <label>Email : {{teacherDetails['email']}}</label> </p>
                        <p> <label>DOB : {{teacherDetails['dob'] | date }}</label></p>
                        <p> <label>Gender : {{teacherDetails['gender']}}</label> </p>
                        <p> <label>School Name : {{teacherDetails['schoolName']}}</label> </p>
                        <p> <label>Qualifications : {{teacherDetails['qualification']}}</label> </p>
                        <div *ngIf="teacherDetails['isCoach']">
                            <label>Coach : {{teacherDetails['isCoach']}}</label>
                        </div>
                        <div *ngIf="teacherDetails['isClassTeacher']">
                            <label>Class Teacher : {{teacherDetails['isClassTeacher']}}</label>
                        </div>
                        <div *ngIf="teacherDetails['activitiyIds']">Activities -
                            <div *ngFor="let acti of teacherDetails['activityIds']">
                                <p>{{acti.name}}</p>
                            </div>
                        </div>
                        <div *ngIf="teacherDetails['gradeIds']">Activities -
                            <div *ngFor="let grade of teacherDetails['gradeIds']">
                                <p>{{grade.name}}</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>