<div class="main">
    <div class="content_main">
        <div class="profile_main">
            <img src="assets/images/board.jpg">
            <div class="profile_content">
                <div class="student_image">
                    <img src="assets/images/tprofile.jpg">
                </div>
                <div class="profile_card_main">
                    <div class="student profile_card">
                        <h2> Teacher Profile </h2>
                        <p><label>Name : {{teacherDetails['name']}}</label></p>
                        <p> <label>Mobile Number : {{teacherDetails['mobileNumber']}}</label> </p>
                        <p> <label>Email : {{teacherDetails['email']}}</label> </p>
                        <p> <label>DOB : {{teacherDetails['dob']}}</label></p>
                        <p> <label>Gender : {{teacherDetails['gender']}}</label> </p>
                        <p> <label>School Name : {{teacherDetails['schoolName']}}</label> </p>
                        <p> <label>Qualifications : {{teacherDetails['qualification']}}</label> </p>
                    </div>
                    <div class="guardian profile_card">
                        <div>
                            <div *ngIf="teacherDetails['isCoach']">
                                <label>Coach : {{teacherDetails['isCoach']}}</label>
                            </div>

                            <div *ngIf="teacherDetails['isClassTeacher']">
                                <label>Class Teacher : {{teacherDetails['isClassTeacher']}}</label>
                            </div>

                            <div *ngIf="teacherDetails['activitiyIds']">Activities -
                                <div *ngFor="let acti of teacherDetails['activityIds']">
                                    <p>{{acti.name}}</p>
                                </div>
                            </div>

                            <div *ngIf="teacherDetails['gradeIds']">Activities -
                                <div *ngFor="let grade of teacherDetails['gradeIds']">
                                    <p>{{grade.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>