<div class="sortby">
    <div class="select-field">
        <label>Role :</label>
        <select (click)="filterStaff()" [(ngModel)]="role">
            <option value="" selected>All</option>
            <option *ngFor="let role of rolesArr" value={{role.name}}>
                {{role.name}}
            </option>
        </select>
    </div>
    <div class="select-field">
       <label>Search : </label>
        <input type="text" name="search" [(ngModel)]="search" autocomplete="off"
            placeholder="Name or Contact No.">
    </div>

</div>

<div class="staff-list-main">
    <div class="container-fluid">
        <div class="row">
            <div [ngClass]="col">
                <div class="student-list">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Contact No.</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Enrollment Year</th>
                                <!-- <th scope="col">Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of staffArr |filter:search ; let i = index;"
                                (click)="setShowDetails(true,s)">
                                <th>{{i+1}}</th>
                                <td>{{s.name}}</td>
                                <td>{{s.email}}</td>
                                <td>{{s.mobileNumber}}</td>
                                <td>{{s.gender | titlecase}}</td>
                                <td>
                                    <ul *ngFor="let role of s.roles" style="padding: 0;">
                                        <li class="coordinator" *ngIf="role == 'Coordinator'">{{role}}</li>
                                        <li class="supervisor" *ngIf="role == 'Supervisor'">{{role}}</li>
                                        <li class="head" *ngIf="role == 'Head'">{{role}}</li>
                                        <li class="schooladmin" *ngIf="role == 'SchoolAdmin'">{{role}}</li>
                                    </ul>
                                </td>
                                <td>{{s.yearOfEnrolment}}</td>
                                <!-- <td><button class="btn btn-info" (click)="setShowDetails(true,s)">
                                        <i class="fa fa-edit" title="Edit"></i>
                                    </button></td> -->
                            </tr>
                        <tfoot *ngIf="staffArr.length == 0">
                            <tr>
                                <td colspan="10">
                                    <div *ngIf="staff_loader" class="spinner-border text-dark" role="status">
                                    </div>{{staff_loader ? 'Loading...' : 'No Staff Found'}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div [ngClass]="{'col-8':col=='col-4'}" class="col-4" *ngIf="showDetails">
                <div class="staff-details-main">
                    <h1 class="text-right"><button class="btn btn-danger" (click)="setShowDetails(false)"> <i class="fa fa-close"></i> </button></h1>
                    <app-staff-details [staffDetails]="staff_obj" (profileUpdated)="updatedTable($event)">
                    </app-staff-details>
                </div>
            </div>
        </div>
    </div>
</div>