<div id="banner" class="banner">
    <img src="assets/images/banner.jpg">
    <div class="student_home">
        <div class="activity_select">
            <h2> Activity Type : </h2>
            <select name="activity" (ngModelChange)="getCoaches($event)" ngModel [disabled]="!activities.length">
                <option value="" disabled>Select Activity</option>
                <option *ngFor="let activity of activities;" value={{activity.id}}>
                    {{activity.name}}</option>
                <option disabled *ngIf="!activities.length">No activities available</option>
            </select>
        </div>
        <div class="list_card_main">
                <div class="list_card">
                        <h3> List of Supervisors : </h3>
                        <ul>
                            <li *ngFor="let c of coaches; let i = index" id="t-name"> {{i+1}}. {{c.name}} - </li>
                            <li *ngFor="let c of coaches"> {{c.profileBrief}} </li>
                            <li *ngIf="coaches.length==0" id="null">
                                {{sup_loader ? 'Loading...' : 'No Supervisor'}}
                            </li>
                        </ul>
                    </div>
                    <div class="list_card">
                        <h3> List of Students : </h3>
                        <select name="grade" [disabled]="!activities.length" (change)="filterStudent()" [(ngModel)]="gradeId">
                            <option value="" disabled>Select Grade</option>
                            <option *ngFor="let g of grades" value={{g.id}}>{{g.grade}} {{g.section}}</option>
                            <option disbaled *ngIf="!grades.length">No Grades Available</option>
                        </select>
                        <ul>
                                <li *ngFor="let s of students; let i = index" id="t-name"> {{i+1}}. {{s.name}} - {{s.grade}} {{s.section}}</li>
                                <li *ngIf="students.length==0" id="null">
                                    {{stu_loader ? 'Loading...' : 'No Students'}}
                                </li>
                        </ul>
                    </div>
        </div>
    </div>



   
        <!-- <div class="home_page_content">
            <div class="menu_main">
                    <h1> Welcome to Student Portal </h1>
                <div class="menu_content">
                    <h3> About Portal: </h3>
                    <p> Through this Portal, students can view the their profile, manage activities
                        <br> and view awards. </p>
                </div>
                <div class="menu_content">
                    <h3> Profile: </h3>
                    <p> In Profile link, you can view details like Personal Information.</p>
                </div>
                <div class="menu_content">
                    <h3> Activity: </h3>
                    <p>In Activity link, you can do the following things - </p>
                    <ul>
                        <li>Add Activity</li>
                        <li>Review Activity</li>
                        <li>Edit saved activity</li>
                    </ul>
                </div>
                <div class="menu_content">
                    <h3>Awards: </h3>
                    <p>In Awards link, you can view awards.</p>
                </div>
            </div>
        </div> --> 
   
</div>
