<div class="student_home">
  <div class="welcome">
    <h2> Welcome to My Good School , {{studentName}} ! </h2>
    <div class="en_button">
      <button data-toggle="modal" data-target="#registrationModal" class="enrollment_button">Enrollment Form</button>
    </div>
  </div>

  <div class="left_col">

    <!--
      <div class="enrolled_main">
      <h2> My Enrolled </h2>
      <div class="fourskill_main">
        <div class="enrolled_pre">
          <h3> Clubs </h3>
          <ul *ngFor="let ec of enrolledClubsArr; let i = index;">
            <li (click)="viewEnrolledSchedule(ec)">{{i+1}}. {{ec.name}}</li>
          </ul>
        </div>
        <div class="enrolled_pre">
          <h3> Societies </h3>
          <ul *ngFor="let es of enrolledSocietyArr; let i = index;">
            <li (click)="viewEnrolledSchedule(es)">{{i+1}}. {{es.name}}</li>
          </ul>
        </div>
      </div>
    </div>
    -->

    <div class="schedule">
      <h2> My Schedule </h2>
      <div class="day" *ngFor="let s of sessionsArr; let i = index;">
        <h3>{{s.criterionValue | date}} - {{s.criterionValue | date:'EEEE'}} </h3>
        <ul *ngFor="let res of s.responses; let i = index;">
          <li id="session_title"> {{i+1}}. {{res.title}} </li>
          <li> ({{res.club.name}}) </li>
          <li> {{res.startDate | date:"HH:mm"}}hrs - {{res.endDate | date:"HH:mm"}}hrs </li>
          <li>Supervisor - {{res.teacherName}}</li> <br>
        </ul>
      </div>
    </div>
    
  </div>

  <div class="cands">
    <div class="club_main">
      <h2> Clubs </h2>
      <div class="fourskill_main">
        <div class="study fourskill">
          <img src="assets/images/16.png">
          <h3> Study </h3>
          <ul *ngFor="let study of studyArr">
            <li (click)="clubDetails(study)">{{study.name}}</li>
          </ul>
        </div>
        <div class="skill fourskill">
          <img src="assets/images/21.png">
          <h3> Skill </h3>
          <ul *ngFor="let skill of skillArr">
            <li (click)="clubDetails(skill)">{{skill.name}}</li>
          </ul>
          <!-- For Reference -->
          <ul> 
            <li id="reference"> Literary Society English </li>
          </ul>
          <!-- For Reference -->
        </div>
      </div>
    </div>
    <div class="society_main">
      <h2> Societies </h2>
      <div class="fourskill_main">
        <div class="service fourskill">
          <img src="assets/images/24.png">
          <h3> Service </h3>
          <ul *ngFor="let service of serviceArr">
            <li (click)="clubDetails(service)">{{service.name}}</li>
          </ul>
        </div>
        <div class="sport fourskill">
          <img src="assets/images/23.png">
          <h3> Sport </h3>
          <ul *ngFor="let sport of sportArr">
            <li (click)="clubDetails(sport)">{{sport.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Registration Form -->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearSelected()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- List of all Clubs and Societites -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Clubs and Societies</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" name="clubs" (ngModelChange)="getSupervisor($event)"
            [(ngModel)]="clubId" [disabled]="!activities.length">
            <option value="" disabled>Select One</option>
            <option *ngFor="let activity of activities;" value={{activity.id}}>
              {{activity.name}} ({{activity.clubOrSociety}})</option>
            <option disabled *ngIf="!activities.length">No activities available</option>
          </select>
        </div>
        <!-- List of Supervisor associated with Specific clubs and societies -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Select Supervisor</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="supervisorId"
            [disabled]="csup_loader||!clubSupervisor.length">
            <option value="" disabled>Select One</option>
            <option *ngFor="let sup of clubSupervisor" value={{sup.id}}>{{sup.name}}</option>
          </select>
          <div class="spinner-border text-info" role="status" *ngIf="csup_loader"></div>
          <span *ngIf="!csup_loader&&!clubSupervisor.length" style="color: red">No Supervisor for corresponding
            club/society</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="clearSelected()">Reset</button>
        <button type="button" class="btn register btn-primary" (click)="clubRegistration()">Register</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to View Session Schedule of Enrolled Club/Soceity -->
<div class="modal fade" id="enrolledScheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="enr_modal modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{enrolledName}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select name="status" [disabled]="enrollSch_loader" (ngModelChange)="filterSession($event)"
          [(ngModel)]="filterVal"> Filter :
          <option value="" selected>ALL</option>
          <option value="upcoming">UPCOMIMG</option>
          <option value="ended">ENDED</option>
        </select>
        <div *ngIf="enrollSch_loader">
          <div class="spinner-border text-secondary" role="status" *ngIf="enrollSch_loader">
          </div>{{enrollSch_loader?' Loading...':''}}
        </div>{{clubSchedule.length==0&&!enrollSch_loader?'No Session Available !': ''}}

        <div class="day_pre">
          <div class="day" *ngFor="let club of clubSchedule; let i = index;">
            <h3>{{club.criterionValue | date}} - {{club.criterionValue | date:'EEEE'}} </h3>
            <ul *ngFor="let res of club.responses; let i = index;">
              <li id="session_title"> {{i+1}}. {{res.title}}
                <span *ngIf="res.status=='upcoming'" style="color: green">({{res.status | uppercase}})</span>
                <span *ngIf="res.status=='ended'" style="color: red">({{res.status | uppercase}})</span>
              <li>
              <li>{{res.club.name}} - {{res.startDate | date:"HH:mm"}}hrs - {{res.endDate | date:"HH:mm"}}hrs </li>
              <li>Supervisor - {{res.teacherName}}</li><br>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to View List of Supervisor, Students and Session Schedule of any activity -->
<div class="modal fade bd-example-modal-lg" id="clubDetailsModal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="all_act modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">{{clubName}} Details
         <button [disabled]="!(clubId && supervisorId)" class="register_act btn btn-primary btn-sm"
              (click)="clubRegBtn()">Register</button>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h5>List of Supervisors :</h5>
              <ul *ngFor="let c of coaches; let i = index">
                <li id="session_title" (click)="getSupervisorSession(c)">{{i+1}}. {{c.name}} -</li>
                <li>{{c.profileBrief}}</li>
              </ul>
              <div *ngIf="coaches.length==0" id="null">
                <div class="spinner-border text-secondary" role="status" *ngIf="sup_loader">
                </div>{{sup_loader ? '  Loading...' : 'No Supervisor'}}
              </div>
            </div>

          </div>
          <hr>
          <div class="row" *ngIf="sessionView">
            <div class="col-md-6 ml-auto">
              <div class="act_details_section_two">
                <h5>List of Students :</h5>
                <select name="grade" [disabled]="stu_loader" (ngModelChange)="filterStudent($event)"
                  [(ngModel)]="gradeId">
                  <option value="" selected>Select Grade</option>
                  <option *ngFor="let g of grades" value={{g.id}}>{{g.grade}} {{g.section}}</option>
                  <option disbaled *ngIf="!grades.length">No Grades Available</option>
                </select>
              </div>
                <ul id="student_list">
                  <li *ngFor="let s of students; let i = index"> {{i+1}}. {{s.name}} - {{s.grade}} {{s.section}}</li>
                  <li *ngIf="students.length==0" id="null">
                    <div class="spinner-border text-secondary" role="status" *ngIf="stu_loader">
                    </div> {{stu_loader ? ' Loading...' : 'No Students'}}
                  </li>
                </ul>
            </div>
            <div class="col-md-6 ml-auto">
              <div class="act_details_section_two">
                <h5>Session Schedule :</h5>

                <select name="status" [disabled]="enrollSch_loader" (ngModelChange)="filterSession($event)"
                  [(ngModel)]="filterVal"> Filter :
                  <option value="" selected>All</option>
                  <option value="upcoming">Upcoming</option>
                  <option value="ended">Ended</option>
                </select>
              </div>

              <div *ngIf="enrollSch_loader">
                <div class="spinner-border text-secondary" role="status" *ngIf="enrollSch_loader">
                </div>{{enrollSch_loader?'  Loading...':''}}
              </div>{{clubSchedule.length==0&&!enrollSch_loader?'No Session Available !': ''}}


              <div class="day_post">
                <div class="day" *ngFor="let club of clubSchedule; let i = index;">
                  <h3>{{club.criterionValue | date}} - {{club.criterionValue | date:'EEEE'}} </h3>
                  <ul *ngFor="let res of club.responses; let i = index;">
                    <li id="session_title"> {{i+1}}. {{res.title}}
                      <span *ngIf="res.status=='upcoming'" style="color: red">({{res.status | uppercase}})</span>
                      <span *ngIf="res.status=='ended'" style="color: green">({{res.status | uppercase}})</span>
                    <li>
                    <li>{{res.club.name}} - {{res.startDate | date:"HH:mm"}}hrs - {{res.endDate | date:"HH:mm"}}hrs
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>