<br>
<p class="h3"><u>Welcome to Student Portal</u></p>
<h4><br>
    <u>About Portal :</u>
    <small class="text-muted"><br>Through this Portal, Students can view the their Profile , Manage Activities
        and View Awards and Achievements</small>
</h4>
<div class="card" style="width: 20;">
    <div class="card-body">
        <h5 class="card-title">Profile: </h5>
        <p class="card-text">In Profile link, you can view details like Personal Information.</p>
    </div>
</div>
<div class="card" style="width: 20;">
    <div class="card-body">
        <h5 class="card-title">Activity: </h5>
        <p class="card-text">In Activity link, you can do the following things - </p>
            <ul class="card-text" >
                <li>Add Activity</li>
                <li>Review Activity</li>
                <li>Edit saved activity</li>
              </ul>        
    </div>
</div>
<div class="card" style="width: 20;">
    <div class="card-body">
        <h5 class="card-title">Awards and Achievements: </h5>
        <p class="card-text">In Awards and Achievements link, you can view awards and achievements</p>
    </div>
</div>
