@import '../../../app.component.scss';

.banner {
    width: 100%;
    display: inline-block;
    position: relative;

}
#banner{
    vertical-align: top;
    width: 100%;
    display: inline-block;
    position: relative;
}
h1{
    font-size: 35px;
    color: $navbar;
    text-align: center;
    margin: 25px 0;
    font-family: fantasy;
}
h2{
    font-size: 26px;
    color: $navbar;    
    text-align: left;
    font-family: fantasy;
}
p{
    font-size: 16px;
    color: $black;
    text-align: left;
}
h3{
    font-size: 22px;
    color: $black;
    text-align: left;
    color: $navbar;
    font-family: fantasy;
}
.menu_content {
    width: 100%;
    display: inline-block;
    margin: 10px 0px;
}


