.student_home {
    width: 100%;
    display: inline-block;
    padding: 10px;
}
.welcome{
    width: 100%;
    margin: 10px 0 40px 0; 
}
.welcome h1{
    font-size: 35px;
    text-align: center;
    margin: 20px 0 30px 0;
}
.enrolled{
    width: 25%;
    float: left;
    display: inline-block;
    text-align: left;
    padding: 5px 15px;
    border-right: 2px solid #999;
    height: 100%;
}
.enrolled h2, .schedule h2{
    font-size: 25px;
    color: #159487;
    margin-bottom: 20px;
}
.enrolled li {
    font-size: 20px;
    line-height: 35px;
    color: #555;
}
.enrolled ul {
    padding: 0;
    margin: 0;
    text-align: left;
}
.cands{
    width: 50%;
    float: left;
    padding: 0 10px;
    display: inline-block;
}
.cands h2{
    font-size: 25px;
    color: #159487;
    float: left;
    margin: 0 0 20px 15px;
}
button.enrollment_button {
    float: right;
    background: #cecece;
    border: none;
    color: #333;
    box-shadow: 0 0 10px #ddd;
    border-radius: 4px;
    padding: 3px 5px;
    cursor: pointer;
    margin-right: 10px;
}
.fourskill_main {
    width: 100%;
    display: inline-flex;
    position: relative;
}
.fourskill{
    width: 100%;
    background: #cecece;
    margin: 10px;
    padding: 10px;
    position: relative;
    text-align: center;
}
.fourskill .activities{
    width: 75%;
    text-align: left;
    margin: 0 auto;
}
.fourskill img{
    width: 60px;
    margin: 10px 0 20px 0;
    opacity: 1;
}
.fourskill h3{
    font-size: 27px;   
    margin: 5px 0 20px 0;
    text-align: center;
}
.fourskill ul{
    padding: 0 50px;
    margin: 0;
}
.fourskill li{
    list-style-type: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    line-height: 40px;
}

.study.fourskill h3{
    color: #4bafa5;
}
.skill.fourskill h3{
    color: #e04090;
}
.service.fourskill h3{
    color: #1f69ad;
}
.sport.fourskill h3{
    color: #8dc33a;
}
.study.fourskill:hover {
    background: #4bafa5;
}
.skill.fourskill:hover {
    background: #e04090;
}
.service.fourskill:hover {
    background: #1f69ad;
}
.sport.fourskill:hover {
    background: #8dc33a;
}
.fourskill:hover h3{
    color: #333;
}
.fourskill:hover li{
    border-bottom: 1px solid #333; 
    color: #333;
}

.schedule{
    width: 25%;
    float: right;
    display: inline-block;
    text-align: left;
    padding: 5px 15px;
    border-left: 2px solid #999;
    height: 100%;
}
.day h3 {
    font-size: 21px;
}
.day {
    width: 100%;
    padding: 10px;
    margin: 10px;
}
.day ul li {
    list-style-type: disc;
    list-style: inside;
}
.day ul {
    padding: 0;
    margin: 0;
}
.day:first-child h3 {
    color: #4bafa5;
}
.day:nth-child(2) h3 {
    color: #e04090;
}
.day:nth-child(3) h3 {
    color: #1f69ad;
}
.day:nth-child(4) h3 {
    color: #8dc33a;
}
.day:nth-child(5) h3 {
    color: #c3005b;
}
.day:last-child h3 {
    color: #7c00c3;
}
button.btn.register.btn-primary{
    background: #8dc33a;
}
.modal-content {
    border: 5px solid #b4d673;
    top: 100px;
}



.student_home select {
    width: 150px;
    margin-bottom: 7px;
    font-size: 16px;
    background: #dad6bf;
    border: 1px solid #999;
}
.student_home label {
    font-size: 20px;
}

.activity_select{
    display: inline-flex;
}
.list_card_main{
    width: 100%;
    display: inline-grid;
    margin-top: 20px;
    padding: 10px 0;
}
.list_card{
    box-shadow: 0 0 10px #ccc;
    width: 40%;
    background: #dad6bf;
    float: left;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #dad6bf;
    border-radius: 3px;
}
li#t-name {
    font-size: 22px;
    color: #c38800;
}
.list_card h3{
    font-size: 24px;
    font-weight: 400px;
}

/*
.fourskill:after {
    content: "";
    background: #ffffff;
    width: 55px;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    bottom: -3;
    left: -38px;
    bottom: -32px;
    z-index: 2;
}
.fourskill:before {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 55px;
    height: 50px;
    border-radius: 50%;
    top: -32px;
    left: -38px;
    z-index: 2;
}
.fourskill_main:after {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 55px;
    height: 50px;
    right: -10px;
    bottom: -18px;
    border-radius: 50%;
    z-index: 2;
}
.fourskill_main:before {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 55px;
    height: 50px;
    right: -10px;
    top: -18px;
    border-radius: 50%;
    z-index: 2;
}
*/