<div class="main">
    <div class="content_main">
        <div class="content_main_com">
            <div class="teacher_awards_main">
                <div class="tabs">
                    <ul>
                        <li [ngClass]="{'active': awardViewType=='view'}">
                            <a (click)="awardView('view')"> View Awards </a> </li>
                        <li [ngClass]="{'active': awardViewType=='assign'}"> <a (click)="awardView('assign')"> Assign
                                Awards </a> </li>
                    </ul>
                </div>
                <div [ngSwitch]="awardViewType">

                    <!-- Assign Award -->
                    <div *ngSwitchCase="'assign'" class="popup-form">
                        <div class="assign_main">
                            <div class="assign-form">
                                <label for="exampleFormControlSelect1">Select Criteria - </label>
                                <select class="" name="criteria" [disabled]="awardcr_loader"
                                    id="exampleFormControlSelect1" (ngModelChange)="getCriteriaValue($event)"
                                    [(ngModel)]="awardCriterion">
                                    <option value="" disabled>Select Criteria</option>
                                    <option *ngFor="let ac of awardCriteriaArr" value={{ac}}>{{ac}}</option>
                                    <option disabled *ngIf="awardCriteriaArr.length == 0">No Criteria Found</option>
                                </select>
                                <span *ngIf="awardcr_loader">
                                    <div class="spinner-border" role="status">
                                    </div>
                                </span>
                            </div>
                            <div class="assign-form" [hidden]="showCriteriaValues">
                                <label for="exampleFormControlSelect1">Select {{awardCriterion}} - </label>
                                <select class="" name="CriteriaValue" [disabled]="criteriaVal_loader"
                                    id="exampleFormControlSelect1"
                                    (ngModelChange)="getPerformedActivities($event,'value')"
                                    [(ngModel)]="criterionValue">
                                    <option ngValue="" disabled>Select Value</option>
                                    <option *ngFor="let val of criteriaValuesArr" value={{val}}>{{val}}</option>
                                    <!-- <option *ngFor="let val of criteriaValuesArr" value={{val}}>{{val}}</option> -->
                                    <!-- <option disabled *ngIf="criteriaValuesArr.length == 0">No Criteria Found</option> -->
                                </select>
                                <span *ngIf="criteriaVal_loader">
                                    <div class="spinner-border" role="status">
                                    </div>
                                </span>
                            </div>
                            <div class="assign-form" [hidden]="showCriteriaValues">
                                <label for="exampleFormControlSelect1">Select Grade - </label>
                                <select class="" name="grade" [disabled]="awardCriterion.length==0"
                                    id="exampleFormControlSelect1"
                                    (ngModelChange)="getPerformedActivities($event,'grade')" [(ngModel)]="gradeId">
                                    <option value="" selected>Select Grade</option>
                                    <option *ngFor="let grade of schoolGrades" value={{grade.id}}>
                                        {{grade.grade}} {{grade.section}}
                                    </option>
                                </select>
                            </div>

                            <!-- <div class="assign-form">
                                <label for="exampleFormControlSelect1">Select Grade - </label>
                                <select class="" name="grade" [disabled]="grade_loader" id="exampleFormControlSelect1"
                                    (ngModelChange)="getListOfStudent($event)" [(ngModel)]="selectedGrade">
                                    <option value="" disabled selected>Select Grades </option>
                                    <option *ngFor="let grade of schoolGrades" value={{grade.id}}>
                                        {{grade.grade}} {{grade.section}}
                                    </option>
                                    <option disabled *ngIf="schoolGrades.length == 0">No Grades Found</option>
                                </select>
                                <span *ngIf="grade_loader">
                                    <div class="spinner-border" role="status">
                                    </div>
                                </span>
                            </div>

                            <div class="assign-form">
                                <label for="exampleFormControlSelect2" id="mid"> Students - </label>
                                <select class="" name="studentList" [disabled]="stu_loader"
                                    id="exampleFormControlSelect1" (ngModelChange)="getStudentId($event)"
                                    [(ngModel)]="selectedStudent">
                                    <option value="" disabled selected>Select Student</option>
                                    <option *ngFor="let stu of studentList;" value={{stu.id}}>
                                        {{stu.name}}
                                    </option>
                                    <option disabled *ngIf="studentList.length == 0">No Student Found</option>
                                </select>
                                <span *ngIf="stu_loader">
                                    <div class="spinner-border" role="status">
                                    </div>
                                </span>
                            </div>

                            <div class="assign-form">
                                <label for="exampleFormControlSelect3">Select Activity - </label>
                                <select class="" name="activityList" [disabled]="acti_loader"
                                    id="exampleFormControlSelect3" (ngModelChange)="getActivityId($event)"
                                    [(ngModel)]="selectedActivity">
                                    <option value="" disabled selected>Select Activity </option>
                                    <option *ngFor="let activity of activities; let i = index;"
                                        value={{activity.activityId}}>
                                        {{activity.activityName}}
                                    </option>
                                    <option disabled *ngIf="activities.length == 0">No Activity Found</option>
                                </select>
                                <span *ngIf="acti_loader">
                                    <div class="spinner-border" role="status">
                                    </div>
                                </span>
                            </div>
                        </div> -->

                            <!-- List of Performed Activity -->
                            <div *ngIf="studentActivityList">
                                <div class="content_main_com">
                                    <div class="table_main">
                                        <table class="table table-hover">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">NAME</th>
                                                    <th scope="col">GRADE & SECTION</th>
                                                    <th scope="col" *ngIf="!(awardCriterion=='Focus Area')">FOCUS AREA</th>
                                                    <th scope="col" *ngIf="!(awardCriterion=='Activity Type')">ACTIVITY TYPE</th>
                                                    <th scope="col" *ngIf="awardCriterion=='Activity Type'">COUNT</th>
                                                    <th scope="col">SCORE</th>
                                                </tr>
                                            </thead>
                                            <tbody id="accordionExample">
                                                <ng-container
                                                    *ngFor="let activity of performedActiArr ; let i = index;">
                                                    <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                                                        <td (click)="stopCollapse($event)">
                                                            <label>
                                                                <input type="radio" name="selectStudent"
                                                                    value={{activity.id}}
                                                                    (change)="getPerformedIds(activity)"
                                                                    (click)="stopCollapse($event)">

                                                            </label>
                                                        </td>
                                                        <td>{{activity.name}}</td>
                                                        <td>{{activity.grade}} {{activity.section}}</td>
                                                        <td *ngIf="!(awardCriterion=='Focus Area')">
                                                            <span *ngFor="let at of activity.focusAreas; let i = index">
                                                                {{ (i === activity.focusAreas.length-1) ? at : at + "," + ' '}}
                                                            </span>
                                                        </td>
                                                        <td *ngIf="!(awardCriterion=='Activity Type')">
                                                            <!-- <label *ngFor="let at of activity.activityTypes"></label> -->
                                                            <span *ngFor="let at of activity.activityTypes; let i = index">
                                                                {{ (i === activity.activityTypes.length-1) ? at : at + "," + ' '}}
                                                            </span>
                                                        </td>
                                                        <td *ngIf="awardCriterion=='Activity Type'">{{activity.performedActivities[0].count}}</td>
                                                        <td>{{activity.scoreForAward}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="collapse-td" colspan="6">
                                                            <div [attr.id]="'collapse' + i" class="collapse"
                                                                data-parent="#accordionExample">
                                                                <div
                                                                    *ngFor="let pa of activity.performedActivities; let i = index;">
                                                                    <div>
                                                                        <h3>{{pa.activityName}}</h3>
                                                                        <label *ngIf="!(awardCriterion=='Activity Type')">Activity Count - {{pa.count}}</label><br>
                                                                        <label>Average Stars - {{pa.averageStars}}</label>

                                                                    </div>
                                                                    <div *ngFor="let ac of pa.activities; let j = index;">
                                                                        <div class="row">
                                                                            <div class="col-4">
                                                                                <div class="assign description">
                                                                                    <h5>
                                                                                        <label><input type="checkbox"
                                                                                                name="selectPerformedActivity"
                                                                                                value={{ac.id}}
                                                                                                [(ngModel)]="actiPerform[ac.id]"></label>
                                                                                        Activity {{j+1}} Details </h5>
                                                                                    <p> <strong>Activity Name -
                                                                                        </strong>{{ac.activityName}}</p>
                                                                                    <p> <strong>Description -
                                                                                        </strong>{{ac.description}}</p>
                                                                                    <p> <strong>Performed Date -
                                                                                        </strong>{{ac.dateOfActivity | date}}
                                                                                    </p>
                                                                                    <p> <strong>Remarks -
                                                                                        </strong>{{ac.coachRemark}}</p>
                                                                                    <p> <strong>Review Date -
                                                                                        </strong>{{ac.coachRemarkDate | date}}
                                                                                    </p>
                                                                                    <p *ngIf="ac.fileResponses.length">
                                                                                        <strong>Attachments - </strong> </p>
                                                                                    <div
                                                                                        *ngFor="let file of ac.fileResponses">
                                                                                        <div>
                                                                                            <a target="_blank"
                                                                                                [attr.href]="file.url"
                                                                                                (click)="downloadFile(file.url)">
                                                                                                <i class="fa fa-file-audio"
                                                                                                    *ngIf="file.extension == 'mp3'"></i>
                                                                                                <i class="fa fa-image"
                                                                                                    *ngIf="file.extension=='jpg'"></i>
                                                                                                <i class="fa fa-video-camera"
                                                                                                    *ngIf="file.extension=='video'"></i>
                                                                                                {{file.name}}
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <div class="assign description">
                                                                                    <h5> Development Parameters </h5>
                                                                                    <p> <strong>Focus Area -
                                                                                        </strong></p>
                                                                                    <span id="fa"
                                                                                        *ngFor="let fa of ac.focusAreas; let i = index">
                                                                                        {{ (i === ac.focusAreas.length-1) ? fa : fa + "," + ' '}}
                                                                                    </span>
                                                                                    <p><strong>PSD Area : </strong></p>
                                                                                    <span id="fa"
                                                                                        *ngFor="let fa of ac.psdAreas let i = index">
                                                                                        {{ (i === ac.psdAreas.length-1) ? fa : fa + "," + ' '}}
                                                                                    </span>
                                                                                    <p> <strong> 4's - </strong>
                                                                                        {{ac.fourS}} </p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <div class="assign description">
                                                                                    <h5> Scoring </h5>
                                                                                    <p> <strong>Participation Score -
                                                                                        </strong>{{ac.participationScore}}
                                                                                    </p>
                                                                                    <p> <strong>Initiative Score -
                                                                                        </strong>{{ac.initiativeScore}}</p>
                                                                                    <p> <strong>Achievement Score -
                                                                                        </strong>{{ac.achievementScore}}</p>
                                                                                    <p> <strong>Total Score -
                                                                                        </strong>{{ac.totalMarks}}</p>
                                                                                    <p> <strong>Coach Remarks -
                                                                                        </strong>{{ac.coachRemark}}</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>

                                            </tbody>
                                            <tfoot *ngIf="performedActiArr.length == 0">
                                                <tr>
                                                    <td colspan="6">
                                                        <div *ngIf="pa_loader" class="spinner-border text-dark"
                                                            role="status">
                                                        </div>{{pa_loader ? 'Loading...' :  'No Student Found'}}
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <button type="button" name="giveAward" class="award btn btn-success" data-toggle="modal"
                                    data-backdrop="static" data-keyboard="false" data-target="#assignAwardModal"
                                    (click)="getSchoolAwards()">Give
                                    Award</button>
                            </div>
                        </div>
                    </div>

                    <!-- View Awards -->
                    <div *ngSwitchCase="'view'" class="popup-form">
                        <div class="content_main_com">
                            <div class="table_main">
                                <table class="table table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">AWARD</th>
                                            <th scope="col">DESCRIPTION</th>
                                            <th scope="col">STUDENT NAME</th>
                                            <th scope="col">GRADE</th>
                                            <th scope="col">
                                                STATUS
                                                <button class="icon_button" name="sort" (click)="sortByStatus()">
                                                    <i class="fa fa-sort"></i>
                                                </button>
                                            </th>
                                            <th scope="col">ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody id="accordionExample">
                                        <ng-container *ngFor="let al of awardsList ; let i = index;">
                                            <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                                                <td>{{i+1}}</td>
                                                <td>{{al.awardType}}</td>
                                                <td>{{al.description}}</td>
                                                <td>{{al.studentName}}</td>
                                                <td> {{al.studentGrade}}</td>
                                                <td>
                                                    <div *ngIf="al.status === 'PENDING'" class="pending"> {{al.status}}
                                                    </div>
                                                    <div *ngIf="al.status === 'VERIFIED'" class="verified">
                                                        {{al.status}} </div>
                                                </td>
                                                <td><button name="verifySelectedAward" *ngIf="al.status == 'PENDING'"
                                                        (click)="verifySelectedAward($event,i)" class="pending">
                                                        <i class="fa fa-hourglass-start"></i> </button>
                                                    <button name="verifiedAward" *ngIf="al.status == 'VERIFIED'"
                                                        [disabled]="(al.status == 'VERIFIED')" class="verify">
                                                        <i class="fa fa-check" aria-hidden="true"></i> </button> </td>
                                            </tr>
                                            <tr>
                                                <td class="collapse-td" colspan="7">
                                                    <div [attr.id]="'collapse' + i" class="collapse"
                                                        data-parent="#accordionExample">
                                                        <div
                                                            *ngFor="let ap of al.activityPerformedResponses; let j = index">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="horz">
                                                                        <h5> Activity - {{ap.activityName}} </h5>
                                                                        <div class="para">
                                                                            <p id="fa"> <strong> Focus Area - </strong>
                                                                            </p>
                                                                            <span id="fa"
                                                                                *ngFor="let fa of ap.focusAreas; let i = index">
                                                                                {{ (i === ap.focusAreas.length-1) ? fa : fa + "," + ' '}}
                                                                            </span><br>
                                                                            <p id="fa"><strong>PSD Area : </strong></p>
                                                                            <span id="fa"
                                                                                *ngFor="let fa of ap.psdAreas let i = index">
                                                                                {{ (i === ap.psdAreas.length-1) ? fa : fa + "," + ' '}}
                                                                            </span>
                                                                            <p> <strong>4's: </strong> {{ap.fourS}} </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <div class="description">
                                                                        <p id="title_award"> Activity {{j+1}} Details :
                                                                        </p>
                                                                        <p> <strong>Description -
                                                                            </strong>{{ap.description}}</p>
                                                                        <p> <strong style="color: green">Remarks -
                                                                            </strong>{{ap.coachRemark}} </p>
                                                                        <p> <strong>Performed Date -
                                                                            </strong>{{ap.dateOfActivity | date}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <div class="description">
                                                                        <h5> Reviews : </h5>
                                                                        <p> <strong>Participation Score -
                                                                            </strong>{{ap.participationScore}} </p>
                                                                        <p> <strong>Initiative Score -
                                                                            </strong>{{ap.initiativeScore}}</p>
                                                                        <p> <strong>Achievement Score -
                                                                            </strong>{{ap.achievementScore}}</p>
                                                                        <p> <strong>Total Score -
                                                                            </strong>{{ap.totalMarks}}</p>
                                                                        <p> <strong>Star - </strong>{{ap.star}}</p>
                                                                        <p> <strong>Reviewed Date -
                                                                            </strong>{{ap.coachRemarkDate}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <div class="attachment">
                                                                        <p *ngIf="ap.fileResponses.length">
                                                                            <strong style="text-decoration: underline;">
                                                                                Attachments : </strong> </p>
                                                                        <div *ngFor="let file of ap.fileResponses">
                                                                            <div>
                                                                                <a target="_blank"
                                                                                    [attr.href]="file.url"
                                                                                    (click)="downloadFile(file.url)">
                                                                                    <i class="fa fa-file-audio"
                                                                                        *ngIf="file.extension == 'mp3'"></i>
                                                                                    <i class="fa fa-image"
                                                                                        *ngIf="file.extension=='jpg'"></i>
                                                                                    <i class="fa fa-video-camera"
                                                                                        *ngIf="file.extension=='video'"></i>
                                                                                    {{file.name}}
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                    <tfoot *ngIf="awardsList.length == 0">
                                        <tr>
                                            <td colspan="8">
                                                <div *ngIf="award_loader" class="spinner-border text-dark"
                                                    role="status">
                                                </div>{{award_loader ? 'Loading...' :  'No Activities'}}
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal to Enter Award Name and Description -->
<div class="modal fade" id="assignAwardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Award Details - </h5>
                <button type="button" name="closeModal" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="assignAwardForm" (ngSubmit)="assignAward()">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label"> Award Name - </label>
                        <select class="form-control" name="awardType" formControlName="awardType">
                            <option value="" disabled selected> Select Award </option>
                            <option *ngFor="let award of schoolAwards" value={{award}}>
                                {{award}}
                            </option>
                            <option disabled *ngIf="schoolAwards.length == 0">No Awards Found</option>
                        </select>
                        <span *ngIf="award_loader">
                            <div class="spinner-border" role="status">
                            </div>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label"> Description - (Minimum 10 words)</label>
                        <textarea class="form-control" name="description" id="message-text"
                            formControlName="description"></textarea>
                        <small class="text-danger"
                            *ngIf="!assignAwardForm.get('description').valid && assignAwardForm.get('description').touched">
                            Min Length 10 words.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label"> Valid From - </label>
                        <input type="date" class="form-control" name="vaidFrom" formControlName="vaidFrom" />
                        <small class="text-danger"
                            *ngIf="!assignAwardForm.get('vaidFrom').valid && assignAwardForm.get('vaidFrom').touched">
                            Date Required
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label"> Valid Till - </label>
                        <input type="date" class="form-control" name="validUntil" formControlName="validUntil" />
                        <small class="text-danger"
                            *ngIf="!assignAwardForm.get('validUntil').valid && assignAwardForm.get('validUntil').touched">
                            Date Required
                        </small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" name="resetForm" class="reset btn btn-secondary" (click)="resetForm()">
                            Reset </button>
                        <button type="submit" name="submit" class="award btn btn-primary"
                            [disabled]="assignAwardForm.invalid">
                            <div *ngIf="pa_loader" class="spinner-border text-dark" role="status">
                            </div>{{pa_loader ? 'Loading...' :  'Done'}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>