<div class="main">
    <div class="content_main">
        <div class="content_main_com">
            <div class="teacher_awards_main">
                <div class="tabs">
                    <ul>
                        <li [ngClass]="{'active': awardViewType=='view'}"> <a (click)="awardView('view')"> View </a></li>
                        <li [ngClass]="{'active': awardViewType=='assign'}"> <a (click)="awardView('assign')"> Assign </a> </li>
                    </ul>
                </div>
                <div [ngSwitch]="awardViewType">
                    <!-- Assign Award -->
                    <div *ngSwitchCase="'assign'" class="popup-form">
                        <div class="assign_main">
                            <div class="assign-form">
                                <label for="exampleFormControlSelect1">Select Criteria - </label>
                                <select class="" name="criteria" [disabled]="awardcr_loader"
                                    id="exampleFormControlSelect1" (ngModelChange)="getCriteriaValue($event)"
                                    [(ngModel)]="awardCriterion">
                                    <option value="" disabled>Select Criteria</option>
                                    <option *ngFor="let ac of awardCriteriaArr" value={{ac}}>{{ac}}</option>
                                    <option disabled *ngIf="awardCriteriaArr.length == 0">No Criteria Found</option>
                                </select>
                                <span *ngIf="awardcr_loader">
                                    <div class="spinner-border" role="status">
                                    </div>
                                </span>
                            </div>
                            <div class="assign-form" [hidden]="showCriteriaValues">
                                <label for="exampleFormControlSelect1">Select {{awardCriterion}} - </label>
                                <select class="" name="CriteriaValue" [disabled]="criteriaVal_loader"
                                    id="exampleFormControlSelect1"
                                    (ngModelChange)="getPerformedActivities('value',$event)"
                                    [(ngModel)]="criterionValue">
                                    <option ngValue="" disabled>Select Value</option>
                                    <option *ngFor="let val of criteriaValuesArr" value={{val}}>{{val}}</option>
                                    <!-- <option *ngFor="let val of criteriaValuesArr" value={{val}}>{{val}}</option> -->
                                    <!-- <option disabled *ngIf="criteriaValuesArr.length == 0">No Criteria Found</option> -->
                                </select>
                                <span *ngIf="criteriaVal_loader">
                                    <div class="spinner-border" role="status">
                                    </div>
                                </span>
                            </div>
                            <div class="assign-form" [hidden]="showCriteriaValues">
                                <label for="exampleFormControlSelect1">Select Grade - </label>
                                <select class="" name="grade" [disabled]="awardCriterion.length==0"
                                    id="exampleFormControlSelect1"
                                    (ngModelChange)="getPerformedActivities('grade',$event)" [(ngModel)]="gradeId">
                                    <option value="" selected>Select Grade</option>
                                    <option *ngFor="let grade of schoolGrades" value={{grade.id}}>
                                        {{grade.grade}} {{grade.section}}
                                    </option>
                                </select>
                            </div>
                            <div class="assign-form" [hidden]="showCriteriaValues">
                                <label for="exampleFormControlSelect1" class="date">From Date - </label>
                                <input type="date" [value]="startDate" [attr.max]="endDate" [(ngModel)]="startDate"
                                    (ngModelChange)="dateChanged()" class="date">
                            </div>
                            <div class="assign-form" [hidden]="showCriteriaValues">
                                <label for="exampleFormControlSelect1" class="date">Till Date - </label>
                                <input type="date" [value]="endDate" [attr.max]="endDate" max="endDate" [(ngModel)]="endDate"
                                    (ngModelChange)="dateChanged()" class="date">
                            </div>
                        </div>

                        <!-- <div class="assign-form">
                                <label for="exampleFormControlSelect1">Select Grade - </label>
                                <select class="" name="grade" [disabled]="grade_loader" id="exampleFormControlSelect1"
                                    (ngModelChange)="getListOfStudent($event)" [(ngModel)]="selectedGrade">
                                    <option value="" disabled selected>Select Grades </option>
                                    <option *ngFor="let grade of schoolGrades" value={{grade.id}}>
                                        {{grade.grade}} {{grade.section}}
                                    </option>
                                    <option disabled *ngIf="schoolGrades.length == 0">No Grades Found</option>
                                </select>
                                <span *ngIf="grade_loader">
                                    <div class="spinner-border" role="status">
                                    </div>
                                </span>
                            </div>

                            <div class="assign-form">
                                <label for="exampleFormControlSelect2" id="mid"> Students - </label>
                                <select class="" name="studentList" [disabled]="stu_loader"
                                    id="exampleFormControlSelect1" (ngModelChange)="getStudentId($event)"
                                    [(ngModel)]="selectedStudent">
                                    <option value="" disabled selected>Select Student</option>
                                    <option *ngFor="let stu of studentList;" value={{stu.id}}>
                                        {{stu.name}}
                                    </option>
                                    <option disabled *ngIf="studentList.length == 0">No Student Found</option>
                                </select>
                                <span *ngIf="stu_loader">
                                    <div class="spinner-border" role="status">
                                    </div>
                                </span>
                            </div>

                            <div class="assign-form">
                                <label for="exampleFormControlSelect3">Select Activity - </label>
                                <select class="" name="activityList" [disabled]="acti_loader"
                                    id="exampleFormControlSelect3" (ngModelChange)="getActivityId($event)"
                                    [(ngModel)]="selectedActivity">
                                    <option value="" disabled selected>Select Activity </option>
                                    <option *ngFor="let activity of activities; let i = index;"
                                        value={{activity.activityId}}>
                                        {{activity.activityName}}
                                    </option>
                                    <option disabled *ngIf="activities.length == 0">No Activity Found</option>
                                </select>
                                <span *ngIf="acti_loader">
                                    <div class="spinner-border" role="status">
                                    </div>
                                </span>
                            </div>
                        </div> -->

                        <!-- List of Performed Activity -->
                        <div *ngIf="studentActivityList">
                            <div class="content_main_com">
                                <div class="table_main">
                                    <table class="table table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">NAME</th>
                                                <th scope="col">GRADE & SECTION</th>
                                                <th scope="col" *ngIf="!(awardCriterion=='Focus Area')">FOCUS AREA
                                                </th>
                                                <th scope="col" *ngIf="!(awardCriterion=='PSD Area')">PSD AREA</th>
                                                <th scope="col" *ngIf="!(awardCriterion=='Activity Type')">ACTIVITY
                                                    TYPE</th>
                                                <th scope="col" *ngIf="!(awardCriterion=='4S')">FOUR S</th>
                                                <th scope="col" *ngIf="awardCriterion=='Activity Type'">COUNT</th>
                                                <th scope="col">PERFORMANCE</th>
                                            </tr>
                                        </thead>
                                        <tbody id="accordionExample">
                                            <ng-container *ngFor="let activity of performedActiArr ; let i = index;">
                                                <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                                                    <td (click)="stopCollapse($event)">
                                                        <label> <input type="radio" name="selectStudent"
                                                                value={{activity.id}}
                                                                (change)="getPerformedIds(activity)"
                                                                (click)="stopCollapse($event)"> </label>
                                                    </td>
                                                    <td>{{activity.name}}</td>
                                                    <td>{{activity.grade}} {{activity.section}}</td>
                                                    <td *ngIf="!(awardCriterion=='Focus Area')">
                                                        <ul id="collapselist">
                                                            <li *ngFor="let at of activity.focusAreas; let i = index">
                                                                {{ (i === activity.focusAreas.length-1) ? at : at + ' '}}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td *ngIf="!(awardCriterion=='PSD Area')">
                                                        <ul id="collapselist">
                                                            <li *ngFor="let at of activity.psdAreas; let i = index">
                                                                {{ (i === activity.psdAreas.length-1) ? at : at + "," + ' '}}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td *ngIf="!(awardCriterion=='Activity Type')">
                                                        <ul id="collapselist">
                                                            <li
                                                                *ngFor="let at of activity.activityTypes; let i = index">
                                                                {{ (i === activity.activityTypes.length-1) ? at : at + ' '}}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td *ngIf="!(awardCriterion=='4S')">
                                                        <ul id="collapselist">
                                                            <li *ngFor="let at of activity.fourS; let i = index">
                                                                {{ (i === activity.fourS.length-1) ? at : at + ' '}}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td *ngIf="awardCriterion=='Activity Type'">
                                                        {{activity.performedActivities[0].count}}</td>
                                                    <td>{{activity.scoreForAward}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="collapse-td" colspan="8">
                                                        <div [attr.id]="'collapse' + i" class="collapse"
                                                            data-parent="#accordionExample">

                                                            <!-- When award criteria is 4s, PSD and Focus Area -->
                                                            <table *ngIf="!(awardCriterion=='Activity Type')"
                                                                class="innertable">
                                                                <tbody id="innerAccordionExample">
                                                                    <ng-container
                                                                        *ngFor="let pa of activity.performedActivities; let i = index;">
                                                                        <tr data-toggle="collapse"
                                                                            [attr.data-target]="'#collapsed'+i">
                                                                            <td> {{i+1}} </td>
                                                                            <td id="actname"> {{pa.activityName}} </td>
                                                                            <td>
                                                                                <p *ngIf="!(awardCriterion=='Focus Area')">
                                                                                    <strong> Focus Area - </strong>
                                                                                    <span *ngFor="let at of pa.responses[0].focusAreas; let i = index">
                                                                                        {{ (i === pa.responses[0].focusAreas.length-1) ? at : at + "," + ' '}}
                                                                                    </span>
                                                                                </p>
                                                                                <p *ngIf="!(awardCriterion=='PSD Area')">
                                                                                    <strong> PSD Area - </strong>
                                                                                    <span *ngFor="let at of pa.responses[0].psdAreas; let i = index">
                                                                                        {{ (i === pa.responses[0].psdAreas.length-1) ? at : at + "," + ' '}}
                                                                                    </span> </p>
                                                                            </td>
                                                                            <td> <p *ngIf="!(awardCriterion=='4S')">
                                                                                    <strong> 4S - </strong> {{pa.responses[0].fourS}} </p> 
                                                                            </td>
                                                                            <td>Activity Count - <strong> {{pa.count}} </strong> </td>
                                                                            <td>Average Stars - <strong> {{pa.averageStars}} </strong> </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="last collapsed-td" colspan="12">
                                                                                <div [attr.id]="'collapsed' + i"
                                                                                    class="collapse"
                                                                                    data-parent="#innerAccordionExample">
                                                                                    <div
                                                                                        *ngFor="let ac of pa.responses; let j = index;">
                                                                                        <div class="row">
                                                                                            <div class="col-6">
                                                                                                <div class="assign description">
                                                                                                    <h5> <label> <input
                                                                                                                type="checkbox"
                                                                                                                name="selectPerformedActivity"
                                                                                                                value={{ac.id}}
                                                                                                                [(ngModel)]="actiPerform[ac.id]">
                                                                                                        </label>
                                                                                                        {{i+1}}.{{j+1}}
                                                                                                    </h5>
                                                                                                    <p> <strong>Title - </strong>{{ac.title}} </p>
                                                                                                    <p> <strong>Description - </strong>{{ac.description}} </p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-6">
                                                                                                <div
                                                                                                    class="assign description">
                                                                                                    <h5> Scoring </h5>
                                                                                                    <p> <strong>Total
                                                                                                            Score -
                                                                                                        </strong>{{ac.totalMarks}}
                                                                                                    </p>
                                                                                                    <p> <strong>Remarks
                                                                                                            -
                                                                                                        </strong>{{ac.coachRemark}}
                                                                                                    </p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </ng-container>
                                                                </tbody>
                                                            </table>

                                                            <!-- When award criteria is Activity Type -->
                                                            <div *ngIf="awardCriterion=='Activity Type'">
                                                                <div
                                                                    *ngFor="let pa of activity.performedActivities; let i = index;">
                                                                    <div
                                                                        *ngFor="let ac of pa.responses; let j = index;">
                                                                        <div class="row">
                                                                            <div class="col-6">
                                                                                <div class="assign description">
                                                                                    <h5>
                                                                                        <label> <input type="checkbox"
                                                                                                name="selectPerformedActivity"
                                                                                                value={{ac.id}}
                                                                                                [(ngModel)]="actiPerform[ac.id]">
                                                                                        </label>
                                                                                        {{j+1}}
                                                                                    </h5>
                                                                                    <p> <strong>Title -
                                                                                        </strong>{{ac.title}}</p>
                                                                                    <p> <strong>Description -
                                                                                        </strong>{{ac.description}}</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <div class="assign description">
                                                                                    <h5> Scoring </h5>
                                                                                    <p> <strong>Total Score -
                                                                                        </strong>{{ac.totalMarks}} </p>
                                                                                    <p> <strong>Coach Remarks -
                                                                                        </strong>{{ac.coachRemark}} </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                        <tfoot *ngIf="performedActiArr.length == 0">
                                            <tr>
                                                <td colspan="8">
                                                    <div *ngIf="pa_loader" class="spinner-border text-dark"
                                                        role="status">
                                                    </div>{{pa_loader ? 'Loading...' :  'No Student Found'}}
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <button type="button" name="giveAward" class="award btn btn-success"
                                (click)="getSchoolAwards()">Give Award
                            </button>
                        </div>

                    </div>

                    <!-- View Awards -->
                    <div *ngSwitchCase="'view'" class="popup-form">
                        <div class="content_main_com">
                            <div class="table_main">
                                <table class="table table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">AWARD</th>
                                            <th scope="col">DESCRIPTION</th>
                                            <th scope="col">STUDENT</th>
                                            <th scope="col">AWARD CRITERIA</th>
                                            <th scope="col">CRITERIA VALUE</th>
                                            <th scope="col">VALID FROM</th>
                                            <th scope="col">VALID TO</th>
                                            <th scope="col">
                                                STATUS
                                                <button class="icon_button" name="sort" (click)="sortByStatus()">
                                                    <i class="fa fa-sort"></i>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="accordionExample">
                                        <ng-container *ngFor="let al of awardsList ; let i = index;">
                                            <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                                                <td>{{i+1}}</td>
                                                <td>{{al.awardType}}</td>
                                                <td class="des"> {{al.description}}</td>
                                                <td>{{al.studentName}} {{al.studentGrade}}</td>
                                                <td>{{al.awardCriterion}}</td>
                                                <td>{{al.criterionValue}}</td>
                                                <td>{{al.validFrom | date }}</td>
                                                <td>{{al.validUntil | date}}</td>
                                                <td>
                                                    <div *ngIf="al.status === 'PENDING'" class="pending"> {{al.status}}
                                                    </div>
                                                    <div *ngIf="al.status === 'VERIFIED'" class="verified">
                                                        {{al.status}} </div>
                                                </td>
                                                <!-- <td><button name="verifySelectedAward" *ngIf="al.status == 'PENDING'"
                                                    (click)="verifySelectedAward($event,i)" class="pending">
                                                    <i class="fa fa-hourglass-start"></i> </button>
                                                <button name="verifiedAward" *ngIf="al.status == 'VERIFIED'"
                                                    [disabled]="(al.status == 'VERIFIED')" class="verify">
                                                    <i class="fa fa-check" aria-hidden="true"></i> </button> </td> -->
                                            </tr>
                                            <tr>
                                                <td class="collapse-td" colspan="9">
                                                    <div [attr.id]="'collapse' + i" class="collapse"
                                                        data-parent="#accordionExample">
                                                        <table class="innertable">
                                                            <tbody id="innerAccordionExample">
                                                                <ng-container
                                                                    *ngFor="let pa of al.activityPerformedResponses; let i = index;">
                                                                    <tr data-toggle="collapse"
                                                                        [attr.data-target]="'#collapsed'+i">
                                                                        <td>{{i+1}}</td>
                                                                        <td id="actname">{{pa.activityName}}</td>
                                                                        <td>Activity Count - {{pa.count}}</td>
                                                                        <td>Average Stars - {{pa.averageStars}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="last collapsed-td" colspan="12">
                                                                            <div [attr.id]="'collapsed' + i"
                                                                                class="collapse"
                                                                                data-parent="#innerAccordionExample">
                                                                                <div
                                                                                    *ngFor="let ac of pa.responses; let j = index;">
                                                                                    <div class="row">
                                                                                        <div class="col-6">
                                                                                            <div
                                                                                                class="assign description">
                                                                                                <h5>{{i+1}}.{{j+1}}
                                                                                                </h5>
                                                                                                <p> <strong>Title -
                                                                                                    </strong>{{ac.title}}
                                                                                                </p>
                                                                                                <p> <strong>Description
                                                                                                        -
                                                                                                    </strong>{{ac.description}}
                                                                                                </p>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-6">
                                                                                            <div
                                                                                                class="assign description">
                                                                                                <h5> Scoring </h5>
                                                                                                <p> <strong>Total Score
                                                                                                        -
                                                                                                    </strong>{{ac.totalMarks}}
                                                                                                </p>
                                                                                                <p> <strong>Remarks -
                                                                                                    </strong>{{ac.coachRemark}}
                                                                                                </p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </ng-container>
                                                            </tbody>
                                                        </table>
                                                        <!-- <div *ngFor="let ap of al.responses[0].activityPerformedResponses; let j = index">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="horz">
                                                    <h5> Activity - {{ap.activityName}} </h5>
                                                    <div class="para">
                                                        <p id="fa"> <strong> Focus Area - </strong>
                                                        </p>
                                                        <span id="fa" *ngFor="let fa of ap.focusAreas; let i = index">
                                                            {{ (i === ap.focusAreas.length-1) ? fa : fa + "," + ' '}}
                                                        </span><br>
                                                        <p id="fa"><strong>PSD Area : </strong></p>
                                                        <span id="fa" *ngFor="let fa of ap.psdAreas let i = index">
                                                            {{ (i === ap.psdAreas.length-1) ? fa : fa + "," + ' '}}
                                                        </span>
                                                        <p> <strong>4's: </strong> {{ap.fourS}} </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="description">
                                                    <p id="title_award"> Activity {{j+1}} Details :
                                                    </p>
                                                    <p> <strong>Description -
                                                        </strong>{{ap.description}}</p>
                                                    <p> <strong style="color: green">Remarks -
                                                        </strong>{{ap.coachRemark}} </p>
                                                    <p> <strong>Performed Date -
                                                        </strong>{{ap.dateOfActivity | date}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="description">
                                                    <h5> Reviews : </h5>
                                                    <p> <strong>Participation Score -
                                                        </strong>{{ap.participationScore}} </p>
                                                    <p> <strong>Initiative Score -
                                                        </strong>{{ap.initiativeScore}}</p>
                                                    <p> <strong>Achievement Score -
                                                        </strong>{{ap.achievementScore}}</p>
                                                    <p> <strong>Total Score -
                                                        </strong>{{ap.totalMarks}}</p>
                                                    <p> <strong>Star - </strong>{{ap.star}}</p>
                                                    <p> <strong>Reviewed Date -
                                                        </strong>{{ap.coachRemarkDate}}</p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="attachment">
                                                    <p *ngIf="ap.fileResponses.length">
                                                        <strong style="text-decoration: underline;">
                                                            Attachments : </strong> </p>
                                                    <div *ngFor="let file of ap.fileResponses">
                                                        <div>
                                                            <a target="_blank" [attr.href]="file.url"
                                                                (click)="downloadFile(file.url)">
                                                                <i class="fa fa-file-audio"
                                                                    *ngIf="file.extension == 'mp3'"></i>
                                                                <i class="fa fa-image"
                                                                    *ngIf="file.extension=='jpg'"></i>
                                                                <i class="fa fa-video-camera"
                                                                    *ngIf="file.extension=='video'"></i>
                                                                {{file.name}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                    <tfoot *ngIf="awardsList.length == 0">
                                        <tr>
                                            <td colspan="9">
                                                <div *ngIf="award_loader" class="spinner-border text-dark"
                                                    role="status">
                                                </div>{{award_loader ? 'Loading...' :  'No Awards'}}
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal to Enter Award Name and Description -->
<div class="modal fade" id="assignAwardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Award Details - </h5>
                <button type="button" name="closeModal" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="assignAwardForm" (ngSubmit)="assignAward()">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label"> Award Name - </label>
                        <select class="form-control" name="awardType" formControlName="awardType">
                            <option [ngValue]="null" disabled selected> Select Award </option>
                            <option *ngFor="let award of schoolAwards" value={{award}}>
                                {{award}}
                            </option>
                            <option disabled *ngIf="schoolAwards.length == 0">No Awards Found</option>
                        </select>
                        <span *ngIf="award_loader">
                            <div class="spinner-border" role="status">
                            </div>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label"> Description - (Minimum 10 words)</label>
                        <textarea class="form-control" name="description" id="message-text" (ngModelChange)="wordCount($event)"
                            formControlName="description"></textarea>
                            <span class="text-muted">Word count - {{count}}</span><br>
                        <small class="text-danger"
                            *ngIf="!assignAwardForm.get('description').valid && assignAwardForm.get('description').touched">
                            Min Length 10 words.
                        </small>
                    </div>

                    <div class="modal-footer">
                        <button type="button" name="resetForm" class="reset btn btn-secondary" (click)="resetForm()">
                            Reset </button>
                        <button type="submit" name="submit" class="award btn btn-primary"
                            [disabled]="assignAwardForm.invalid">
                            <div *ngIf="pa_loader" class="spinner-border text-dark" role="status">
                            </div>{{pa_loader ? 'Loading...' :  'Done'}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>