
.teacher-awards.content {
    width: 50%;
    color: white;
    display: inline-block;
    float: left;
}

.teacher-awards.image {
    width: 50%;
    color: white;
    display: inline-block;
    float: right;
}
.tabs {
    width: 100%;
    display: inline-flex;
    background: #737373;
}

.teacher-awards .popup-form {
    width: 100%;
    background: #fff;
    padding: 15px;
    text-align: left;
    position: relative;
    left: 50%;
    top: 20px;
    color: #333;
    margin: auto;
    box-shadow: 0 0 10px #999;
}
.popup-form select {
    background: #ddd;
    border: none;
    color: #333;
    height: 30px;
    border-radius: 0 !important;
    border: 1px solid #333;
    margin: 20px 10px;
    width: 200px;
}

button.assign-button {
    background: green !important;
    border: none;
    color: #fafafa;
    font-size: 18px;
    padding: 5px 10px;
    margin-top: 15px;
}
img{
    width: 100%;
    display: inline-block;
    position: relative;
    opacity: 0.8;
}

.teacher-awards {
    width: 100%;
    margin: 0;
    display: inline-block;
    text-align: center;
}
.award-button{
    background: #46818d !important;
}
.tabs a {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: #fafafa !important;
}
.tabs ul{
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.collapse-td{
    padding: 0;
  }

.tabs li {
    padding: 10px 0;
}
li.active {
    background: #8dc33a;
}
.table button.verify {
    color: #333;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.teacher_awards_main .popup-form {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.assign_form {
    margin: 10px;
}
.assign_main{
    display: inline-flex;
    width: 100%;
}
p#title_award {
    font-size: 20px;
    font-weight: 300;
    color: #8dc33a;
    margin: 5px 0 15px 0;
}
.description h5{
    margin-bottom: 12px;
    font-size: 17px;
    text-decoration: underline;
}
button.icon_button {
    padding: 5px;
    margin: 0 5px;
    border: none !important;
    background: none !important;
    cursor: pointer;
    box-shadow: none !important;
}
i.fa.fa-hourglass-start {
    color: #8dc33a;
    font-size: 18px;
}
button.award.btn.btn-success, button.award.btn.btn-primary {
    background: #8dc33a !important;
    padding: 10px;
    border-radius: 2px;
}
button.reset.btn.btn-secondary {
    padding: 10px;
}
