<div class="student-dtls">


<div class="row">
    <div [ngClass]="col">
        <div class="student-information-mian">
            <h1>{{studentDetails.name}}</h1>
            <div class="student_image">
                <div class="photo">
                    <img [src]="imagePath">
                </div>
                
            </div>
            <div class="information">
                <ul>
                    <li> <strong>DOB :</strong> {{studentDetails.dob? (studentDetails.dob | date) : ' - ' }} </li>
                    <li> <strong>Email :</strong> {{studentDetails.email ? studentDetails.email : ' - '}}</li>
                    <li> <strong>Gender :</strong> {{studentDetails.gender ?( studentDetails.gender | titlecase) : ' - '}}</li>
                    <li> <strong>Grade :</strong> {{studentDetails.grade ? studentDetails.grade : '  '}} -
                        {{studentDetails.section ? studentDetails.section : '  '}}</li>
                    <li> <strong>Enrollment Year :</strong> {{studentDetails.yearOfEnrolment ? studentDetails.yearOfEnrolment : ' - '}}</li>
                    <button class="btn btn-primary">Edit Student</button>
                </ul>
                
            </div>
    
        </div>
        
       
        <div class="guardian-information">
        <h3>Guardians : <button class="btn btn-primary">Edit Guardian</button></h3>        
        
            <div class="card" *ngFor="let sd of studentDetails['guardianResponseList']">
                <div class="card-body">
                    <h5 class="card-title">{{sd.relationship}}</h5>
                    <p class="card-text">{{sd.name}}</p>
                    <p class="card-text">{{sd.mobileNumber}}</p>
                    <p class="card-text">{{sd.email}}</p>
                    <!-- <button class="btn btn-primary">Edit</button> -->
                </div>
            </div>
        
        </div>
        <div class="btns">
            
            <button class="btn btn-dark" (click)="setShowClub(true)">Show Clubs/Socities</button>
        </div>

          
    </div>
    <div class="col-12" *ngIf="showClub">
        <h3>List of Enrolled Club/Society <button class="btn btn-danger" (click)="setShowClub(false)">Close</button>
        </h3>
        <div *ngIf="studentEnrolledClubArr.length">
            <h4><b>Clubs : </b></h4>
            <div *ngFor="let club of studentEnrolledClubArr; let i = index">
                <div class="card w-50">
                    <div class="card-body">
                        <h5 class="card-title">{{i+1}}. {{club.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="studentEnrolledSociArr.length">
            <h4><b>Society :</b></h4>
            <div *ngFor="let club of studentEnrolledSociArr; let i = index">
                <div class="card w-50">
                    <div class="card-body">
                        <h5 class="card-title">{{i+1}}. {{club.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!(studentEnrolledSociArr.length && studentEnrolledClubArr.length)">
            <br><br>
            <h5><b>No Enrolled Club/Society</b></h5>
        </div>
    </div>  
    
    
</div>