<h2>{{clubObject['name']}} Details</h2>
<hr>

<!-- List of supervisor -->
<h5>List of Supervisors :</h5>
<ul *ngFor="let c of coaches; let i = index">
    <li class="teachername" [ngClass]="{'active':supervisorId==c.id}" (click)="getSupervisorSession(c)">{{i+1}}.
        {{c.name}} -</li>
    <li> {{c.profileBrief}} </li>
</ul>
<div *ngIf="coaches.length==0" id="null">
    <div class="spinner-border text-secondary" role="status" *ngIf="sup_loader">
    </div>{{sup_loader ? '  Loading...' : 'No Supervisor'}}
</div>
<hr>

<!-- List of Students -->
<div>
<div class="act_details_section_two">
    <h5>List of Students :</h5>
    <select name="grade" [disabled]="stu_loader" (ngModelChange)="filterStudent($event)" [(ngModel)]="gradeId">
        <option value="" selected>Select Grade</option>
        <option *ngFor="let g of grades" value={{g.id}}>{{g.grade}} {{g.section}}</option>
        <option disbaled *ngIf="!grades.length">No Grades Available</option>
    </select>
</div>
<ul id="student_list">
    <li *ngFor="let s of students; let i = index"> {{i+1}}. {{s.name}} - {{s.grade}} {{s.section}}</li>
    <li *ngIf="students.length==0" id="null">
        <div class="spinner-border text-secondary" role="status" *ngIf="stu_loader">
        </div> {{stu_loader ? ' Loading...' : 'No Students'}}
    </li>
</ul>
</div>
<hr>

<!-- Schedule of Sessions -->
<div>
    <div class="act_details_section_two">
        <h5>Session Schedule :</h5>
        <select name="status" [disabled]="enrollSch_loader" (ngModelChange)="filterSession($event)"
          [(ngModel)]="filterVal"> Filter :
          <option value="" selected>All</option>
          <option value="upcoming">Upcoming</option>
          <option value="ended">Ended</option>
        </select>
      </div>

      <div *ngIf="enrollSch_loader">
        <div class="spinner-border text-secondary" role="status" *ngIf="enrollSch_loader">
        </div>{{enrollSch_loader?'  Loading...':''}}
      </div> {{clubSchedule.length==0&&!enrollSch_loader?'No Session Available !': ''}}

      <div class="day_post">
        <div class="day" *ngFor="let club of clubSchedule; let i = index;">
          <h3>{{club.criterionValue | date}} - {{club.criterionValue | date:'EEEE'}} </h3>
          <ul *ngFor="let res of club.responses; let i = index;">
            <li id="session_title"> {{i+1}}. {{res.title}}
              <span *ngIf="res.status=='upcoming'" style="color: red">({{res.status | uppercase}})</span>
              <span *ngIf="res.status=='ended'" style="color: green">({{res.status | uppercase}})</span>
            <li>
            <li>{{res.club.name}} - {{res.startDate | date:"HH:mm"}}hrs - {{res.endDate | date:"HH:mm"}}hrs
            </li>
          </ul>
        </div>
      </div>
</div>