
<div class="student-home-card">
    <div class="student_home">
      
      <div class="welcome">
        <h2> Welcome to My Good School , {{userInfo.name}} ! </h2>
      </div>
  
      <div class="schedule clubs-socities-main">
        <div class="days-main">
          <!-- <h2> Clubs & Societies </h2> -->
          <div class="cluibs-socity-heading">
            <div class="row">
              <div class="col-6">
                  <h3>Clubs</h3>
              </div>
              <div class="col-6">
                <h3>Societies</h3>
              </div>
          </div>
          </div>
          <div class="row">
            <div class="col-3 day-card">
              <div class="day">
                <h3>Sports </h3>
                <ul>
                    <div *ngIf="clubLoader" class="spinner-border text-secondary" role="status"></div>
                    <li *ngFor="let sport of sportArr">
                        <a (click)="setClubDetails(true,sport)">{{sport.name}}</a>
                    </li>
                    <p *ngIf="!clubLoader && sportArr.length==0">No Sport Avaliable</p>
                </ul>
                
              </div>
            </div>
            <div class="col-3 day-card">
              <div class="day">
                <h3>Skills </h3>
                <ul>
                    <div *ngIf="clubLoader" class="spinner-border text-secondary" role="status"></div>
                    <li *ngFor="let skill of skillArr">
                        <a (click)="setClubDetails(true,skill)">{{skill.name}}</a>
                    </li>
                    <p *ngIf="!clubLoader && skillArr.length==0">No Skill Avaliable</p>
                </ul>
              </div>
            </div>
            <div class="col-3 day-card">
              <div class="day">
                <h3>Services </h3>
                <ul>
                    <div *ngIf="clubLoader" class="spinner-border text-secondary" role="status"></div>
                    <li *ngFor="let service of serviceArr">
                        <a (click)="setClubDetails(true,service)">{{service.name}}</a>
                    </li>
                    <p *ngIf="!clubLoader && serviceArr.length==0">No Service Avaliable</p>
                </ul>
              </div>
            </div>
            <div class="col-3 day-card">
              <div class="day">
                <h3>Study </h3>
                <ul>
                    <div *ngIf="clubLoader" class="spinner-border text-secondary" role="status"></div>
                    <li *ngFor="let study of studyArr">
                        <a (click)="setClubDetails(true,study)">{{study.name}}</a>
                    </li>
                    <p *ngIf="!clubLoader && studyArr.length==0">No Study Avaliable</p>
                </ul>
              </div>
            </div>
  
          </div>
      
        </div>
  
        <div class="supervisor-main">
            <div class="container-fluid">
              <div class="row">
                  <div class="col-12" *ngIf="showClubDetails">
                    <button class="btn btn-close btn-danger" (click)="setClubDetails(false)"> <i class="fa fa-times"
                      aria-hidden="true"></i></button>
                    <app-coordinator-club-details [clubObject]="club_Object"></app-coordinator-club-details>
                  </div>
                </div>
            </div>
          </div>
        
  
        
      </div>
    
 
    
    </div>
  </div>
