.student-dtls h1 {
    font-size: 18px;
    margin-top: -10px;
    padding: 10px 15px;
    background: #fafafa;
    // border-bottom: solid 1px #ddd;
    box-shadow: 0 0 3px #ddd;
    margin-bottom: 15px;
}
.information ul {
    padding: 0;
    margin: 0;
}
.information {
    width: calc(100% - 180px);
    float: right;
    padding: 0 15px;
}   
.student_image {
    width: 180px;
    display: inline-block;
    text-align: center;
}
.student-information-mian {
    display: inline-block;
    width: 100%;
    box-shadow: 0 0 3px #ddd;
    padding: 10px 0;
    background: white;
}
.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.guardian-information {
    margin-top: 20px;
    padding-top: 20px;
    box-shadow: 0 0 3px #ddd;
    padding: 10px;
    background: #ffff;
}
.guardian-information h3 {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 12px 15px;
    background: #fafafa;
    box-shadow: 0 0 5px #ddd;
    font-size: 20px;
}
.guardian-information h3 .btn {
    float: right;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px !important;
    background: #159487;
}
.btns button.btn.btn-dark {
    float: right;
}
.btns{
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    padding: 0 15px;
}
.btns button.btn.clubs-socities-btn {
    float: right;
    border-radius: 3px !important;
}
.guardian-information .card .card-body {
    padding: 10px;
    box-shadow: 0 0 3px #ddd;
    background: #fff;
}
.guardian-information .card {
    display: inline-block;
    width: 50%;
    padding: 5px;
    border: none;
    vertical-align: top;
    background: none;
}
.card-body p.card-text {
    font-size: 14px;
    margin-bottom: 7px;
}
.card-body h5.card-title {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 8px 10px;
    /* background: #fafafa; */
    border-bottom: solid 1px #ddd;
    font-size: 15px;
    font-weight: bold;
    color: #555;
}
.information .btn {
    font-size: 12px;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 3px !important;
    background: #159487;
}
.student-information-mian .information li {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}
.clubs-socity-main {
    box-shadow: 0 0 3px #ddd;
    padding: 0;
    margin-top: 15px;
    width: 100%;
    display: inline-block;
    background: white;
    text-align: center;
}
.clubs-socity-main h3 {
    background: #fafafa;
    text-align: left;
    // margin-top: -15px;
    // margin-left: -15px;
    // margin-right: -15px;
    padding: 10px 15px;
    font-size: 18px;
    box-shadow: 0 0 4px #ddd;
    position: relative;
}
.clubs-socity-main h3 button.btn {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    font-size: 14px;
    // background: rgba(0,0,0,0.5);
}
.clubs, .society {
    padding: 10px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 4px #ddd;
    // margin: 8px;
    text-align: left;
}
.club-socity-card{
    display: inline-block;
    width: 50%;
    padding: 10px;
}
.clubs h4, .society h4{
    font-size: 16px;

}

.clubs ul li, .society ul li {
    margin-bottom: 5px;
}
.clubs ul, .society ul {
    padding: 0;
    min-height: 120px;
    margin: 0;
    max-height: 120px;
    overflow-y: auto;
}
.club-socity-card .card{
    margin-bottom: 10px;

}
.card-body strong {
    font-size: 15px;
    color: #555;
}

.clubs h4, .society h4 {
    background: #fafafa;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    box-shadow: 0 0 4px #ddd;
    font-weight: bold;
    color: #555;
}
.card .card-body {
    padding: 10px;
}

.clubs-socities-btn{
    background: #28a745 !important;
    border: none;
    border-radius: 4px;
}
.clubs-socities-btn:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.modal-body .form-group textarea{
    height: 120px;
}
.modal-body .form-group .col-form-label{
    font-weight: bold;
    color: #555;
}
#editSupervisorModal .modal-dialog {
    max-width: 580px;
}
.modal-body {
    padding: 10px 0 0 0;
}
.clubs-socity-main h2 .btn {
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 3px !important;
    margin-left: 10px;
}
.clubs-socity-main h2{
    margin: 0;
}
.card .card-body p{
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}
.card-body button.btn {
    font-size: 12px;
    border-radius: 3px !important;
    padding: 3px 5px;
    margin: 3px;
}
#assignClubModal .modal-body, #assignGradeModal .modal-body {
    padding: 10px 15px 0;
}
#assignClubModal .modal-dialog, #assignGradeModal .modal-dialog {
    max-width: 380px;
}
span.badge {
    font-size: 12px;
    padding: 2px 8px;
    line-height: normal;
    width: 100%;
    letter-spacing: 1px;
}

/*----Grade-Check---*/

.grade-main {
    border: solid 1px #ddd;
    padding: 0 0 10px 0;
    display: inline-block;
    width: 100%;
    position: relative;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.grade-main h3 {
    // margin-top: -10px;
    font-size: 16px;
    font-weight: bold;
    // margin-left: -15px;
    // margin-right: -15px;
    margin-bottom: 0;
    padding: 10px 15px;
    border-bottom: solid 1px #ddd;
    position: sticky;
    top: 0;
    z-index: 22;
    background: white;
    color: #555;
    margin-bottom: 10px;
    padding: 15px;
}
.grade-main .form-check{
    padding: 5px 35px;
}
#assignSupervisorModal .modal-dialog .form-group > label {
    font-weight: bold;
    color: #555;
}
.form-check .form-check-input {
    width: 18px;
    margin: 0;
    height: 18px;
    left: 15px;
    top: 8px;
    opacity: 0;
    z-index: 22;
    cursor: pointer;
}

.form-check .form-check-input + span:after {
    content: "";
    display: inline-block;
    width: 18px;
    border: solid 1.5px #999;
    height: 18px;
    position: absolute;
    left: 15px;
    top: 8px;
    font-family: FontAwesome;
    text-align: center;
    line-height: 17px;
    font-size: 11px;
    color: #4bafa5;
    // opacity: 1;
}
.form-check .form-check-input:checked + span:after{
    border-color: #4bafa5;
    content: "\f00c";

}
.form-check label.form-check-label span {
    padding-left: 10px;
    line-height: normal;
    margin-top: 1px;
    display: inline-block;
}
.form-check{
    padding-left: 0;
    .check-field{
        position: relative;
        .form-check-input{
            opacity: 1;
            left: 0;
            top: 2px;
            width: 15px;
        }
        label{
            padding-left: 25px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.brief {
    display: inline-block;
    padding: 15px;
    width: 100%;
}

.grade-main{
    .btn{
        float: right;
        margin-top: -8px;
    }
}


button.btn.btn-success{
    background: rgba(31, 105, 173, 0.8) !important;
}
button.btn.btn-primary{
    background: rgba(31, 105, 173, 0.8) !important;
}

.modal-body{
    .form-check{
        padding-left: 0;
    
        .radio-field {
            position: relative;
            width: 100%;
            display: inline-block;
    
            input {
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0px;
                z-index: 2;
                margin: 0;
                top: 3px;
                opacity: 0;
                cursor: pointer;
    
            }
            input ~ label:after {
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                border: solid 1px #888;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 3px;
            }
            input:checked ~ label:after {
                content: "";
                border: solid 2px #fff;
                box-shadow: 0 0 0 1px #1f69ad;
                padding: 3px;
                background: #1f69ad;
                
            }
            label{
                cursor: pointer;
                padding-left: 25px;
                margin-bottom: 0;
            }
    
    
            
        }
    }

    .form-check{
        padding-left: 15px;

        .form-check-label {
            position: relative;
            width: 100%;
            display: inline-block;

            input {
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0px;
                z-index: 2;
                margin: 0;
                top: 3px;
                opacity: 0;
                cursor: pointer;
            }
            input ~ label:after {
                content: "";
                display: inline-block;
                width: 17px;
                height: 17px;
                border: solid 1.5px #888;
                border-radius: 1px;
                position: absolute;
                left: 0;
                top: 3px;
                font-family: FontAwesome;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                color: #4bafa5;
            }
            input:checked ~ label:after {
                content: "\f00c";
                border: solid 1.5px #4bafa5;

                // box-shadow: 0 0 0 1px #4bafa5;
                // padding: 3px;
                // background: #4bafa5;
                
            }
            label{
                padding-left: 25px;
                cursor: pointer;
                margin-bottom: 0;
            }


            
        }
    }

}
