<div class="student-dtls">
    <div class="row">
        <div [ngClass]="col">
            <div class="student-information-mian">
                <h1>{{staffDetails.name}}</h1>
                <div class="student_image">
                    <div class="photo">
                        <img [src]="imagePath">
                    </div>
                </div>
                <div class="information">
                    <ul>
                        <li> <strong>DOB : </strong> {{staffDetails.dob ? (staffDetails.dob | date) : "-"}} </li>
                        <li> <strong>Gender : </strong>
                            {{staffDetails.gender ? (staffDetails.gender | titlecase) : "-"}} </li>
                        <li> <strong>Mobile Number : </strong>
                            {{staffDetails.mobileNumber ? staffDetails.mobileNumber : "-"}} </li>
                        <li> <strong>Email : </strong> {{staffDetails.email ? staffDetails.email : "-"}} </li>
                        <li> <strong>Qualification : </strong>
                            {{staffDetails.qualification ? staffDetails.qualification : "-"}} </li>
                        <li> <strong>Enrollment Year : </strong>
                            {{staffDetails.yearOfEnrolment ?  staffDetails.yearOfEnrolment : "-"}}</li>
                        <li *ngIf="staffDetails.grades"> <strong>Grades : </strong>
                            <span *ngFor="let g of staffDetails.grades; let i = index">
                                {{ (i === staffDetails.grades.length-1)? g.grade +" "+g.section : g.grade+" "+g.section+ "," + ' '}}
                            </span></li>

                        <button class="btn btn-primary" (click)="showSupervisorModal()">Edit Profile</button>
                    </ul>
                </div>
                <div class="brief"> <strong>Brief : </strong>
                    {{staffDetails.profileBrief ? staffDetails.profileBrief : "-"}}</div>
            </div>
        </div>
        <div class="btns">
            <button class="btn clubs-socities-btn btn-success" *ngIf="staffDetails.roles.includes('Supervisor')"
                (click)="setShowClub(true)">Show Clubs/Societies</button>
        </div>

        <div class="col-12" *ngIf="showClub">
            <div class="clubs-socity-main">
                <h3>List of Club/Society <button class="btn btn-danger" (click)="setShowClub(false)"> <i
                            class="fa fa-close"></i> </button>

                </h3>

                <h2 class="text-left"><button class="btn btn-success" (click)="showAssignModal()">Add
                        Club/Society</button></h2>
                <div class="club-socity-card">
                    <div class="clubs" *ngIf="assignedClubsArr.length">
                        <h4><b> Clubs : </b></h4>
                        <div *ngFor="let club of assignedClubsArr; let i = index;">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{i+1}}. {{club.name}} </h5>
                                    <strong>Grades : </strong>
                                    <ul>
                                        <li *ngFor="let grade of club.gradeResponses; let i = index">
                                            {{ (i === club.gradeResponses.length-1) ? grade.grade + "-" + grade.section : grade.grade + "-" + grade.section  + "," + ' '}}
                                        </li>
                                    </ul>
                                    <button class="btn btn-success" (click)="showGradeEditModal(club)">Update/Assign
                                    </button>
                                    <button class="btn btn-danger" (click)="unassignClub(club)">Unassign</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-socity-card">
                    <div class="society" *ngIf="assignedSocietyArr.length">
                        <h4><b> Societies :</b></h4>
                        <div *ngFor="let soc of assignedSocietyArr; let i = index;">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{i+1}}. {{soc.name}}</h5>
                                    <div class="grade-content">
                                        <strong>Grades : </strong>
                                        <ul>
                                            <li *ngFor="let grade of soc.gradeResponses; let i = index">
                                                {{ (i === soc.gradeResponses.length-1) ? grade.grade + "-" + grade.section : grade.grade + "-" + grade.section  + "," + ' '}}
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-success" (click)="showGradeEditModal(soc)">Update/Assign
                                    </button>
                                    <button class="btn btn-danger" (click)="unassignClub(soc)">Unassign</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!(assignedSocietyArr.length) && !(assignedClubsArr.length)">
                    <br><br>
                    <h5><b>No Club/Society Assigned</b></h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to Assign Club To a Supervisor/Coordinator -->
    <div class="modal fade bd-example-modal-lg" id="assignClubModal" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel"> Assign Club/Society </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 for="recipient-name" class="col-form-label">Name of Teacher :
                        {{staffDetails.name}}</h3>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Club/Society :</label>
                        <select class="form-control" name="club" [(ngModel)]="clubId">
                            <option value="" selected disabled>Select One</option>
                            <option *ngFor="let c of allSchoolClubsArr" value={{c.id}}>
                                {{c.name}} ({{c.clubOrSociety}})
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="grade-main">
                            <h3 for="recipient-name" class="col-form-label">Grades : <button class="btn btn-success"
                                    (click)="selectGrades('All')">Select all</button>
                                <button class="btn btn-danger" (click)="selectGrades('Reset')">Reset</button></h3>
                            <div class="form-check" *ngFor="let grade of schoolGrades;">
                                <label class="form-check-label" for="exampleCheck1">
                                    <input type="checkbox" class="form-check-input" [(ngModel)]="gradesIds[grade.id]">
                                    <span>{{grade.grade}} {{grade.section}}</span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Club/Society :</label>
                        <div class="form-check" *ngFor="let c of allSchoolClubsArr">
                            <label class="form-check-label" for="exampleCheck1">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="clubIds[c.id]">
                                {{c.name}}</label>
                        </div>
                    </div>         -->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="assignClub()">Assign</button>
                    <button class="btn btn-danger" (click)="resetForm()">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal To Edit Grades For a Club/Society -->
    <div class="modal fade bd-example-modal-lg" id="assignGradeModal" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel"> Assign Grade : </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Club/Society : {{clubName}}</label>
                    </div>
                    <div class="form-group">

                        <div class="grade-main">
                            <h3 for="recipient-name" class="col-form-label">Grades :
                                <button class="btn btn-success" (click)="selectGrades('All')">Select all</button>
                                <button class="btn btn-danger" (click)="selectGrades('Reset')">Reset</button>
                            </h3>
                            <div class="form-check" *ngFor="let grade of schoolGrades;">
                                <label class="form-check-label" for="exampleCheck1">
                                    <input type="checkbox" class="form-check-input" [(ngModel)]="gradesIds[grade.id]">
                                    <span>{{grade.grade}} {{grade.section}}</span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="assignGrade()">Assign</button>
                    <button class="btn btn-danger" (click)="resetForm()">Reset</button>

                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal for EDIT Supervisor Profile -->
<div class="modal fade bd-example-modal-lg" id="editSupervisorModal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"> Update Profile : </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="updateSupervisorForm" (ngSubmit)="updateSupervisorProfile()">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Name : </label>
                                    <input type="text" class="form-control add" name="name" placeholder="Add Name Here"
                                        formControlName="name">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Email : </label>
                                    <input type="email" class="form-control add" name="email"
                                        placeholder="Add Name Here" formControlName="email">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">DOB : </label>
                                    <input type="date" class="form-control add" name="dob" placeholder="Add DOB Here"
                                        formControlName="dob">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Mobile No : </label>
                                    <input type="tel" class="form-control add" maxlength="10" pattern="[0-9]{10}"
                                        name="mobileNumber" placeholder="Add Mobile Number Here"
                                        formControlName="mobileNumber">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Brief : </label>
                                    <textarea class="form-control" name="profileBrief" rows="3"
                                        formControlName="profileBrief"></textarea>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Gender : </label>
                                    <div class="form-check">
                                        <div class="check-field">
                                            <input class="form-check-input" type="radio" name="gender"
                                                formControlName="gender" value="male">
                                            <label for="">Male</label>
                                        </div>
                                        <div class="check-field">
                                            <input class="form-check-input" type="radio" name="gender"
                                                formControlName="gender" value="female">
                                            <label for="">Female</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Qualification : </label>
                                    <textarea class="form-control" name="qualification" rows="3"
                                        formControlName="qualification"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Year of Enrollment : </label>
                                    <input type="number" class="form-control add" name="yearOfEnrolment"
                                        placeholder="Add Year of Enrollment Here" formControlName="yearOfEnrolment">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Role : </label>
                                    <select class="form-control" name="role" [(ngModel)]="roleName"
                                        [ngModelOptions]="{standalone: true}" (ngModelChange)="updateRole($event)">
                                        <option value='' selected disabled>Select One</option>
                                        <option *ngFor="let role of rolesArr" value={{role.name}}>
                                            {{role.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12"
                                *ngIf="staffDetails.roles.includes('Coordinator') || staffDetails.roles.includes('Head')">
                                <div class="form-group">
                                    <div class="grade-main">
                                        <h3 for="recipient-name" class="">Grades :
                                            <button type="button" class="btn btn-success"
                                                (click)="selectGrades('All')">Select
                                                all</button>
                                            <!-- <button type="button" class="btn btn-danger"
                                                (click)="selectGrades('Reset')">Reset</button> -->
                                        </h3>
                                        <div class="form-check" *ngFor="let grade of schoolGrades;">
                                            <label class="form-check-label" for="exampleCheck1">
                                                <input name="headGrade" type="checkbox" class="form-check-input"
                                                    [(ngModel)]="gradesIds[grade.id]"
                                                    [ngModelOptions]="{standalone: true}">
                                                <span for="grade">{{grade.grade}} {{grade.section}}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"
                        [disabled]="updateSupervisorForm.invalid">Update</button>
                    <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>