<h1>{{staffDetails.name}}</h1>
<h3><button class="btn btn-primary" (click)="showSupervisorModal()">Edit Profile</button></h3>

<div class="row">
    <div [ngClass]="col">
        <div class="photo">
            <img [src]="imagePath">
        </div>

        <div>
            <p>DOB - {{staffDetails.dob ? (staffDetails.dob | date) : "-"}} </p>
            <p>Gender - {{staffDetails.gender ? (staffDetails.gender | titlecase) : "-"}} </p>
            <p>Mobile Number- {{staffDetails.mobileNumber ? staffDetails.mobileNumber : "-"}} </p>
            <p>Email - {{staffDetails.email ? staffDetails.email : "-"}} </p>
            <p>Qualification - {{staffDetails.qualification ? staffDetails.qualification : "-"}} </p>
            <p>Enrollment Year - {{staffDetails.yearOfEnrolment ?  staffDetails.yearOfEnrolment : "-"}}</p>
        </div>
        <button class="btn btn-dark" (click)="setShowClub(true)">Show Clubs/Socities</button>
    </div>

    <div class="col-6" *ngIf="showClub">
        <h3>List of Club/Society <button class="btn btn-danger" (click)="setShowClub(false)">Close</button>
            <button class="btn btn-primary" (click)="showAssignModal()">Edit Club/Society</button>
        </h3>

        <div *ngIf="assignedClubsArr.length">
            <h4><b> Clubs : </b></h4>
            <div *ngFor="let club of assignedClubsArr; let i = index;">
                <div class="card w-50">
                    <div class="card-body">
                        <h5 class="card-title">{{i+1}}. {{club.name}}</h5>
                        <p><b>Grades :</b></p>
                        <div>
                            <span *ngFor="let grade of club.gradeResponses; let i = index">
                                {{ (i === club.gradeResponses.length-1) ? grade.grade + "-" + grade.section : grade.grade + "-" + grade.section  + "," + ' '}}
                            </span>
                        </div>
                        <button class="btn btn-primary" (click)="showGradeEditModal(club)">Update/Assign Grades</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="assignedSocietyArr.length">
            <h4><b> Socities :</b></h4>
            <div *ngFor="let soc of assignedSocietyArr; let i = index;">
                <div class="card w-50">
                    <div class="card-body">
                        <h5 class="card-title">{{i+1}}. {{soc.name}}</h5>
                        <p><b>Grades :</b></p>
                        <div>
                            <span *ngFor="let grade of soc.gradeResponses; let i = index">
                                {{ (i === soc.gradeResponses.length-1) ? grade.grade + "-" + grade.section : grade.grade + "-" + grade.section  + "," + ' '}}
                            </span>
                        </div>
                        <button class="btn btn-primary" (click)="showGradeEditModal(soc)">Update/Assign Grades</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!(assignedSocietyArr.length && assignedClubsArr.length)">
            <br><br>
            <h5><b>No Club/Society Assigned</b></h5>
        </div>
    </div>
</div>

<!-- Modal to Assign Club To a Supervisor/Coordinator -->
<div class="modal fade bd-example-modal-lg" id="assignClubModal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"> Assign Club/Society : </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name of Teacher :
                        {{staffDetails.name}}</label>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Club/Society :</label>
                    <div class="form-check" *ngFor="let c of allSchoolClubsArr">
                        <label class="form-check-label" for="exampleCheck1">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="clubIds[c.id]">
                            {{c.name}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" (click)="resetForm()">Reset</button>
                <button class="btn btn-primary" (click)="assignClub()">Assign</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal To Edit Grades For a Club/Society -->
<div class="modal fade bd-example-modal-lg" id="assignGradeModal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"> Assign Grade : </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Club/Society : {{clubName}}</label>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Grades :</label>
                    <div class="form-check" *ngFor="let grade of schoolGrades;">
                        <label class="form-check-label" for="exampleCheck1">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="gradesIds[grade.id]">
                            {{grade.grade}} {{grade.section}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" (click)="resetForm()">Reset</button>
                <button class="btn btn-success" (click)="assignGrade()">Assign</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal for EDIT Supervisor Profile -->
<div class="modal fade bd-example-modal-lg" id="editSupervisorModal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"> Update Profile : </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="updateSupervisorForm" (ngSubmit)="updateSupervisorProfile()">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Name : </label>
                                    <input type="text" class="form-control add" name="name" placeholder="Add Name Here"
                                        formControlName="name">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Email : </label>
                                    <input type="email" class="form-control add" name="email"
                                        placeholder="Add Name Here" formControlName="email">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">DOB : </label>
                                    <input type="date" class="form-control add" name="dob" placeholder="Add DOB Here"
                                        formControlName="dob">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Mobile No : </label>
                                    <input type="tel" class="form-control add" maxlength="10" pattern="[0-9]{10}"
                                        name="mobileNumber" placeholder="Add Mobile Number Here"
                                        formControlName="mobileNumber">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Gender : </label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender"
                                            formControlName="gender" value="male">Male<br>
                                        <input class="form-check-input" type="radio" name="gender"
                                            formControlName="gender" id="exampleRadios1" value="female">Female
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Qualification : </label>
                                    <textarea class="form-control" name="qualification" rows="3"
                                        formControlName="qualification"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Year of Enrollment : </label>
                                    <input type="number" class="form-control add" name="yearOfEnrolment"
                                        placeholder="Add Year of Enrollment Here" formControlName="yearOfEnrolment">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
                    <button type="submit" class="btn btn-success"
                        [disabled]="updateSupervisorForm.invalid">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>