<form [formGroup]="teacherSignup" (ngSubmit)="onSubmit()">
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p><b>Teacher Registration Form</b></p>
            </div>

            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">Enter Name :*
                            <input type="text" class="form-control" name="name" placeholder="Your Name" formControlName="name" />
                            <small class="text-danger" *ngIf="!teacherSignup.get('name').valid && teacherSignup.get('name').touched">
                                Name Required
                            </small>
                        </div>
                        <div class="form-group">Enter DOB :*
                            <input type="date" class="form-control" name="dob" placeholder="Date of Birth" formControlName="dob" />
                            <small class="text-danger" *ngIf="!teacherSignup.get('dob').valid && teacherSignup.get('dob').touched">
                                DOB Required
                            </small>
                        </div>
                        <div class="form-group">Enter Email :*
                            <input type="email" class="form-control" name="email" placeholder="Your Email" formControlName="email" />
                            <!-- <small class="text-danger" *ngIf="!teacherSignup.get('email').valid && teacherSignup.get('email').touched">
                                Email Required
                            </small> -->
                            <small class="text-danger" *ngIf="!teacherSignup.get('email').valid && teacherSignup.get('email').touched">
                                Email Required
                            </small>
                        </div>
                        <div class="form-group">Enter Mobile no. :
                            <input type="number" class="form-control" name="mobileNumber" placeholder="Your Mobile Number"
                                formControlName="mobileNumber" />
                            
                        </div>
                        <div class="form-group">Select Gender :
                            <select class="form-control" name="gender" placeholder="Select one" formControlName="gender">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">Enter Qualifications :
                            <input type="text" class="form-control" name="qualification" placeholder="Your Qualifications" formControlName="qualification" />
                        </div>
                        <div class="form-group">Select School :
                            <select class="form-control" name="schoolId" (ngModelChange)="getSchoolActivities($event)" formControlName="schoolId" >
                                <option value="" disabled selected>Select School </option>
                                <option *ngFor="let school of schoolsList; let i = index;" value={{school.id}}>
                                    {{school.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">Select Grades :
                            <select class="form-control" name="gradeIds" formControlName="gradeIds" multiple>
                                <!-- <option value="" disabled selected>Select Grade </option> -->
                                <option *ngFor="let grade of schoolGrades; let i = index;" value={{grade.id}}>
                                    {{grade.grade}} {{grade.section}}</option>
                            </select>
                        </div>
                        <div class="form-group">Select Activities :
                            <select class="form-control" name="activities" (ngModalChange)="setIsCoach($event)" formControlName="activityIds" multiple>
                                <!-- <option value="" disabled selected>Select Activities </option> -->
                                <option *ngFor="let activity of schoolActivities; let i = index;" value={{activity.id}}>
                                    {{activity.name}}</option>
                            </select>

                        </div>                        
                    </div>
                </div>
            </div>
            <button class="signup btn btnSubmit btn-success" name="submit" type="submit" [disabled]="teacherSignup.invalid">Submit</button>
        </div>
    </div>
</form>