<nav class="navbar">
  <ul class="navbar-nav">
      <li routerLinkActive='active' class="nav-item">
      <a class="nav-link" routerLink='student-upload'> 
        <i class='fa fa-book-reader'></i>Student</a>
    </li>
    <li routerLinkActive='active' class="nav-item">
      <a class="nav-link" routerLink='supervisor-upload'>
          <i class="fa fa-chalkboard-teacher"></i>Supervisor</a>
    </li>
    <li routerLinkActive='active' class="nav-item">
      <a class="nav-link" routerLink='school-upload'>
          <i class="fa fa-school"></i>School</a>
    </li>
    <li routerLinkActive='active' class="nav-item">
      <a class="nav-link" routerLink='users'>
          Users</a>
    </li>
    <li routerLinkActive='active' class="nav-item">
      <a class="nav-link" routerLink='add-user'>
          Add User</a>
    </li>
    <li routerLinkActive='active' class="nav-item">
      <a class="nav-link" routerLink='create-role'>
          Create Role</a>
    </li>
  </ul>
  <button class="logout btn" (click)="authService.logoutUser();"> 
      <i class="fa fa-sign-out-alt"></i>Logout</button>
</nav>

<router-outlet></router-outlet>


