<div class="teacher_upload">
  <h2> Data Upload Form For Supervisors</h2>
  <div class="card bg-light">
    <div class="card-body text-center">
      <form [formGroup]="teacherBulkForm" (ngSubmit)="uploadTeacher()">
        <div class="input-field">
          <select formControlName="schoolId" name="schoolName">
            <option value="" disabled selected>Select School </option>
            <option *ngFor="let school of schools; let i = index;" value={{school.id}}>{{school.name}}</option>
          </select>
        </div>
        <div class="choosefield input-field">
          <input class="choosefile" type="file" name="selectedFile" (change)="onFileSelect($event)" />
          <span class="choosefile choosefile-custom"> <i class="fa fa-file"></i> </span>
        </div>

        <button class="upload btn" type="submit"> Upload </button>
        <div *ngFor="let sf of files; let i = index;">
          <p>{{sf.name}}
            <button type="button" name="removeFile" (click)="removeFile()" class="reviewed icon_button">
              <i class="fa fa-trash"></i>
            </button>
          </p>
        </div>
      </form>

      <div>

        <button class="download btn" type="button" name="downloadTeacher" (click)="downloadTeacher()">Download Supervisor
          Template</button>
        <a style="display: none;" download #dwnld></a>
      </div>
    </div>
  </div>
</div>