<div class="card bg-light">
    <div class="card-body text-center">
      <h3>Upload Teacher</h3><br>
  
      <div>Select School :  
        <select >
          <option disabled>Select School</option>
          <option *ngFor = "let school of schools" value={{school.name}} >{{school.name}}</option>
        </select>
      </div><br>
  
      <form [formGroup] = "uploadTeacher" (ngSubmit)="onSubmit()">      
        <div>
          <input type="file" name="selectedFile" (change)="onFileSelect($event)" />
        </div><br>
        <div>
          <button type="submit">Upload Students</button>
        </div>
      </form>
  
      <div>
        <br>
        <button type="button" name="" (click)="downloadTeacher()">Download Teacher Template</button>
        <a style="display: none;" download #dwnld></a>
      </div>
    </div>
  </div>
  