<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="card bg-light">
  <div class="card-body text-center">
    <h3> Data Upload Form For Teachers</h3>

    <form [formGroup]="uploadTeacher" (ngSubmit)="onSubmit()">
      Select School : <div class="input-field">
        <select>
          <option value="" disabled selected>Select School </option>
          <option *ngFor="let school of schools; let i = index;" value={{school.id}}>{{school.name}}</option>
        </select>
      </div>
      <div class="input-field">

        <input class="choosefile" type="file" name="selectedFile" (change)="onFileSelect($event)" />
        <span class="choosefile choosefile-custom"> <i class="fa fa-file"></i> </span>
      </div>
      <button class="upload btn" type="submit"> Upload </button>
    </form>

    <div>

      <button class="btn" type="button" name="" (click)="downloadTeacher()">Download Teacher Template</button>
      <a style="display: none;" download #dwnld></a>
    </div>
  </div>
</div>