


<div id="myDIV" class="sidebar">
    <div class="logo">
         <img src="assets/images/logo.jpg">
        <a href=""> My Good School </a>
    </div>
    <div class="menu">
        <ul>
            <li> <a routerLink='./home' class="menu_link"> <i class="fa fa-home"> </i> Home </a> </li>
            <li> <a routerLink='./profile' class="menu_link"> <i class="fa fa-id-badge"> </i> Profile </a> </li>
            <li> <a routerLink='./activity' class="meny_link"> <i class="fa fa-bar-chart"> </i> Activity</a></li>
            <!-- <li>
                <a class="menu_link" (click)="onActivityClick()"> <i class="fa fa-bar-chart" aria-hidden="true"> </i>
                    Activity </a>
                <ul *ngIf="showActivityList">
                    <li routerLink='./activity/saved-activity' class="sub_menu">Saved Activity</li>
                    <li routerLink='./activity/reviewed-activity' class="sub_menu">Reviewed Activity</li>
                </ul>
            </li> -->
            <li>
                <a routerLink='./awards-achievment' class="menu_link"> <i class="fa fa-trophy"> </i> Awards and
                    Achievements </a>
            </li>
        </ul>
    </div>