<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="sidebar">
    <div class="logo">
        <img src="assets/images/logo.jpg">
        <h2> My Good School </h2>
    </div>
    <div class="menu">
        <ul>
            <li>
                <i class="fa fa-home"></i>
                <a routerLink='./home' class="menu_link"> Home </a>
            </li>
            <li>
                <i class="fa fa-id-badge"></i>
                <a routerLink='./profile' class="menu_link"> Profile </a>
            </li>
            <li>
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <a routerLink='./activity' class="menu_link"> Activity </a>
            </li>
            <li>
                <i class="fa fa-trophy"></i>
                <a routerLink='./awards-achievment' class="menu_link"> Awards and Achievements </a>
            </li>
        </ul>
    </div>
    <div class="sidebar_button">
        <div class="logout button">
                <a routerLink='../../login' class="menu_link" (click)="authService.logoutUser();"> Logout </a>
        </div>
    </div>