<div class="card bg-light">
  <div class="card-body text-center">
    <h3>Data Upload Form For Students</h3><br>

    
    <form [formGroup]="studentForm" (ngSubmit)="uploadStudents()">
      <div>Select School :
        <select  formControlName="schoolId">
          <option value="" disabled selected>Select School </option>
          <option *ngFor="let school of schools; let i = index;" value={{school.id}} >{{school.name}}</option>
        </select>
      </div><br>
      <div>
        <input type="file" name="selectedFile" (change)="onFileSelect($event)" />
      </div><br>
      <div>
        <button type="submit">Upload Students</button>
      </div>
    </form>

    <div>
      <br>
      <button type="button" name="" (click)="downloadStudent()">Download Student Template</button>
      <a style="display: none;" download #dwnld></a>
    </div>
  </div>
</div>