<div class="sortby">
    <div class="select-field">
        <label>Grade :</label>
        <select (change)="filterStudents()" [(ngModel)]="gradeId">
            <option value="" selected>All</option>
            <option *ngFor="let grade of schoolGrades" value={{grade.id}}>
                {{grade.grade}} {{grade.section}}
            </option>
        </select>
    </div>
    
    <div class="select-field">
        <label>Search : </label>
    <input type="text" name="search" [(ngModel)]="search" autocomplete="off"
        placeholder="Name or Email..."> 
    </div>
    
</div>

<div class="student-list-card-main">
    <div class="container-fluid">
        <div class="row">
            <div [ngClass]="col">
                <div class="student-list">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Email</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Enrollment Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of studentsArr| filter:search ; let i = index;"
                                (click)="setShowDetails(true,s)" [ngClass]="{'active':studentId==s.id}">
                                <td>{{i+1}}</td>
                                <td>{{s.name}}</td>
                                <td>{{s.grade}} - {{s.section}}</td>
                                <td>{{s.email}}</td>
                                <td>{{s.gender | titlecase}}</td>
                                <td>{{s.yearOfEnrolment}}</td>
                                <!-- <td><button class="btn btn-info" (click)="setShowDetails(true,s)">
                                        <i class="fa fa-edit" title="Edit"></i>
                                    </button></td> -->
                            </tr>
                        </tbody>
                        <tfoot *ngIf="studentsArr.length == 0">
                            <tr>
                                <td colspan="10">
                                    <div *ngIf="student_loader" class="spinner-border text-dark" role="status">
                                    </div>{{student_loader ? 'Loading...' : 'No Students Found'}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
            <div [ngClass]="{'col-7':col=='col-5'}" class="col-5" *ngIf="showDetails">
                <!-- <div class="col-12 student-details" *ngIf="showDetails"> -->

                <button class="btn btn-close btn-danger" (click)="setShowDetails(false)"> <i class="fa fa-times"
                        aria-hidden="true"></i>
                </button>
                <div class="popup-box">
                    <app-student-details [studentDetails]="student_obj" (updatedProfile)="updatedTable($event)">
                    </app-student-details>
                </div>
            </div>
        </div>
    </div>

</div>