.collapse-td{
  padding: 0;
}
.awards .sortby select{
  color: #1f69ad;
}
table.innertable h5{
  color: #1f69ad;
  text-decoration: underline;
}
.awards .description{
  min-height: 200px;
}
table.innertable {
  width: 100%;
  background: white;
}
td.last.collapsed-td {
  padding: 0;
}
td#actname {
  font-size: 21px;
  color: #1f69ad;
}
