<div class="awards">
    <div class="sortby">
        <select name="psdAreas" (change)="filterAwards()" [(ngModel)]="psdAreas">
            <option value="" selected disabled> PSD </option>
            <option value="">None</option>
            <option *ngFor="let ps of psdAreaArr" value={{ps}}>{{ps}}</option>
        </select>
    </div>

    <div class="sortby">
        <select name="focusAreas" (change)="filterAwards()" [(ngModel)]="focusAreas">
            <option value="" selected disabled> Focus Areas </option>
            <option value="">None</option>
            <option *ngFor="let ps of focusAreaArr" value={{ps}}>{{ps}}</option>
        </select>
    </div>

    <div class="sortby">
        <select name="fourS" (change)="filterAwards()" [(ngModel)]="fourS">
            <option value="" selected disabled> 4S </option>
            <option value="">None</option>
            <option *ngFor="let ps of fourSArr" value={{ps}}>{{ps}}</option>
        </select>
    </div>

    <div class="content_main_com">
        <div class="table_main">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">AWARD</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">STUDENT NAME & GRADE</th>
                        <th scope="col">AWARD CRITERIA</th>
                        <th scope="col">CRITERIA VALUE</th>
                        <th scope="col">VALID FROM</th>
                        <th scope="col">VALID TO</th>
                        <th scope="col">STATUS</th>
                    </tr>
                </thead>
                <tbody id="accordionExample">
                    <ng-container *ngFor="let al of awardsArr ; let i = index;">
                        <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                            <td>{{i+1}}</td>
                            <td>{{al.awardType}}</td>
                            <td>{{al.description}}</td>
                            <td>{{al.studentName}} {{al.studentGrade}}</td>
                            <td>{{al.awardCriterion}}</td>
                            <td>{{al.criterionValue}}</td>
                            <td>{{al.validFrom | date }}</td>
                            <td>{{al.validUntil | date}}</td>
                            <td>
                                <div *ngIf="al.status === 'PENDING'" class="pending"> {{al.status}}
                                </div>
                                <div *ngIf="al.status === 'VERIFIED'" class="verified">
                                    {{al.status}} </div>
                            </td>                            
                        </tr>
                        <tr>
                            <td class="collapse-td" colspan="9">
                                <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">
                                    <table class="innertable">
                                        <tbody id="innerAccordionExample">
                                            <ng-container *ngFor="let pa of al.activityPerformedResponses; let i = index;">
                                                <tr data-toggle="collapse" [attr.data-target]="'#collapsed'+i">
                                                    <td>{{i+1}}</td>
                                                    <td id="actname"> {{pa.activityName}}</td>
                                                    <td>Activity Count - {{pa.count}}</td>
                                                    <td>Average Stars - {{pa.averageStars}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="last collapsed-td" colspan="12">
                                                        <div [attr.id]="'collapsed' + i" class="collapse" data-parent="#innerAccordionExample">
                                                            <div *ngFor="let ac of pa.responses; let j = index;">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <div class="assign description">
                                                                            <h5>{{i+1}}.{{j+1}} </h5>
                                                                            <p> <strong>Title - </strong>{{ac.title}} </p>
                                                                            <p> <strong>Description - </strong>{{ac.description}} </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="assign description">
                                                                            <h5> Scoring </h5>
                                                                            <p> <strong>Total Score - </strong>{{ac.totalMarks}} </p>
                                                                            <p> <strong>Remarks - </strong>{{ac.coachRemark}} </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                                                    
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <tfoot *ngIf="awardsArr.length == 0">
                    <tr>
                        <td colspan="9">
                            <div *ngIf="loader" class="spinner-border text-dark" role="status">
                            </div>{{loader ? 'Loading...' :  'No Awards'}}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!-- <div class="content_main_com">
        <div class="table_main">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">AWARD</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">SUPERVISOR</th>
                    </tr>
                </thead>
                <tbody id="accordionExample">
                    <ng-container *ngFor="let awards of awardsArr ; let i = index;">
                        <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                            <td>{{i+1}}</td>
                            <td>{{awards.awardType}}</td>
                            <td>{{awards.description}}</td>
                            <td>{{awards.createdBy}}</td>
                        </tr>
                        <tr>
                            <td class="collapse-td" colspan="7">
                                <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">
                                    <div *ngFor="let ap of awards.activityPerformedResponses; let j = index">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="horz">
                                                    <h5> Activity - {{ap.activityName}} </h5>
                                                    <div class="para">
                                                        <p id="fa"> <strong> Focus Area - </strong>
                                                        </p>
                                                        <span id="fa" *ngFor="let fa of ap.focusAreas; let i = index">
                                                            {{ (i === ap.focusAreas.length-1) ? fa : fa + "," + ' '}}
                                                        </span><br>
                                                        <p id="fa"><strong>PSD Area : </strong></p>
                                                        <span id="fa" *ngFor="let fa of ap.psdAreas let i = index">
                                                            {{ (i === ap.psdAreas.length-1) ? fa : fa + "," + ' '}}
                                                        </span>
                                                        <p> <strong>4's: </strong> {{ap.fourS}} </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="description">
                                                    <p id="title_award"> Activity {{j+1}} Details : </p>
                                                    <p> <strong>Description -
                                                        </strong>{{ap.description}}</p>
                                                    <p> <strong style="color: green">Remarks -
                                                        </strong>{{ap.coachRemark}} </p>
                                                    <p> <strong>Performed Date -
                                                        </strong>{{ap.dateOfActivity | date}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="description">
                                                    <h5> Reviews </h5>
                                                    <p> <strong>Participation Score -
                                                        </strong>{{ap.participationScore}} </p>
                                                    <p> <strong>Initiative Score -
                                                        </strong>{{ap.initiativeScore}}</p>
                                                    <p> <strong>Achievement Score -
                                                        </strong>{{ap.achievementScore}}</p>
                                                    <p> <strong>Total Score -
                                                        </strong>{{ap.totalMarks}}</p>
                                                    <p> <strong>Star - </strong>{{ap.star}}</p>
                                                    <p> <strong>Reviewed Date -
                                                        </strong>{{ap.coachRemarkDate}}</p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="attachment">
                                                    <p *ngIf="ap.fileResponses.length">
                                                        <strong style="text-decoration: underline;">
                                                            Attachments - </strong> </p>
                                                    <div *ngFor="let file of ap.fileResponses">
                                                        <div>
                                                            <a target="_blank" [attr.href]="file.url">
                                                                <i class="fa fa-file-audio"
                                                                    *ngIf="file.extension == 'mp3'"></i>
                                                                <i class="fa fa-image"
                                                                    *ngIf="file.extension=='jpg'"></i>
                                                                <i class="fa fa-video-camera"
                                                                    *ngIf="file.extension=='video'"></i>
                                                                {{file.name}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <tfoot *ngIf="awardsArr.length == 0">
                    <tr>
                        <td colspan="6">
                            <div *ngIf="loader" class="spinner-border text-dark" role="status">
                            </div>{{loader ? 'Loading...' : 'No Awards'}}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div> -->
</div>