<div class="awards">
    <div class="sortby">
        <select name="psdAreas" (change)="filterAwards()" [(ngModel)]="psdAreas">
            <option value="" selected disabled> PSD </option>
            <option value="">None</option>
            <option *ngFor="let ps of psdAreaArr" value={{ps}}>{{ps}}</option>
        </select>
    </div>

    <div class="sortby">
        <select name="focusAreas" (change)="filterAwards()" [(ngModel)]="focusAreas">
            <option value="" selected disabled> Focus Areas </option>
            <option value="">None</option>
            <option *ngFor="let ps of focusAreaArr" value={{ps}}>{{ps}}</option>
        </select>
    </div>

    <div class="sortby">
        <select name="fourS" (change)="filterAwards()" [(ngModel)]="fourS">
            <option value="" selected disabled> 4S </option>
            <option value="">None</option>
            <option *ngFor="let ps of fourSArr" value={{ps}}>{{ps}}</option>
        </select>
    </div>

    <div class="content_main_com">
        <div class="table_main">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Teacher</th>
                    </tr>
                </thead>
                <tbody id="accordionExample">
                    <ng-container *ngFor="let awards of awardsArr ; let i = index;">
                        <tr data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                            <td>{{i+1}}</td>
                            <td>{{awards.name}}</td>
                            <td>{{awards.description}}</td>
                            <td>{{awards.activity.name}}</td>
                            <td>{{awards.createdBy}}</td>
                        </tr>
                        <tr>
                            <td class="collapse-td" colspan="7">
                                <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">
                                    <div *ngFor="let ra of awards.activityPerformedResponses; let j = index">
                                        <div class="row">
                                            <div class="col-12" *ngIf="j==0">
                                                <div class="horz">
                                                    <h5> Activity Performed - {{awards.activity.name}} </h5>
                                                    <div class="para">
                                                        <p id="fa"> <strong>Focus Area - </strong></p>
                                                        <div id="fa" *ngFor="let fa of ra.focusAreas; let i = index">
                                                            <p>{{fa}}
                                                                <span *ngIf="i < ra.focusAreas.length-1"> , </span>
                                                            </p>
                                                        </div>
                                                        <p> <strong>PSD Area - </strong>{{ra.psdAreas}}</p>
                                                        <p> <strong>4's: </strong> {{ra.fourS}} </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="description">
                                                    <p id="title_award"> <strong> Activity {{j + 1}} Details : </strong>
                                                    </p>
                                                    <p> <strong>Date - </strong>{{ra.dateOfActivity | date}}</p>
                                                    <p> <strong>Description - </strong>{{ra.description}}</p>
                                                    <!--
                                                                    <span *ngIf="ra.fourS=='Skill'" style="color: #4bafa5;">
                                                                    {{ra.fourS}}
                                                                </span>
                                                                <span *ngIf="ra.fourS=='Sport'" style="color: #e04090;">
                                                                    {{ra.fourS}}
                                                                </span>
                                                                <span *ngIf="ra.fourS=='Study'" style="color: #1f69ad;">
                                                                    {{ra.fourS}}
                                                                </span>
                                                                <span *ngIf="ra.fourS=='Service'" style="color: #8dc33a;">
                                                                    {{ra.fourS}}
                                                                </span>
                                                               -->
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="description">
                                                    <h5> Scoring : </h5>
                                                    <!--
                                                        <p>
                                                        <strong>Participation Score - </strong>{{ra.participationScore}}
                                                    </p>
                                                    <p>
                                                        <strong>Initiative Score - </strong>{{ra.initiativeScore}}</p>
                                                    <p>
                                                        <strong>Achievement Score - </strong>{{ra.achievementScore}}</p>
                                                    -->
                                                    <p>
                                                        <strong>Total Score - </strong>{{ra.totalMarks}}</p>
                                                    <p>
                                                        <strong>Star - </strong>{{ra.star}}</p>
                                                    <p>
                                                        <strong>Remarks- </strong>{{ra.coachRemark}}</p>
                                                </div>
                                            </div>
                                            <!--
                                                <div class="col-4">
                                                <div class="attachment">
                                                    <h5> Attachments : </h5> {{ra.fileResponses.length ? "" : "NA"}}
                                                    <div *ngFor="let file of ra.fileResponses">
                                                        <div class="audio" *ngIf="file.extension == 'mp3'">
                                                            <i class="fa fa-file-audio"></i> {{file.name}} </div>
                                                        <div class="image" *ngIf="file.extension=='jpg'">
                                                            <i class="fa fa-image"></i> {{file.name}} </div>
                                                        <div class="video" *ngIf="file.extension=='video'">
                                                            <i class="fa fa-video-camera"
                                                                aria-hidden="true"></i>{{file.name}} </div>
                                                    </div>
                                                </div>
                                            </div>
                                           -->
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <tfoot *ngIf="awardsArr.length == 0">
                    <tr>
                        <td colspan="6">
                            <div *ngIf="loader" class="spinner-border text-dark" role="status">
                            </div>{{loader ? 'Loading...' : 'No Awards'}}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>