.collapse-td{
  padding: 0;
}
.awards .sortby select{
  color: #333;
  margin: 0;
}
table.innertable h5{
  color: #333;
  text-decoration: underline;
}
table.innertable {
  width: 100%;
  background: white;
}
td.last.collapsed-td {
  padding: 0;
}
td#actname {
  font-size: 21px;
  color: #1f69ad;
}

.award-main {
  background: white;
  box-shadow: 0 0 5px #ddd;
  padding: 15px;
  width: 100%;
  display: inline-block;
}
.table-hover tbody tr:hover{
  background-color: inherit;
}
.award-main .table_main tbody#accordionExample tr td:nth-child(3) {
  width: 280px;
}
.awards .filter {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  i.fa{
    margin: 0;
  }
}

.collapse-td i.fa {
  margin: 0 3px;
  color: #f3cd0c;
  font-size: 12px;
}
