<div class="sortby" style="float: right"> Filter by:
    <select style="border: 1px solid #ddd" (ngModelChange)="getStudentAwards($event)">
        <option value="All" selected>All</option>
        <option *ngFor="let activity of activities; let i = index;" value={{activity.id}}>
            {{activity.name}}
        </option>
    </select>
</div>

<div class="content_main_com">
    <div *ngIf="loader" class="spinner-border text-dark" role="status">
        <span class="sr-only">Data Loading</span>
      </div>
    <div class="table_main">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date of Receipt</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let awards of awardsArr ; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{awards.description}}</td>
                    <td>{{awards.name}}</td>
                    <td>
                        <div>{{getDate(awards.dateOfActivity) | date}}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>