/* You can add global styles to this file, and also import other style files */

@import '../../angular/src/app/app.component.scss';


*{
    margin: 0;
    outline: none !important;
    box-sizing: border-box;
    border-radius: 0;
}
.card.bg-light {
    margin: 15px 0;
}
.student_upload h2, .teacher_upload h2{
    text-align: center;
    margin: 35px 0;
    color: #333;
    font-family: initial;
    font-size: 32px;
}
.input-field select {
    background: none !important;
    border: none !important;
}
.container.register-form h2 {
    color: #409688;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: serif;
}

/*-------------------------------------MAIN ADMIN-------------------------------------*/

button.download.btn {
    background: #409688;
    color: white;
    padding: 15px 25px;
    font-size: 17px;
    margin-top: 20px;
}
button.upload.btn{
    background: #409688;
    color: white;
    padding: 12px 20px;
    font-size: 17px;
}
button.upload.btn{
    margin-left: 20px;
}
button.btn.logout{
    float: right;
    padding: 15px;
    font-size: 20px;
    background: #969696;
}


/*-------------------------------------FORM-------------------------------------*/

.btn {
    display: inline-block;
    border-radius: 0 !important;
    outline: none !important;
    color: $light;
    border: none !important;
}

.input-field {
    display: inline-block;
    background: white;
    border: solid 1px #ddd;
    padding: 10px 5px;
    margin: 10px;
    border-radius: 0px;
}
input.choosefile {
    opacity: 0;
    position: relative;
    z-index: 2;
    border: none !important;
    width: 100%;
    display: inline-block;
}
.choosefield.input-field {
    position: relative;
}
span.choosefile.choosefile-custom i.fa.fa-file {
    float: left;
    position: absolute;
    left: 17px;
    top: 17px;
    font-size: 15px;
}
span.choosefile.choosefile-custom {
    position: absolute;
    content: "";
    background: none;
    z-index: 1;
    opacity: 1;
    width: 100%;
    right: 0;
    height: 50px;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px white;
    border-radius: 0px;
}
span.choosefile.choosefile-custom:after {
    content: "Choose file...";
    position: absolute;
    width: 70%;
    left: 0;
    padding: 13px 0px;
    color: $black;
    z-index: 1;
}
span.choosefile.choosefile-custom:before {
    content: "Browse";
    position: absolute;
    background: gainsboro;
    width: 30%;
    right: 0;
    padding: 13px 0px;
    color: $black;
    border-radius: 0px;
    z-index: 1;
}

.form-content .form-control {
    margin-top: 5px;
}
.sortby{
    display: inline-block;
    margin: 20px 15px;
    padding: 0px;
    font-size: 17px;
    font-weight: 600;
    color: #e04090;
}
.sortby select {
    border: none !important;
    height: 35px;
    border-radius: 0 !important;
    text-align: center;
    width: 150px;
    font-weight: 600;
    font-size: 16px;
    background: #ddd;
    color: #444;
}

button.btn.btnSubmit.btn-success {
    box-shadow: none;
    border-radius: 0px;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    outline: none !important;
}
.form-control {
    display: block;
    width: 100% !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*-------------------------------------TABLE-------------------------------------*/

table.table {
    margin:0;
}
th{
    font-weight: bold;
}
table.table, tr, th, td{
    border: 1px solid #777 !important;
}
table.submit.table, tr, th, td{
border: 1px solid #777 !important;
}
.table_main{
    display: inline-block;
    width: 100%;
}
.table td, th{
    text-align: center;
}
.table button {
    padding: 5px 15px;
    border-radius: 0;
    margin: 0 5px;
    border-radius: 0;
    box-shadow: 0 0 10px #fff;
    outline: none;
    background: $sidebar;
    color: #fafafa;
}
.main .table_main table thead tr th {
    background: #ddd;
    color: #333;
}

tbody tr{
    cursor: pointer;
    }
.description, .attachment {
    text-align: left;
    padding: 10px;
    display: inline-block;
    width: 100%;
    min-height: 140px;
    vertical-align: bottom;
    position: relative;
}
.attachment:before {
    content: "";
    position: absolute;
    background: #666;
    width: 1px;
    left: 0;
    top: 0;
    bottom: 0;
}
.description:after {
    content: "";
    position: absolute;
    background: #666;
    width: 1px;
    right: -31px;
    top: 0;
    bottom: 0;
    min-height: 261px;
    height: 100%;
}
.buttons{
    margin-top: 78px;
}
td.collapse-td
{
    background: #fafafa;
}
i.fa.fa-user-circle, i.fa.fa-bars{
    padding: 36px 0px;
    font-size: 22px !important;
}
tbody#accordionExample > tr[aria-expanded="true"] {
    background: #ddd;
    color: #333;
}
.description {
    border-right: 1px solid #333;
    min-height: 330px;
}
.description:after, .attachment:before{
    display: none !important;
}
i.fa.fa-sort {
    filter: invert(1);
}
.table_main h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px 0;
}
/*-------------------------------------HOME-------------------------------------*/

app-home{
    display: inline-block;
    width: 100%;
}
.main{
    width:100%;
    display: inline-block;
    vertical-align: top;
}
.main_box{
    width: 100%;
    display: inline-block
}
.content_box{
    width: 100%;
    display: inline-block;
}
.main .content_main {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.content_main_com{
    width: 100%;
    display: inline-block;
    padding: 15px;
}
.content_main img {
    width: 100%;
    vertical-align: top;
    margin: 0;
    padding: 0;
    opacity: 0.7;
}
.home_page_content {
    width: 100%;
    display: inline-block;
    background: none;
    position: absolute;
    top: 60px;
    right: 0;
    float: right;
}
.banner {
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    height: calc(100vh - 107px);
}
.menu_main h1{
    font-size: 40px;
    text-align: left;
    margin: 0 0 30px 0;
    color: #159487;
}

.content_main_com h2{
    font-size: 26px;
    text-align: left;
}
.menu_content p{
    font-size: 16px;
    text-align: left;
    margin: 5px 10px;
}
.menu_content ul{
    margin: 0;
    padding: 0; 
}
.content_main_com h3{
    font-size: 22px;
    color: $black;
    margin: 0;
}
.menu_main{
    width: 50%;
    display: -webkit-inline-box;
    display: inline-block;
    float: left;
    padding: 10px 20px;
    margin: 20px 0;
    font-family: initial;
}
.menu_content {
    width: 100%;
    display: inline-block;
    padding: 5px 15px;
    margin: 0;
    position: relative;
}
.title p{
    text-align: center;
}
.menu_content h3{
    position: relative;
    font-size: 26px;
    margin: 5px 10px;
}
.menu_content h3:before {
    content: url(assets/images/ff1.png);
    position: absolute;
    top: 3px;
    left: -35px;
}
.menu_content li{
    list-style: disc;
    margin: 0 20px;
}


/*-------------------------------------NAVIGATION BAR-------------------------------------*/


.navbar {
    background: #fff;
    color: #555;
    display: inline-block;
    width: 100%;
    padding: 0;
    vertical-align: bottom;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 22;
    box-shadow: 0 0 10px #333;
}
.logo {
    padding: 0;
    float: left;
    margin: 8px 20px;
    width: 10%;
}
.logo img{
    width: 90px;
    cursor: pointer;
}
.menu {
    display: inline-block;
    margin: 0px auto;
    float: left;
    width: 85%;
}
.menu ul {
    padding: 0;
    margin: 0;
    display: inline-flex;
}

li {
    list-style-type: none;
    cursor: pointer;
}
a.menu_link{
    font-size: 19px;
    text-align: left;
    width: 100%;
    display: inline-block;
    padding: 37px 10px;
    color: #555;
    margin: 0 10px;
}
a.logout.menu_link {
    margin: 0;
    padding: 39px 10px;
}
a.logout.menu_link:hover {
    text-decoration: underline;
}
i.fa {
    margin: 0 10px;
}
/*
.navbar .right{
    float: right;
    margin-top: 5px;
}
.divider {
    height: 0;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid $light;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: $btn;
    min-width: 250px;
    z-index: 1;
    transition: transform 0.6s;
    top: 102px;
}
.dropdown-content a {
    color: $light;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content a:hover {color: $black;
cursor: pointer;}

.dropdown:hover .dropdown-content {
   display: block;
   cursor: pointer;
}
.dropdown i.fa:hover{
      color: #ddd;
      cursor: pointer;
}
.navbar i.fa.fa-sign-out:hover {
    color: dimgray;
}
.dropdown i.fa.fa-user-circle {
    font-size: 30px !important;
}
*/

li.cb{
 border-bottom: 5px solid #4bafa5;
}
li.pink {
    border-bottom: 5px solid #e04090;
}
li.blue{
    border-bottom: 5px solid #1f69ad;
}
li.green{
    border-bottom: 5px solid #8dc33a;
}
a.menu_link:hover{
    text-decoration: none;
}
li.active a.menu_link{
    color: #fafafa;
}
li.cb.active{
    background: #4bafa5;
}
 li.pink.active{
    background: #e04090;
}
 li.blue.active{
    background: #1f69ad;
}
 li.green.active{
    background: #8dc33a;
}
nav.navbar
{
     background: #fff;
     display: inline-block;
     width: 100%;
     padding: 0;
}
ul.navbar-nav{
    float: left;
    display: -webkit-inline-box;
}
a.nav-link{
    color: $black;
    font-size: 18px;
    padding: 13px;
}
a.nav-link i.fa, button.logout.btn i.fa{
    margin: 0 10px;
    font-size: 16px;
}

li.nav-item{
    list-style-type: none;
    cursor: pointer;
    display: -webkit-inline-box !important;
    border-right: 1px solid #777;
}
/*-------------------------------------PROFILE-------------------------------------*/
.profile_main{
    width: 100%;
    display: inline-block;
    height: calc(100vh - 145px);
}

.student_main {
    width: 25%;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 0;
    height: 100%;
    border-right: 2px solid #999;
}
.student_main h2, .guardian_main h2 {
    text-align: center;
    font-size: 30px;
    margin: 15px 0;
    color: $black;
}
.student_image {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.student_image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.9;
}
.student_image p {
    font-size: 21px;
    color: #159487;
    margin: 15px 0 0px 0;
}
.student_content{
    display: inline-block;
    margin: 0;
    text-align: left;
    border-top: 2px solid #999;
    padding: 20px 0 0 0;
    line-height: 30px;
}
.student_content p {
    margin: 5px 0;
    font-size: 18px;
    color: #555;
}
.guardian_main p {
    margin: 15px 0;
    font-size: 18px;
    color: #555;
}
.guardian_main {
    width: 72%;
    float: right;
    padding: 0;
    background: none;
}
.student_content h3{
    font-size: 22px;
    color: #159487;
    margin: 0px 0 15px 0;
}
.guardian_profile_card h3 {
    font-size: 22px;
    color: #444;
    position: absolute;
    width: 100px;
    background: #3f9487;
    height: 35px;
    top: -18px;
    padding: 5px 10px;
    border-radius: 2px;
}
.guardian_profile_card {
    width: 45%;
    padding: 35px 10px 0px 10px;
    float: left;
    margin: 35px 15px;
    position: relative;
    background: #adadad;
    box-shadow: 0 0 10px #555;
}

/*-------------------------------------ACTIVITY-------------------------------------*/


.teacher-activities-main {
    float: right;
    width: 40%;
    margin: 0 5px;
    /* background: url(assets/images/activitybg.jpg); 
    background: #91beca; */
    padding: 0 5px;
}
div#fa, p#fa {
    display: inline-block;
}
.teacher-activities {
    background: url(assets/images/board.jpg);
    color: #fafafa;
    padding: 5px 10px;
    opacity: 0.8;
}

p#attachment_name {
    padding: 0 10px;
    text-decoration: underline;
}

