/* You can add global styles to this file, and also import other style files */

@import '../../angular/src/app/app.component.scss';
*{
    margin: 0;
    outline: none !important;
    box-sizing: border-box;
    border-radius: 0;
    font-family: 'Baloo Paaji 2' !important; 
}
.card.bg-light {
    margin: 15px 0;
}
.student_upload h2, .teacher_upload h2{
    text-align: center;
    margin: 35px 0;
    color: #333;
    font-family: initial;
    font-size: 32px;
}
.input-field select {
    background: none !important;
    border: none !important;
}
.container.register-form h2 {
    color: #409688;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: serif;
}

/*-------------------------------------MAIN ADMIN-------------------------------------*/

button.download.btn {
    background: #409688;
    color: white;
    padding: 15px 25px;
    font-size: 17px;
    margin-top: 20px;
}
button.upload.btn{
    background: #409688;
    color: white;
    padding: 12px 20px;
    font-size: 17px;
}
button.upload.btn{
    margin-left: 20px;
}
button.btn.logout{
    float: right;
    padding: 15px;
    font-size: 20px;
    background: #969696;
}

/*-------------------------------------FORM-------------------------------------*/

.btn {
    display: inline-block;
    border-radius: 0 !important;
    outline: none !important;
    color: $light;
    border: none !important;
}
.input-field {
    display: inline-block;
    background: white;
    border: solid 1px #ddd;
    padding: 10px 5px;
    margin: 10px;
    border-radius: 0px;
}
input.choosefile {
    opacity: 0;
    position: relative;
    z-index: 2;
    border: none !important;
    width: 100%;
    display: inline-block;
}
.choosefield.input-field {
    position: relative;
}
span.choosefile.choosefile-custom i.fa.fa-file {
    float: left;
    position: absolute;
    left: 17px;
    top: 17px;
    font-size: 15px;
}
span.choosefile.choosefile-custom {
    position: absolute;
    content: "";
    background: none;
    z-index: 1;
    opacity: 1;
    width: 100%;
    right: 0;
    height: 50px;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px white;
    border-radius: 0px;
}
span.choosefile.choosefile-custom:after {
    content: "Choose file...";
    position: absolute;
    width: 70%;
    left: 0;
    padding: 13px 0px;
    color: $black;
    z-index: 1;
}
span.choosefile.choosefile-custom:before {
    content: "Browse";
    position: absolute;
    background: gainsboro;
    width: 30%;
    right: 0;
    padding: 13px 0px;
    color: $black;
    border-radius: 0px;
    z-index: 1;
}

.form-content .form-control {
    margin-top: 5px;
}
.sortby{
    display: inline-block;
    margin: 20px 15px;
    padding: 0px;
    font-size: 17px;
    font-weight: 600;
    color: #e04090;
}
.sortby select {
    border: none !important;
    height: 35px;
    border-radius: 0 !important;
    text-align: center;
    width: 150px;
    font-weight: 600;
    font-size: 16px;
    background: #ddd;
    color: #444;
}

button.btn.btnSubmit.btn-success {
    box-shadow: none;
    border-radius: 0px;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    outline: none !important;
}
.form-control {
    display: block;
    width: 100% !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*-------------------------------------TABLE-------------------------------------*/

table.table {
    margin:0;
}
thead.thead-light {
    font-size: 19px;
    font-family: serif;
}
table.table, tr, th, td{
    border: 1px solid #777 !important;
}
table.submit.table, tr, th, td{
border: 1px solid #777 !important;
}
.table_main{
    display: inline-block;
    width: 100%;
}
.table td, th{
    text-align: center;
}
.table button {
    padding: 5px 15px;
    border-radius: 0;
    margin: 0 5px;
    border-radius: 0;
    box-shadow: 0 0 10px #fff;
    outline: none;
    background: $sidebar;
    color: #fafafa;
}
.main .table_main table thead tr th {
    background: #ddd;
    color: #e04090;
    font-size: 18px;
}
.main .awards .table_main table thead tr th, .main .teacher_activity_main .table_main table thead tr th {
    color: #0d5ea9;
    font-size: 18px;
}
.main .teacher_awards_main .table_main table thead tr th, .teacher_awards_main i.fa.fa-sort {
    color: #8dc33a;
}
div#assignAwardModal .modal-content {
    border: 5px solid #b4d673;
    top: 100px;
}
tbody tr{
    cursor: pointer;
    }
.description, .attachment {
    text-align: left;
    padding: 10px;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    position: relative;
    height: 100%;
}
.buttons{
    margin-top: 78px;
}
td.collapse-td
{
    background: #fafafa;
}
i.fa.fa-user-circle, i.fa.fa-bars{
    padding: 36px 0px;
    font-size: 22px !important;
}
tbody#accordionExample > tr[aria-expanded="true"] {
    background: #ddd;
    color: #333;
}
.description {
    border-right: 1px solid #333;
}
.description:after, .attachment:before{
    display: none !important;
}
i.fa.fa-sort {
    color: #e04090;
    font-size: 16px;
    margin: 0 !important;
    padding: 0 !important;
}
.table_main h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px 0;
}
/*-------------------------------------HOME-------------------------------------*/

app-home{
    display: inline-block;
    width: 100%;
}
.main{
    width:100%;
    display: inline-block;
    vertical-align: top;
}
.main_box{
    width: 100%;
    display: inline-block
}
.content_box{
    width: 100%;
    display: inline-block;
}
.main .content_main {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.content_main_com{
    width: 100%;
    display: inline-block;
    padding: 15px;
}
.content_main img {
    width: 100%;
    vertical-align: top;
    margin: 0;
    padding: 0;
    opacity: 0.7;
}
.banner {
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    height: calc(100vh - 107px);
}
.student_home, .teacher_home {
    width: 100%;
    display: inline-block;
    padding: 10px;
}
.welcome{
    width: 100%;
    margin: 30px 0 50px 0; 
    display: inline-block;
}
.welcome h2{
    font-size: 34px;
    text-align: center;
    margin: 0;
    float: left;
    width: 90%;
    padding: 0;
}
.en_button{
    float: right;
    width: 10%;
}
button.enrollment_button {
    float: right;
    background: #cecece;
    border: none;
    color: #333;
    box-shadow: 0 0 10px #ddd;
    border-radius: 4px;
    padding: 3px 5px;
    cursor: pointer;
    width: 150px;
}
.left_col{
    width: 30%;
    display: inline-block;
    float: left;
    padding-right: 35px;
    height: 533px;
    overflow-y: auto;
}
.schedule{
    width: 100%;
    float: right;
    display: inline-block;
    text-align: left;
    height: 100%;
    position: relative;
}
.enrolled_main h2, .schedule h2{
    font-size: 30px;
    color: #159487;
    margin: 0 0 15px 0;
}
.day h3 {
    font-size: 22px;
    color: #333 !important;
}
.day {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.day ul li {
    font-size: 17px;
    color: #333;
}
.day ul {
    padding: 0;
    margin: 0;
}
.day:nth-child(1) {
    background: #ecaece;
}
.day:nth-child(2) {
    background: #9fbb73;
}
.day:nth-child(3) {
    background: #8eb6dc;
}
.day:nth-child(4) {
    background: #dea895;
}
.day:nth-child(5) {
    background: #9e9e9e;
}
.day:nth-child(6) {
    background: #846539a6;
}
.day:last-child {
    background: #f5dd60;
}
.cands{
    width: 70%;
    padding: 0 20px 0 35px;
    display: inline-block;
}
.cands h2{
    font-size: 30px;
    color: #159487;
    margin: 0 0 15px 15px;
}
.club_main {
    width: 50%;
    text-align: center;    
    display: inline-block;
}
li#session_title {
    font-size: 20px;
    font-weight: normal;
    word-spacing: 3px;
    padding: 0px;
    margin-top: 10px;
}
.day ul li {
    line-height: 30px;
    padding: 0 20px;
}
.day button{
    cursor: pointer;
    margin: 5px;
    padding: 0 10px;
    background: gainsboro;
    border: none;
    color: #333;
    border-radius: 4px;
}
.act_details_section_two{
    width: 100%;
    display: inline-block;
}
.all_act.modal-content ul {
    padding: 0;
    margin: 0;
}
.all_act.modal-content ul li {
    padding: 0 0 0 20px;
    margin: 0;
}
.all_act.modal-content li#session_title {
    color: red;
}
.all_act.modal-content h5 {
    font-size: 21px;
}
.day_post h3 {
    font-size: 21px;
}
.day_post li#session_title {
    color: #333 !important;
    font-size: 18px;
}
.day_post ul li{
   padding: 0 0 0 20px;
   font-size: 17px;
   color: #333;
}
.act_details_section_two h5, .day_post .day h5{
    font-size: 20px;
    margin: 0;
    float: left;
}
.enr_modal.modal-content select, .all_act.modal-content select, .act_details_section_two select{
    float: right;
    width: 115px;
    height: 29px;
}
li#reference {
    background: black;
    color: white;
    padding: 0;
}
ul.student_list {
    margin-top: 15px;
    padding: 0;
}
.all_act.modal-content .day_post {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
}
ul.student_list li {
    padding: 0;
    font-size: 17px;
    word-spacing: 3px;
}


/*-------------------------------------NAVIGATION BAR-------------------------------------*/


.navbar {
    background: #fff;
    color: #555;
    display: inline-block;
    width: 100%;
    padding: 0;
    vertical-align: bottom;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 22;
    box-shadow: 0 0 10px #333;
}
.logo {
    padding: 0;
    float: left;
    margin: 8px 20px;
    width: 10%;
}
.logo img{
    width: 90px;
    cursor: pointer;
}
.menu {
    display: inline-block;
    margin: 0px auto;
    float: left;
    width: 85%;
}
.menu ul {
    padding: 0;
    margin: 0;
    display: inline-flex;
}

li {
    list-style-type: none;
    cursor: pointer;
}
a.menu_link{
    font-size: 19px;
    text-align: left;
    width: 100%;
    display: inline-block;
    padding: 37px 10px;
    color: #555;
    margin: 0 10px;
}
a.logout.menu_link {
    margin: 0;
    padding: 39px 10px;
}
a.logout.menu_link:hover {
    text-decoration: underline;
}
i.fa {
    margin: 0 10px;
}
/*
.navbar .right{
    float: right;
    margin-top: 5px;
}
.divider {
    height: 0;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid $light;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: $btn;
    min-width: 250px;
    z-index: 1;
    transition: transform 0.6s;
    top: 102px;
}
.dropdown-content a {
    color: $light;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content a:hover {color: $black;
cursor: pointer;}

.dropdown:hover .dropdown-content {
   display: block;
   cursor: pointer;
}
.dropdown i.fa:hover{
      color: #ddd;
      cursor: pointer;
}
.navbar i.fa.fa-sign-out:hover {
    color: dimgray;
}
.dropdown i.fa.fa-user-circle {
    font-size: 30px !important;
}
*/

li.cb{
 border-bottom: 5px solid #4bafa5;
}
li.pink {
    border-bottom: 5px solid #e04090;
}
li.blue{
    border-bottom: 5px solid #1f69ad;
}
li.green{
    border-bottom: 5px solid #8dc33a;
}
a.menu_link:hover{
    text-decoration: none;
}
li.active a.menu_link{
    color: #fafafa;
}
li.cb.active{
    background: #4bafa5;
}
 li.pink.active{
    background: #e04090;
}
 li.blue.active{
    background: #1f69ad;
}
 li.green.active{
    background: #8dc33a;
}
nav.navbar
{
   background: #fff;
   display: inline-block;
   width: 100%;
 padding: 0;
}
ul.navbar-nav{
    float: left;
    display: -webkit-inline-box;
}
a.nav-link{
    color: $black;
    font-size: 18px;
    padding: 13px;
}
a.nav-link i.fa, button.logout.btn i.fa{
    margin: 0 10px;
    font-size: 16px;
}

li.nav-item{
    list-style-type: none;
    cursor: pointer;
    display: -webkit-inline-box !important;
    border-right: 1px solid #777;
}
/*-------------------------------------HOME PAGE DETAILS -------------------------------------*/
.cands ul li a:hover {
    color: chocolate;
}
.cands ul li a {
    color: #333;
}


/*-------------------------------------ACTIVITY-------------------------------------*/

div#fa, p#fa {
    display: inline-block;
}

p#attachment_name {
    padding: 0 10px;
    text-decoration: underline;
}

