<form [formGroup]="studentSignup" (ngSubmit)="onSubmit()">
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p><b>Student Registration Form</b></p>
            </div>
            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">Enter Name :*
                            <input type="text" class="form-control" placeholder="Your Name" formControlName="name" />
                            <small class="text-danger" *ngIf="!studentSignup.get('name').valid && studentSignup.get('name').touched">
                                Name Required
                            </small>
                        </div>
                        <div class="form-group">Enter DOB :*
                            <input type="date" class="form-control" placeholder="Date of Birth" formControlName="dob" />
                            <small class="text-danger" *ngIf="!studentSignup.get('dob').valid && studentSignup.get('dob').touched">
                                DOB Required
                            </small>
                        </div>
                        <div class="form-group">Enter Email :*
                            <input type="email" class="form-control" placeholder="Your Email" formControlName="email" />
                            <small class="text-danger" *ngIf="!studentSignup.get('email').valid && studentSignup.get('email').touched">
                                Email Required
                            </small>
                        </div>
                        <div class="form-group">Enter Mobile no. :
                            <input type="number" class="form-control" placeholder="Your Mobile Number"
                                formControlName="mobileNumber" />
                                <small class="text-danger" *ngIf="!studentSignup.get('mobileNumber').valid">Mobile Number can only be 10 digits</small>
                                
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">Select Gender :*
                            <select class="form-control" placeholder="Select one" formControlName="gender">
                                <option value="" selected>Choose your option</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <small class="text-danger" *ngIf="!studentSignup.get('gender').valid && studentSignup.get('gender').touched">
                                Gender Required
                            </small>
                        </div>
                        <div class="form-group">Select School :*
                            <select class="form-control" formControlName="schoolId" (ngModelChange)="getGrades($event)">
                                <option value="" disabled selected>Select School </option>
                                <option *ngFor="let school of schoolsList; let i = index;" value={{school.id}}>
                                    {{school.name}}</option>
                            </select>
                            <small class="text-danger" *ngIf="!studentSignup.get('schoolId').valid && studentSignup.get('schoolId').touched">
                                School Required
                            </small>
                        </div>
                        <div class="form-group">Select Grade :*
                            <select class="form-control" formControlName="gradeId">
                                <option value="" selected>Select Grade</option>
                                <option *ngFor="let grade of gradesList; let i = index;" value={{grade.id}}>
                                    {{grade.grade}} {{grade.section}}</option>
                            </select>
                            <small class="text-danger" *ngIf="!studentSignup.get('gradeId').valid && studentSignup.get('gradeId').touched">
                                Grade Required
                            </small>
                        </div>
                        <div class="form-group">Session Start Date :
                            <input type="date" class="form-control" placeholder="Session Start Date"
                                formControlName="sessionStartDate" />
                        </div>
                        <div class="form-group">Subscription End Date :
                            <input type="date" class="form-control" placeholder="Subscription end"
                                formControlName="subscriptionEndDate" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-content" formArrayName="guardians">
                <div *ngFor="let gud of guardians.controls; let i = index">
                    <div class="form">
                        <div class="note">
                            <p><b>Guardian Details: <span>{{i+1}}</span></b></p>
                        </div>
                    </div>
                    <div class="row" formGroupName="{{i}}">
                        <div class="col-md-6">
                            <div class="form-group">Enter Name :
                                <input type="text" class="form-control" placeholder="Your Name"
                                    formControlName="name" />
                            </div>
                            <div class="form-group">Enter Email :
                                <input type="email" class="form-control" placeholder="Your Email"
                                    formControlName="email" />
                            </div>
                            <div class="form-group">Enter Mobile no. :
                                <input type="number" class="form-control" placeholder="Your Mobile Number"
                                    formControlName="mobileNumber" />
                                    
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">Select Gender :
                                <select class="form-control" placeholder="Select one" formControlName="gender">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="form-group">Select Relationship :
                                <select class="form-control" placeholder="Select one" formControlName="relationship">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="Father">Father</option>
                                    <option value="Mother">Mother</option>
                                    <option value="Local Guardian">Local Guardian</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" (click)="deleteGuardian(i)">Delete</button>
                    </div>
                </div>
                <div class="add text-right">
                    <button type="button" class="btnSubmit" (click)="addGuardian()">Add Guardian</button>
                </div>
            </div>
            <button class="signup btn btnSubmit btn-success" type="submit" [disabled]="studentSignup.invalid">Submit</button>
        </div>
    </div>
</form>