<form [formGroup]="studentSignup" (ngSubmit)="onSubmit()">
    <div class="container register-form">
            <h2> Student Registration Form </h2>
            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">Enter Name : <span style="color: red"> * </span>
                            <input type="text" class="form-control" name="name" placeholder="Your Name" formControlName="name" />
                            <small class="text-danger" *ngIf="!studentSignup.get('name').valid && studentSignup.get('name').touched">
                                Name Required
                            </small>
                            <small class="text-danger" *ngIf="studentSignup.controls['name'].hasError('pattern')">
                                Only Alphabets allowed
                            </small>
                        </div>
                        <div class="form-group">Enter DOB : <span style="color: red"> * </span>
                            <input type="date" class="form-control" name="dob" placeholder="Date of Birth" formControlName="dob" />
                            <small class="text-danger" *ngIf="!studentSignup.get('dob').valid && studentSignup.get('dob').touched">
                                DOB Required
                            </small>
                        </div>
                        <div class="form-group">Enter Email : <span style="color: red"> * </span>
                            <input type="email" class="form-control" name="email" placeholder="Your Email" formControlName="email" />
                            <small class="text-danger" *ngIf="!studentSignup.get('email').valid && studentSignup.get('email').touched">
                                Email Required
                            </small>
                        </div>
                        <div class="form-group">Enter Mobile no. :
                            <input type="tel" class="form-control" maxlength="10" name="mobileNumber" placeholder="Your Mobile Number"
                                formControlName="mobileNumber" />
                                <small class="text-danger" *ngIf="!studentSignup.get('mobileNumber').valid && studentSignup.get('mobileNumber').touched">
                                    Mobile Number can only be 10 digits
                                </small><br>
                                <small class="text-danger" *ngIf="studentSignup.controls['mobileNumber'].hasError('pattern')">
                                    Only Digits allowed
                                </small>                               
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">Select Gender : <span style="color: red"> * </span>
                            <select class="form-control" name="gender" placeholder="Select one" formControlName="gender" >
                                <option [ngValue]="null" selected disabled>Choose your option</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <small class="text-danger" *ngIf="!studentSignup.get('gender').valid && studentSignup.get('gender').touched">
                                Gender Required
                            </small>
                        </div>
                        <div class="form-group">Select School : <span style="color: red"> * </span>
                            <select class="form-control" name="schoolId" formControlName="schoolId" (ngModelChange)="getGrades($event)">
                                <option [ngValue]="null" disabled selected>Select School </option>
                                <option *ngFor="let school of schoolsList; let i = index;" value={{school.id}}>
                                    {{school.name}}</option>
                            </select>
                            <small class="text-danger" *ngIf="!studentSignup.get('schoolId').valid && studentSignup.get('schoolId').touched">
                                School Required
                            </small>
                        </div>
                        <div class="form-group">Select Grade : <span style="color: red"> * </span>
                            <select class="form-control" name="gradeId" formControlName="gradeId" >
                                <option value="" selected disabled>Select your grade</option>
                                <option *ngFor="let grade of gradesList; let i = index;" value={{grade.id}}>
                                    {{grade.grade}} {{grade.section}}</option>
                            </select>
                            <small class="text-danger" *ngIf="!studentSignup.get('gradeId').valid && studentSignup.get('gradeId').touched">
                                Grade Required
                            </small>
                        </div>
                        <div class="form-group">Session Start Date :
                            <input type="date" class="form-control" name="sessionStartDate" placeholder="Session Start Date"
                                formControlName="sessionStartDate" />
                        </div>
                        <div class="form-group">Subscription End Date :
                            <input type="date" class="form-control" name="subscriptionEndDate" placeholder="Subscription end"
                                formControlName="subscriptionEndDate" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Guardian Form -->
            <div class="form-content" formArrayName="guardians">
                <div *ngFor="let gud of guardians.controls; let i = index">
                    <div class="form">
                        <div class="note">
                            <p><b>Guardian Details: <span>{{i+1}}</span></b></p>
                        </div>
                    </div>
                    <div class="row" formGroupName="{{i}}">
                        <div class="col-md-6">
                            <div class="form-group">Enter Name : <span style="color: red"> * </span>
                                <input type="text" class="form-control" name="'guradianName'+{{i}}" placeholder="Your Name"
                                    formControlName="name" />
                                    <small class="text-danger" *ngIf="gud.get('name').hasError('pattern')">
                                        Only Alphabets allowed
                                    </small>
                            </div>
                            <div class="form-group">Enter Email : <span style="color: red"> * </span>
                                <input type="email" class="form-control" name="'guradianEmail'+{{i}}" placeholder="Your Email"
                                    formControlName="email" />
                                    <small class="text-danger" *ngIf="!gud.get('email').valid && gud.get('email').touched">
                                        Email Required
                                    </small>
                            </div>
                            <div class="form-group">Enter Mobile no. : <span style="color: red"> * </span>
                                <input type="tel" class="form-control" maxlength="10" name="'guradianMob'+{{i}}" placeholder="Your Mobile Number"
                                    formControlName="mobileNumber" />
                                    <small class="text-danger" *ngIf="gud.get('mobileNumber').hasError('pattern')">
                                        Only Numbers allowed
                                    </small>                                    
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">Select Gender : <span style="color: red"> * </span>
                                <select class="form-control" placeholder="Select one" name="'guradianGender'+{{i}}" formControlName="gender">
                                    <option [ngValue]="null" disabled selected>Choose your option</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="form-group">Select Relationship : <span style="color: red"> * </span>
                                <select class="form-control" placeholder="Select one" name="relationship" formControlName="relationship">
                                    <option [ngValue]="null" disabled selected>Choose your option</option>
                                    <option value="Father">Father</option>
                                    <option value="Mother">Mother</option>
                                    <option value="Local Guardian">Local Guardian</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" name="deleteGuardian" (click)="deleteGuardian(i)">Delete</button>
                    </div>
                </div>
                <div class="add text-right">
                    <button type="button" name="addGuardian" class="btnSubmit" (click)="addGuardian()">Add Guardian</button>
                </div>
            </div>
            <button class="signup btn btnSubmit btn-success" namw="submit" type="submit" [disabled]="studentSignup.invalid">Submit</button>
    </div>
</form>