
@import '../../../app.component.scss';

.container.register-form {
    box-shadow: 0 0 10px $box-shadow-color;
    padding: 20px;
    border-radius: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.note {
    font-size: 21px;
    color: $active;
    margin: 20px 0 40px 0;
}
button.btn.btnSubmit.btn-success{
    margin-top: 20px;
    font-size: 17px;
    outline: none;
}
.form-content {
    border-bottom: 1px solid $box-shadow-color;
    padding-bottom: 30px;
}
button.btnSubmit {
    background: #7b7b7b;
    border-radius: 0px;
    color: white;
    padding: 10px 20px;
    font-size: 18px;outline: none;
}
.add{
    margin-top: 20px;
}
