<div class="card-club-details">
    <div class="club-details">
        <div class="header-club">
            <h2>{{clubObj.name}}</h2>
        </div>
        <button class="btn btn-success" (click)="showAssignModal()">Assign Supervisor</button>
        <div class="supervisor-main-card">
            <div class="supervisor-card mt-3" *ngFor="let sup of clubSupervisor; let i = index;">
                <div class="card-body">
                    <h5 class="card-title">{{i+1}}. {{sup.name}}</h5>
                    <!-- <p><b>Grades :</b></p> -->
                    <div class="middle-content">
                        <strong>Grades - </strong>
                        <div *ngFor="let a of sup.activityAndGrades">
                            <div *ngIf="a.id==clubObj.id">
                                <span *ngFor="let grade of a.gradeResponses; let i = index">
                                    {{ (i === a.gradeResponses.length-1) ? grade.grade + "-" + grade.section : grade.grade + "-" + grade.section  + "," + ' '}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" (click)="editGradesButton(sup)">Edit Grades</button>
                    <button class="btn btn-danger" (click)="unassignClub(sup)">Unassign</button>
                </div>
            </div>
        </div>

    </div>
</div>




<!-- <h1>{{clubObj.name}}</h1>
<br><br>
<h3><b> Supervisor : </b></h3>
<button class="btn btn-dark" (click)="showAssignModal()">Assign Supervisor</button>
<br> -->


<div>
    <div *ngIf="!clubSupervisor.length">
        <div *ngIf="sup_loader" class="spinner-border text-dark" role="status">
        </div>{{sup_loader ? 'Loading...' : 'No Supervisor Assigned'}}
    </div>
</div>

<!-- Modal to ASSIGN Club/Society to Supervisor -->
<div class="modal fade bd-example-modal-lg" id="assignSupervisorModal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"> Assign {{clubObj.name}} </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Supervisor/Coordinator</label>
                    <select class="form-control" name="club" [(ngModel)]="supervisorId"
                        (ngModelChange)="getSupervisorClubs($event)">
                        <option value="" selected disabled>Select One</option>
                        <option *ngFor="let sup of supervisorArr" value={{sup.id}}>{{sup.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="grade-main">
                        <h3 for="recipient-name" class="">Grades
                            <button class="btn btn-success" (click)="selectGrades('All')">Select all</button>
                            <!-- <button class="btn btn-danger" (click)="selectGrades('Reset')">Reset</button> -->
                        </h3>
                        <div class="form-check" *ngFor="let grade of schoolGrades;">
                            <label class="form-check-label" for="exampleCheck1">
                                <input id="grade" type="checkbox" class="form-check-input"
                                    [(ngModel)]="gradesIds[grade.id]">
                                <label>{{grade.grade}} {{grade.section}}</label>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" (click)="assignClub()">Assign</button>
                <button class="btn btn-danger" (click)="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal to Edit Grades of Supervisor -->
<div class="modal fade bd-example-modal-lg" id="editGradesModal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"> Edit Grades </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label"> <b>Supervisor/Coordinator :</b>
                        {{supervisorName}}
                    </label>
                    <!-- <select class="form-control" name="club" [(ngModel)]="supervisorId">
                        <option value="" selected disabled>Select One</option>
                        <option *ngFor="let sup of supervisorArr" value={{sup.id}}>{{sup.name}}</option>
                    </select> -->
                </div>
                <div class="form-group">
                    <div class="grade-main">
                        <h3 for="recipient-name" class="">Grades
                            <button class="btn btn-success" (click)="selectGrades('All')">Select all</button>
                            <!-- <button class="btn btn-danger" (click)="selectGrades('Reset')">Reset</button> -->
                        </h3>
                        <div class="form-check" *ngFor="let grade of schoolGrades;">
                            <label class="form-check-label" for="exampleCheck1">
                                <input id="grade" type="checkbox" class="form-check-input"
                                    [(ngModel)]="gradesIds[grade.id]">
                                <label>{{grade.grade}} {{grade.section}}</label>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" (click)="editGrades()">Assign</button>
                <button class="btn btn-danger" (click)="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</div>