.club_socities_card{
    display: inline-block;
    width: 100%;
    padding: 15px;
}
.club_socities_main{
    box-shadow: 0 0 2px #ddd;
    padding: 15px;
    display: inline-block;
    background: #fff;
    width: 100%;

    .sortby{
        .btn{
            border-radius: 3px !important;
            float: right;
        }
    }
}
 
.club_socities_main .select-field{
    margin-right: 15px;
}
.club_socities_main .select-field input, .club_socities_main .select-field select{
    font-size: 15px;
    border: solid 1px #ddd;
    padding: 3px 10px;
    margin: 0 5px;
    color: #555;
    height: 35px;
    
}



.select-field {
    display: inline-block;
    width: auto;
}
.sortby {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}
.club_socities_main table tbody tr:nth-child(odd) {
    background: white;
}
.club_socities_main table tbody tr:nth-child(even) {
    background: rgba(0,0,0,0.03);
}

.action-btns i.fa {
    display: inline-block;
    background: #159487;
    padding: 5px;
    font-size: 12px;
    border-radius: 2px;
    color: white;
}
.action-btns i.fa.fa-user-plus{
    background:#1f69ad;
}

.club_socities_main button.btn.btn-danger {
    font-size: 15px;
    padding: 10px 4px;
    position: absolute;
    right: 15px;
}
table.table tr.active {
    background: rgba(75, 175, 165, 0.8) !important;

    td{
        color: white;
    }
}
.club_socities_main table.table tr {
    cursor: inherit;

    td{
        .action-btns{
            .fa{
                cursor: pointer;
                margin: 0 3px;
                font-size: 12px;

                &.fa-trash{
                    background: #dc3545;
                }
            }
        }

        &:last-child{
            width: 150px;
        }
    }
}



.Study{
    // color: #1f69ad;
    color: white;
    background: rgba(31, 105, 173, 0.8);
    border-radius: 50px;
    line-height: normal;
    padding: 0 10px !important;
    text-align: center;
    margin-left: 5px;
}
.Skill{
    // color: #9fbb73;
    color: white;
    background: rgba(159, 187, 115, 0.8);
    border-radius: 50px;
    line-height: normal;
    padding: 0 10px !important;
    text-align: center;
    margin-left: 5px;
}
.Service{
    // color: #d86ea3;
    color: white;
    background: rgba(216, 110, 163, 0.8);
    border-radius: 50px;
    line-height: normal;
    padding: 0 10px !important;
    text-align: center;
    margin-left: 5px;
}
.Sport{
    color: rgba(75, 175, 165, 0.8);
    color: white;
    background: #4bafa5;
    border-radius: 50px;
    line-height: normal;
    padding: 0 10px !important;
    text-align: center;
    margin-left: 5px;
}
.club-name {
    font-size: 12px;
    margin-left: 0;

}
