<div class="club_socities_card">
    <div class="club_socities_main">
        <div class="sortby">
            <div class="select-field">
                <label>Club/Society :</label>
                <select (change)="filterClubs()" name="club" [(ngModel)]="clubType">
                    <option value="" selected> All </option>
                    <option value="Club"> Club </option>
                    <option value="Society"> Society </option>
                </select>
            </div>

            <div class="select-field">
                <label>4S :</label>
                <select (change)="filterClubs()" name="fourS" [(ngModel)]="fourS">
                    <option value="" selected> All </option>
                    <!-- <option *ngFor="let ps of fourSArr" value={{ps}}>{{ps}}</option> -->
                    <option value="Study" *ngIf="clubType=='' || clubType=='Society'">Study</option>
                    <option value="Skill" *ngIf="clubType=='' || clubType=='Club'">Skill</option>
                    <option value="Sport" *ngIf="clubType=='' || clubType=='Club'">Sport</option>
                    <option value="Service" *ngIf="clubType=='' || clubType=='Society'">Service</option>
                </select>
            </div>
            <div class="select-field">
                <label>Search : </label>
                <input type="text" name="search" [(ngModel)]="search" autocomplete="off" placeholder="Search">
            </div>
            <button class="btn btn-success" data-toggle="modal" data-target="#addClubModal">Add Club/Society</button>
        </div>
        <div class="row">
            <div [ngClass]="col">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Club/Society</th>
                            <th scope="col">4S</th>
                            <th scope="col">Focus Area</th>
                            <th scope="col">PSD Area</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of schoolClubs | filter:search ; let i = index;" 
                        [ngClass]="{'active':clubId==s.id}">
                            <td>{{i+1}}</td>
                            <td>{{s.name}}</td>
                            <td>{{s.clubOrSociety}}</td>
                            <td>{{s.fourS}}</td>
                            <td><span *ngFor="let fs of s.focusAreaResponses; let i = index">
                                    {{ (i === s.focusAreaResponses.length-1) ? fs.name  : fs.name + "," + ' '}}
                                </span>
                                <span *ngIf="!s.focusAreaResponses.length"> - </span></td>
                            <td>
                                <span *ngFor="let psd of s.psdAreas; let i = index">
                                    {{ (i === s.psdAreas.length-1) ? psd  : psd + "," + ' '}}
                                </span>
                            </td>
                            <td>
                                <div class="action-btns">
                                    <i class="fa fa-edit" title="Edit" (click)="setShowWindow('club',s)"></i>
                                    <i class="fa fa-user-plus" title="Supervisor"
                                        (click)="setShowWindow('supervisor',s)"></i>
                                        <i class="fa fa-trash" title="Delete" (click)="deleteClub(s,i)"></i>

                                        
                                        <!-- <button (click)="deleteSavedActivity($event,activity,i)"
                                        class="reviewed icon_button" name="deleteActivity">
                                        <i class="fa fa-trash" title="Delete"></i>
                                    </button> -->
                                </div>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="schoolClubs.length == 0">
                        <tr>
                            <td colspan="10">
                                <div *ngIf="club_loader" class="spinner-border text-dark" role="status">
                                </div>{{club_loader ? 'Loading...' : 'No Club/Society Found'}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-4" id="details-actions" *ngIf="showSupervisor">
                <div class="clubs-details-main">
                    <button class="btn btn-danger" (click)="setShowWindow('No Window')"> <i class="fa fa-close"></i>
                    </button>
                    <app-supervisor-details [clubObj]="club_obj" (updatedClub)="UpdatedTable($event)">
                    </app-supervisor-details>
                </div> 
                
            </div>
            <div class="col-4" id="details-actions" *ngIf="showClubDetails">
               <div class="clubs-details-main">
                <button class="btn btn-danger" (click)="setShowWindow('No Window')"><i class="fa fa-close"></i></button>
                <app-club-details [clubObj]="club_obj" (updatedClub)="UpdatedTable($event)"></app-club-details>
               </div>
            </div>
        </div>
    </div>

</div>


<!-- Add Club / Society Modal -->
<div class="modal fade bd-example-modal-lg" id="addClubModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Session Details</h5> -->

                <h5 class="modal-title" id="exampleModalLabel">Add Club/Society</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addClubForm" (ngSubmit)="addClub()">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name :</label>
                        <input type="text" class="form-control add" name="name" placeholder="Add Name Here"
                            formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Description : </label>
                        <textarea class="form-control" name="qualification" rows="3"
                            formControlName="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">FourS : </label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="fourS" formControlName="fourS"
                                value="Sport">Sport<br>
                            <input class="form-check-input" type="radio" name="fourS" formControlName="fourS"
                                value="Skill">Skill<br>
                            <input class="form-check-input" type="radio" name="fourS" formControlName="fourS"
                                value="Study">Study<br>
                            <input class="form-check-input" type="radio" name="fourS" formControlName="fourS"
                                value="Service">Service
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Club/Society :</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="clubOrSociety"
                                formControlName="clubOrSociety" value="Club">Club<br>
                            <input class="form-check-input" type="radio" name="clubOrSociety"
                                formControlName="clubOrSociety" value="Society">Society<br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Focus Area :</label>
                        <div class="form-check" *ngFor="let fa of focusAreaArr;">
                            <label class="form-check-label" for="exampleCheck1">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="focusareaIds[fa.id]"
                                    [ngModelOptions]="{standalone: true}">
                                <span>{{fa.name}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" [disabled]="addClubForm.invalid">Update</button>
                        <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>